{{extend 'layout.html'}}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
<!--     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDu--SRHoHCMbwyIhDv29b_uTHkTa6sh3o&sensor=true&region=BD"></script>

-->
  </head>
  <body>
  
  <table width="100%" border="0" cellspacing="0" style="margin-left:10px;" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
  
    <td>
    <strong>DRAFT</strong><br>
	<div  id="map-canvas" style="height:600px; width:900px"><img src="{{=URL('static','images/path.png')}}" alt="Image" /></div>
    
    </td>
      </tr>
        </table>
    </div></td>
  </tr>
</table>

 </body>
</html>