{{extend 'layout.html'}}

<link rel="stylesheet" href="{{=URL('static', 'js_and_css/ui.theme.css')}}" type="text/css" />

<link rel="stylesheet" href="{{=URL('static', 'js_and_css/jquery-ui.css')}}" type="text/css" />

<link rel="stylesheet" href="{{=URL('static', 'js_and_css/style.css')}}" type="text/css" />

<script src="{{=URL('static','js_and_css/jquery-1.8.2.js')}}"></script>

<script src="{{=URL('static','js_and_css/jquery-ui.js')}}"></script>

 <style type="text/css">

 input[type=text], input[type=password]{
    margin: 2px 0px 2px 0px;
	width:100px;
}

select {
    margin: 2px 0px 2px 0px;
	width:115px;
}

div.error {
    margin-left:0px;
	width:auto;
}



#status,#sm_invoice_note{
 width:150px;
 }
#sm_invoice_head_note{
 width:150px;
 }

#depot_id,#client_id,#rep_id{
 width:200px;
 }
#sl{
 width:140px;
 }
#sl,#status{
 background-color:#F7F7F7;
}

#sm_invoice_quantity,#sm_invoice_bonus_qty{
 width:60px;
 text-align:right;
 }

.page_color,body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;	
}

 </style>


<script>

var base_url=location.protocol + "//" + location.hostname + (location.port && ":" + location.port) + "/{{=request.application}}/";

$(function() {		
		$("#sm_invoice_discount").attr("readonly",true);	
		$("#sm_invoice_head_discount").attr("readonly",true);
		$("#sm_invoice_bonus_qty").attr("readonly",true);
				
		var batchListStr="";
		
	 	var valueListStr=localStorage.itemDataStr;
		
		$('#item_details').keyup(function(){

			//-------------------------
			var valueList = valueListStr.split(',');				

			var searchValue=$("#item_details").val();

			//---------------- auto complete combo list

			var valueList_new=new Array();

			lc=0;

			i =0;

			var valueStr="";				

			while (i < valueList.length)

			{
				var valueStrList=valueList[i].split('|');				
				valueStr=valueStrList[0]+'|'+valueStrList[1]+'|'+valueStrList[2]+'|'+valueStrList[4]
				//valueStr=valueList[i];

				i=i+1;					

				var res=valueStr.toUpperCase().match(searchValue.toUpperCase());

				if (res!=null){

					valueList_new[lc]=valueStr;

					lc=lc+1;

					if (lc==30){

						break;

					};

				}else{

					continue;

				}					

			};

			//alert (ref_list_new);

			//-------------- auto complete source

			$( "input#item_details" ).autocomplete({

				source: valueList_new

			});

		

	  }); 

	   //==============	 

	   $('#item_details').blur(function(){

		   var my_array=new Array();

			my_array=$("#item_details").val().split('|');
			
			if (my_array.length == 4){
				document.getElementById('item_name').value=my_array[0];
				document.getElementById('item_id').value=my_array[1];
				document.getElementById('category_id').value=my_array[2];
				document.getElementById('price').value=my_array[3];
				
				document.getElementById('name_value').innerHTML = my_array[0];
				document.getElementById('id_value').innerHTML = my_array[1];
				document.getElementById('category_value').innerHTML = my_array[2];
				document.getElementById('price_value').innerHTML = my_array[3];	
				
				//--------------- get item batch id
				$.ajax({
				  url: base_url+'default/get_batch_by_item?itemId='+my_array[1],
				  success: function(resStr) {
					  batchListStr=resStr;
				  }
				});						

			};

		   

		}); 

		

		//================

		var valueListStr1="";		

		$('#depot_id').keyup(function(){

			$.ajax({

				  url: base_url+'default/get_depot_list',

				  success: function(resStr) {

					  valueListStr1=resStr

				  }

				});

			

			//-------------------------

			var valueList = valueListStr1.split(',');				

			var searchValue=$("#depot_id").val();

			

			//---------------- auto complete combo list

			var valueList_new=new Array();

			lc=0;

			i =0;

			var valueStr="";				

			while (i < valueList.length)

			{

				valueStr=valueList[i];

				i=i+1;					

				var res=valueStr.toUpperCase().match(searchValue.toUpperCase());

				if (res!=null){

					valueList_new[lc]=valueStr;

					lc=lc+1;

					if (lc==30){

						break;

					};

				}else{

					continue;

				}

			};

			

			//-------------- auto complete source

			$( "input#depot_id" ).autocomplete({

				source: valueList_new

			});

	  });

	  

	   //==============	

	   var valueListStr2="";		

		$('#client_id').keyup(function(){

			var depotValue=$("#depot_id").val().split('|')[0];

			$.ajax({

				  url: base_url+'default/get_depot_client_list?depot='+depotValue,

				  success: function(resStr) {

					  valueListStr2=resStr

				  }

				});

			

			//-------------------------

			var valueList = valueListStr2.split(',');				

			var searchValue=$("#client_id").val();

			

			//---------------- auto complete combo list

			var valueList_new=new Array();

			lc=0;

			i =0;

			var valueStr="";				

			while (i < valueList.length)

			{

				valueStr=valueList[i];

				i=i+1;					

				var res=valueStr.toUpperCase().match(searchValue.toUpperCase());

				if (res!=null){

					valueList_new[lc]=valueStr;

					lc=lc+1;

					if (lc==30){

						break;

					};

				}else{

					continue;

				}

			};

			

			//-------------- auto complete source

			$( "input#client_id" ).autocomplete({

				source: valueList_new

			});

	  });

		

		//==============	 

	   

	   var valueListStr3="";		

		$('#rep_id').keyup(function(){

			//var depotValue=$("#depot_id").val().split('|')[0];
			var clientID=$("#client_id").val().split('|')[0];
			
			$.ajax({
				  url: base_url+'default/get_customer_ff_list?clientID='+clientID,
				  success: function(resStr) {
					  valueListStr3=resStr
				  }
				});
			
			//-------------------------

			var valueList = valueListStr3.split(',');				

			var searchValue=$("#rep_id").val();

			

			//---------------- auto complete combo list

			var valueList_new=new Array();

			lc=0;

			i =0;

			var valueStr="";				

			while (i < valueList.length)

			{

				valueStr=valueList[i];

				i=i+1;					

				var res=valueStr.toUpperCase().match(searchValue.toUpperCase());

				if (res!=null){

					valueList_new[lc]=valueStr;

					lc=lc+1;

					if (lc==30){

						break;

					};

				}else{

					continue;

				}					

			};

			//alert (ref_list_new);

			

			//-------------- auto complete source

			$( "input#rep_id" ).autocomplete({

				source: valueList_new

			});

	  });

		//==============	 

	   

	   var valueListStr4="";		

		$('#d_man_id').keyup(function(){

			var depotValue=$("#depot_id").val().split('|')[0];

			$.ajax({

				  url: base_url+'default/get_depot_delivery_man_list?depot='+depotValue,

				  success: function(resStr) {

					  valueListStr4=resStr

				  }

				});

			

			//-------------------------

			var valueList = valueListStr4.split(',');				

			var searchValue=$("#d_man_id").val();

			

			//---------------- auto complete combo list

			var valueList_new=new Array();

			lc=0;

			i =0;

			var valueStr="";				

			while (i < valueList.length)

			{

				valueStr=valueList[i];

				i=i+1;					

				var res=valueStr.toUpperCase().match(searchValue.toUpperCase());

				if (res!=null){

					valueList_new[lc]=valueStr;

					lc=lc+1;

					if (lc==30){

						break;

					};

				}else{

					continue;

				}					

			};

			//alert (ref_list_new);
			
			//-------------- auto complete source

			$( "input#d_man_id" ).autocomplete({

				source: valueList_new

			});

	  });

	  
	//==============	item batch add ajax	
	$('#batch_id').keyup(function(){
			
			var itemId=$('#item_id').val();
			
			//-------------------------
			$.ajax({
			  url: base_url+'default/get_batch_by_item?itemId='+itemId,
			  success: function(resStr) {
				  batchListStr=resStr;
			  }
			});
			
			var valueList = batchListStr.split(',');
			var searchValue=$("#batch_id").val();			
			//---------------- auto complete combo list
						
			var valueList_new=new Array();
			
			lc=0;	
			i =0;	
			var valueStr="";
			while (i < valueList.length){
				var valueStr=valueList[i];				
				//valueStr=valueStrList[0]+'|'+valueStrList[1]
				
				i=i+1;					

				var res=valueStr.toUpperCase().match(searchValue.toUpperCase());

				if (res!=null){

					valueList_new[lc]=valueStr;

					lc=lc+1;

					if (lc==30){

						break;

					};

				}else{
					continue;
				}					

			};
			
			//-------------- auto complete source

			$( "input#batch_id" ).autocomplete({
				source: valueList_new
			});	
	  }); 
	  
}); 

//==============	item batch update ajax	
var batchListUpdateStr="";

function hideBtnPostCancel(){					
	$("#btn_post").hide();
	$("#btn_cancel").hide();
	$("#btn_hold").hide();
	$("#btn_unhold").hide();
	$("#btn_reProcess").hide();
	$("#btn_acknowledge").hide();
	$("#btn_apply_regDiscount").hide();	
};

function batch_id_update_reset(){					
	batchListUpdateStr='';
};

function batch_id_update_keyup(itemIdRowid){					
	var itemId=itemIdRowid.split('_')[0];
	
	//-------------------------
	$.ajax({
	  url: base_url+'default/get_batch_by_item?itemId='+itemId,
	  success: function(resStr) {
		  batchListUpdateStr=resStr;
	  }
	});
	
	var searchValue=$("#batch_id_update_"+itemIdRowid).val();	
	var valueList = batchListUpdateStr.split(',');
				
	//---------------- auto complete combo list
	
	var valueList_new=new Array();
	
	lc=0;	
	i =0;	
	var valueStr="";
	while (i < valueList.length){
		var valueStr=valueList[i];				
		//valueStr=valueStrList[0]+'|'+valueStrList[1]
		
		i=i+1;					

		var res=valueStr.toUpperCase().match(searchValue.toUpperCase());

		if (res!=null){

			valueList_new[lc]=valueStr;

			lc=lc+1;

			if (lc==30){

				break;

			};

		}else{
			continue;
		}					

	};
	
	//-------------- auto complete source

	$( "input#batch_id_update_"+itemIdRowid).autocomplete({
		source: valueList_new
	});

}; 

</script>


<body class="claro"> 

<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;" >

  <tr height="30px" >

    <td width="500"><span class="blackCatTitle">Invoice/Delivery -Add </span></td>

    <form id="form1" name="form1" method="post" action="{{=URL(c='order_invoice',f='invoice_generate',vars=dict(req_sl=-1))}}">

	  <td width="250" align="right">
      {{if access_permission==True:}}
	    <!--<input type="submit" name="btn_new" id="btn_new" value="New"  class="button_update"/>-->
      {{pass}}
      
      {{if check_role('rm_print_manager_view'):}}
        <a href="{{=URL(c='print_manager',f='print_invoice')}}"><input type="button" name="" id="" value="Print Manager"  class="button_update" title=""/></a>
      {{pass}}
		</td>
	  <td width="250" align="right">&nbsp;</td>

    </form>

    <td>&nbsp;</td>

  </tr>

  <tr  height="1px" style="background-color:#CCCCCC;">

	    <td colspan="4" ></td>

  </tr>

</table>

  <table width="100%" height="500px"  border="0" cellspacing="0" cellpadding="0" class="page_color" id="full_page"  >

  <tr height="100%"  style="vertical-align:top;">

    <td>

	<!--start-->

    

	<table width="100%"  border="0" cellpadding="0" cellspacing="0"  >

      <tr>

        <td width="0%">&nbsp;</td>

        <td colspan="2">&nbsp;</td>

      </tr>

      <tr>

        <td>&nbsp;</td>

        <td colspan="2">

          <table width="900" height="78" border="0" cellpadding="0" cellspacing="0">

            <tr>

			<td width="350" valign="top">

			<table width="350" class="blackCat">			  

                {{=form.custom.begin}}				

                <tr>

        			<td width="60">Branch</td>

                  	<td width="250">: 

                    

                    {{if depot_id=='' or depot_id==None:}}

                        <input type="text" name="depot_id" id="depot_id" size="25" value="" placeholder="Select Depot" autocomplete="off" style="width:200px"/>

                    {{else:}}

                    	<input type="text" name="depot_id" id="depot_id" size="25" value="{{=depot_id}}|{{=depot_name}}" placeholder="Select Depot" autocomplete="off" style="width:200px;background-color:#F7F7F7;" readonly/>

                    {{pass}}

                                        

                    </td>

                </tr>

      <tr>

        <td width="60">INV.Sl </td>

        <td width="250">: INV{{=depot_id}}-<input type="text" name="sl" id="sl" value="{{=sl}}" readonly/></td>

        </tr>

      <tr>
        <td>Store</td>
        <td>:
        {{if int(sl)<=0:}}
        	<select name="store_id" id="store_id" style="width:215px;">
				<option value=""></option>
				{{for row in storeRecords:}}
					<option value="{{=row.store_id}}|{{=row.store_name}}" >{{=row.store_id}} | {{=row.store_name}}</option>
				{{pass}}
			</select>
		{{else:}}
        	<input type="text" name="store_id" id="store_id" value="{{=store_id}}|{{=store_name}}" style="background-color:#F3F3F3;width:200px;" readonly/>
		{{pass}}
        
        </td>
      </tr>
      <tr>

        <td width="60">Client/Retailer</td>

        <td width="250">: 

        

        {{if client_id=='' or client_id==None:}}

            <input type="text" name="client_id" id="client_id" size="25" value="" placeholder="Select Client" autocomplete="off" style="width:200px"/>

        {{else:}}

            <input type="text" name="client_id" id="client_id" size="25" value="{{=client_id}}|{{=client_name}}" placeholder="Select Client" autocomplete="off" style="width:200px;background-color:#F7F7F7;" readonly/>

        {{pass}}

                

        </td>

      </tr>

      <tr>

        <td width="60">Rep/Sup</td>

        <td width="250">: 

          {{if rep_id=='' or rep_id==None:}}

          <input type="text" name="rep_id" id="rep_id" size="25" value="" placeholder="Select Rep" autocomplete="off" style="width:200px"/>

          {{else:}}

          <input type="text" name="rep_id" id="rep_id" size="25" value="{{=rep_id}}|{{=rep_name}}" placeholder="Select Rep" autocomplete="off" style="width:200px;background-color:#F7F7F7;" readonly/>

          {{pass}}

          

          </td>

      </tr>
      <tr>
        <td>D.Man</td>
        <td>:
        {{if d_man_id=='' or d_man_id==None:}}            
            <input type="text" name="d_man_id" id="d_man_id" size="25" value="" placeholder="Delivery Man" autocomplete="off" style="width:200px" readonly/>
        {{else:}}
            <input type="text" name="d_man_id" id="d_man_id" size="25" value="{{=d_man_id}}|{{=d_man_name}}" placeholder="Select Delivery Man" autocomplete="off" style="width:200px;background-color:#F7F7F7;" readonly/>
        {{pass}}
      </td>
      </tr>
	
      </table>

          </td>

          <td width="250" valign="top">

          <table width="300" class="blackCat">
		
        
        <tr >
        <td width="100" align="left">Order SL </td>
        <td width="150" >:
          {{if order_sl!=0:}}
              <input type="text" name="order_sl" id="order_sl" style="width:70px" value="{{=order_sl}}" readonly title="enter order number"/>{{else:}}<input type="text" name="order_sl" id="order_sl" style="width:70px" value="" title="enter order number"/>
          {{pass}}
          
          {{if status=='Draft' and order_sl!=0 and len(records)==0:}}
          	&nbsp;<input type="submit" name="btn_import_req" style="width:30px; font-weight:bold;" id="btn_import_req" value=" I " title="Import from order"/>
          {{pass}}
          
      </td>
      </tr>
      
      <tr>
        <td width="100">Date</td>
        <td width="150">:&nbsp;<input name="delivery_date" type="Text" id="delivery_date" value="{{=delivery_dt}}" readonly  />
		</td>

      </tr>
		
      <tr>
        <td>Invoice Term </td>
        <td>:
          {{if rowid==0:}}
          {{=form.custom.widget.payment_mode}}&nbsp;
          {{else:}}
          {{=form_head.custom.widget.payment_mode}}&nbsp;
          {{pass}}</td>
      </tr>
      <tr>
        <td>Credit Type</td>
        <td>:
          {{if rowid==0:}}
          {{=form.custom.widget.credit_note}}&nbsp;
          {{else:}}
          {{=form_head.custom.widget.credit_note}}&nbsp;
          {{pass}}</td>
      </tr>
      
      <tr>

        <td>Discount</td>

        <td>:

          {{if rowid==0:}}

          {{=form.custom.widget.discount}}&nbsp;

          {{else:}}

          {{=form_head.custom.widget.discount}}&nbsp;

          {{pass}}</td>

      </tr>

      </table>

			  </td>

              <td align="right" valign="top"><div align="left">

			    <table class="blackCat">

                  <tr>

                    <td>Status</td>

                    <td>:&nbsp;<input type="text" name="status" id="status" style="font-weight:bold" value="{{=status}}" readonly/></td>

                  </tr>

                  <tr>

                    <td>Notes</td>

                    <td>:{{if rowid==0:}}

                      {{=form.custom.widget.note}}&nbsp;

                      {{else:}}

                      {{=form_head.custom.widget.note}}&nbsp;

                      {{pass}}

                  </td>

                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>
                    
                    {{if ((status=='Invoiced') or (status=='Blocked') or (status=='Cancelled') or (sl<=0) or (access_permission!=True)):}}

                      &nbsp;

                      {{else:}}						
                        {{if acknowledge_flag==1:}}
                           &nbsp; <input type="checkbox" name="acknowledge_check" id="acknowledge_check" value="YES" title="Confirmation to Acknowledgement" style="width:18px; height:18px;"/><span style="background-color:#FFFFC4">Acknowledge</span>
                        {{pass}}                        
                      {{pass}}
                    
                    
                    </td>
                  </tr>

                  

                  <tr>

                    <td>&nbsp;</td>

                    <td> {{if ((status=='Invoiced') or (status=='Blocked') or (status=='Cancelled') or (sl<=0) or (access_permission!=True)):}}

                      &nbsp;

                      {{else:}}
						
                      &nbsp;&nbsp;<input type="submit" name="btn_update" id="btn_update" style="width:100px; height:30px;" value="Update"/>

                      {{pass}} </td>

                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="2">Priority Offer: {{if promo_ref==0:}}No{{else:}}<strong>Yes</strong>{{pass}}</td>
                    </tr>

                  

                </table>

			  </div>

			  

			  </td>

            </tr>

			

            <tr id="">

              <td colspan="2" valign="top">&nbsp;</td>

              <td align="right">

              {{if ((status=='Invoiced') or (status=='Blocked') or (status=='Cancelled') or (access_permission!=True)):}}&nbsp;

					{{else:}}<!--<input name="button" type="button" class="button_update" id="btn_batch"  title="Add New Batch"  value=" + "/>-->

			{{pass}}</td>

            </tr>

            

			{{if access_permission==True:}}

			<!--<tr id="upload_div">

              <td colspan="2" valign="bottom">Download this <a href="{{=URL('static','invoice_upload_format.xls')}}">Excel Template</a> , fillup with data and copy(maximum 30 records)-paste to upload field<br/>

			  &nbsp;Total Record:{{=total_row}};&nbsp;Saved:{{=count_inserted}};&nbsp;Error:{{=count_error}}			

			  <br />

			  <textarea name="error_data" id="error_data" style="font-size:10px; background-color:#F5F5F5; border:solid; border-width:1px" cols="80" rows="3">{{if error_str!=None:}}{{=error_str}}{{pass}}</textarea>			  </td>

              <td align="right">

			  <textarea name="input_data" id="input_data" style="font-size:10px" cols="50" rows="7" ></textarea>
				
			  <input type="submit" name="btn_batch_upload" id="btn_batch_upload" value="Upload"/>

			  <input type="button" id="btn_hide"  value="  -  "  class="button_update" title="Hide New Batch"/>			  </td>

            </tr>-->

			{{pass}}

			

            <tr>

              <td colspan="3">

			  

			  <table width="1000" border="1" cellpadding="1" cellspacing="1" class="sample_border" >

                  

				  {{if access_permission==True:}}

				  {{if not(status=='Invoiced' or status=='Blocked' or status=='Cancelled'):}}

                      <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">

                        <td colspan="10" style="font-size:9px;"><strong>Name:</strong> <span id="name_value"></span>,&nbsp;<strong>Category:</strong> <span id="category_value"></span>,&nbsp;<strong>Price:</strong> <span id="price_value"></span>,&nbsp;<strong>ID:</strong> <span id="id_value"></span></td>
                        <td width="80" align="right"  >&nbsp;</td>

                        <td width="80" align="right"  >&nbsp;</td>

                        <td align="center"  >&nbsp;</td>

                        <td width="20" colspan="2" align="right"  >&nbsp;</td>

                      </tr>

					  

                    <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">

                    <td colspan="4" >
                      
                      <input type="hidden" name="item_id" id="item_id" />					
                      
                      <input type="hidden" name="item_name" id="item_name" />
                      
                      <input type="hidden" name="category_id" id="category_id" />
                      
                      <input type="hidden" name="price" id="price" />
                      
                      
                      
                      <input type="text" name="item_details" id="item_details" style="width:300px;" value="" placeholder="Select Item" autocomplete="off" autofocus/>
                      
                      
                      
                    </td>

                    <td width="80" align="left"  ><input type="hidden" name="batch_id" id="batch_id" style="width:80px;" value="" placeholder="Batch ID by Item ID" title="Batch ID by Item ID" autocomplete="off" readonly /></td>

                    <td width="60" align="right"  >{{=form.custom.widget.quantity}} </td>

                    <td width="60" align="right"  ><input type="hidden" name="bonus_qty" id="bonus_qty" value="0" autocomplete="off" />{{#=form.custom.widget.bonus_qty}}</td>
                    <td width="60" align="right"  >&nbsp;</td>

                    <td width="60" align="right"  >&nbsp;</td>
                    <td width="60" align="right"  >&nbsp;</td>
                    <td width="80" align="right"  >&nbsp;</td>

                    <td width="80" align="right"  >&nbsp;</td>

                    <td align="center"  ><input type="hidden" name="short_note" id="short_note" value="" autocomplete="off" />{{#=form.custom.widget.short_note}}</td>

                    <td width="20" colspan="2" align="right"  >
                    {{#if rowid!=0:}}{{=form.custom.submit}}{{#pass}}
                    </td>

                  </tr>

				  {{pass}}

				  {{pass}}

				  {{=form.custom.end}}

				

				  <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">                    

                    <td >Name</td>

					<td width="60" >Item ID</td>

                    <td width="60" align="left"  >Category</td>
                    <td width="50" align="left"  >UOM</td>
                    <td width="80" align="left"  >Batch ID</td>

                    <td width="60" align="right"  >Qty</td>

                    <td width="60" align="right"  >BonusQty </td>
                    <td width="60" align="right"  >TP</td>

                    <td width="60" align="right"  >TP(Premium/ <br>
                      Discounted)</td>
                    <td width="60" align="right"  >Vat</td>
                    <td width="80" align="right"  >Special Discount</td>

                    <td width="80" align="right"  >Total TP</td>

                    <td align="center"  >Short Note </td>

                    <td width="20" colspan="2" align="right"  >&nbsp;</td>

                  </tr>
			
			{{spDiscountTotal=0}}            
            {{vatTotal=0}}
            {{total_tp=0}}
            
            {{ p=0}}
			{{gross_total=0.0}}
           {{for record in (records):}}
				
				{{qty=0;rate=0}}
				
                {{readonlyQty=''}}
                {{readonlyBQty=''}}
                
                {{if int(record.quantity)==0:}}
                    {{readonlyQty='readonly'}}
                {{pass}}
                
                {{if int(record.bonus_qty)==0:}}
                    {{readonlyBQty='readonly'}}
                {{pass}}
                
				{{itemid_rowid=str(record.item_id)+'_'+str(record.id)}}
			
            <form id="form1" name="form1" method="post" action="{{=URL(c='order_invoice',f='update_invoice_item',args=[depot_id,sl,record.item_id,record.id])}}"> 
			
            {{rowbgColor='font-size:12px'}}
             {{if record.batch_id=='':}}
            	{{rowbgColor='font-size:12px;background-color:#FFC6C6'}}
             {{pass}}
             
			<tr  align="left" class="blackCat"  style="{{=rowbgColor}}"> 			  

			  <td >{{=record.item_name}}</td>

			  <td width="60" >{{=record.item_id}}</td>

			  <td width="60" align="left" >{{=record.category_id}}</td>
			  <td width="50" align="left" >{{=record.item_unit}}</td>
			  <td width="80" align="left" ><input type="text" name="batch_id_update_{{=itemid_rowid}}" id="batch_id_update_{{=itemid_rowid}}" style="width:80px;" value="{{=record.batch_id}}" onKeyUp="batch_id_update_keyup('{{=itemid_rowid}}')" onBlur="batch_id_update_reset()" placeholder="Select Batch ID by Item ID" title="Select Batch ID by Item ID" autocomplete="off" /></td>
				
			  <td width="60" align="right" >{{qty=record.quantity}}<input type="text" name="rowQty" style="width:50px; text-align:right;" value="{{=qty}}" {{=readonlyQty}} /></td>

			  <td width="60" align="right" >{{bonus_qty=record.bonus_qty}}<input type="text" name="rowBonusQty" style="width:50px; text-align:right;" value="{{=bonus_qty}}" {{=readonlyBQty}} /></td>
			  <td width="60" align="right" >{{actualTp=record.actual_tp}}{{=actualTp}}</td>
				
			  <td width="60" align="right" >{{rate=record.price}}{{=rate}}<!--<input type="text" name="rowRate_{{#=itemid_rowid}}" style="width:50px; text-align:right;" value="{{#=rate}}"/>--></td>
			  <td width="60" align="right" >{{itemVat=record.item_vat}}{{=itemVat}}</td>
			  <td width="80" align="right" >{{spDiscount=(actualTp-rate)*qty}}<!--{{#if spDiscount < 0:}}{{#spDiscount=0}}{{#pass}}-->{{spDiscountTotal+=spDiscount}}{{if spDiscount!=0:}}{{=easy_format(spDiscount)}}{{pass}}</td>

			  <td width="80" align="right" >{{tpAmt=qty*actualTp}}{{=easy_format(tpAmt)}}{{total_tp+=tpAmt}}{{vatTotal+=qty*itemVat}}</td>

			  <td align="center" style="font-size:10px">{{=record.short_note}}</td>
				
			  <td width="20" align="right"  >			

             {{if (access_permission==False or status=='Invoiced' or status=='Blocked' or status=='Cancelled'):}}

				&nbsp;

             {{else:}}
				<input type="submit" name="btn_qtyupdate" id="btn_qtyupdate" value="Update"  class="button_update"/>
				 
             {{pass}}

             </td>
			
            
			  <td width="20" align="right"  >

              {{if (access_permission==False or status=='Invoiced' or status=='Blocked' or status=='Cancelled'):}}
				&nbsp;
             {{else:}}
                <input type="submit" name="btn_delete" id="btn_delete" value="X"  class="button_update"/>
             {{pass}}
				
              </td>
				
			</tr>
			
			</form>
			{{pass}}
               
               {{import math}}
               {{total_tp=round(total_tp,2)}}
               {{#vatTotal=round(vatTotal,2)}}
               {{vatTotal=math.ceil(vatTotal*100)/100}}               
               {{#=round(vatTotal,2)}} {{#=vatTotal}}
               
               {{gross_total=round(total_tp+vatTotal,2)}}
               
               {{spDiscountTotal=round(spDiscountTotal,2)}}
               
               {{netTotal=gross_total-discount-spDiscountTotal}}
               
			   <tr  align="left" class="blackCat"  style="vertical-align:middle">
			     <td colspan="4" rowspan="5" style="text-align:right">              
			       
			       </td>
			     <td colspan="6" style="text-align:right">Total Trade Price<strong>:</strong></td>
			     
			     <td width="80" align="right" >&nbsp;</td>
			     
			     <td width="80" align="right" >{{=easy_format(total_tp)}}</td>
			     <td colspan="3" rowspan="5" align="center">              
			       
			       </td>
			     
			     </tr>

               <tr  align="left" class="blackCat"  style="vertical-align:middle">
                 <td colspan="6" style="text-align:right">Vat<strong>:</strong></td>
                 <td align="right" >&nbsp;</td>
                 <td align="right" >{{=easy_format(vatTotal)}}</td>
               </tr>
               <tr  align="left" class="blackCat"  style="vertical-align:middle">
                 <td colspan="6" style="text-align:right"><span style="border-bottom-style:none; border-left:none; border-top:none">{{=discount_precent}}% <!--Trade--> Discount <!--on TP(except special offer item)--><strong>:</strong></span></td>

                 <td width="80" align="right" >&nbsp;</td>

                 <td width="80" align="right" >{{=easy_format(discount)}}</td>

               </tr>

               <tr  align="left" class="blackCat"  style="vertical-align:middle">
                 <td colspan="6" style="text-align:right">Special Discount<strong>:</strong></td>
                 <td align="right" >&nbsp;</td>
                 <td align="right" >{{=easy_format(spDiscountTotal)}}</td>
               </tr>
               <tr  align="left" class="blackCat"  style="vertical-align:middle">
                 <td colspan="6" style="text-align:right"><strong>Net Total:</strong></td>
                 
                 <td width="80" align="right" >&nbsp;</td>
                 
                 <td width="80" align="right" >{{=easy_format(netTotal)}}</td>
                 
               </tr>
               
               <form id="form1" name="form1" method="post" action="{{=URL(c='order_invoice',f='update_invoice_item',args=[depot_id,sl,0,0])}}">
	    
               <tr  align="left" class="blackCat">
                 <td colspan="15" style="text-align:right;border-top:none; border-bottom:none">&nbsp;</td>
                 </tr>
               <tr  align="left" class="blackCat">
                 <td colspan="15" style="text-align:right; border-top:none; border-bottom:none">
                 {{if (access_permission==False or status=='Invoiced' or status=='Blocked' or status=='Cancelled' or empty_batch_flag==0):}}
                        &nbsp;
                     {{else:}}                     
                     <input type="checkbox" name="delete_check" id="delete_check" value="YES" title="Confirmation to delete all empty batch" style="width:18px; height:18px;"/>
                     &nbsp;<input type="submit" style="background-color:#FFC6C6" name="btn_delete_empty_batch" id="btn_delete_empty_batch" value="Delete all empty batches X"  class="button_update" title="Delete all empty batches"/>
            {{pass}} </td>
               </tr>
               </form> 
               
               </table>

              

               </td>

              </tr>

          </table>

          </td>

      </tr>
		</table>
        
        
        <table style="width:1000px;">
      <tr>
        <td width="10">&nbsp;</td>
        
        <td colspan="4" style="text-align:right">
          
          </td>
        
      </tr>
      
      
        
      <form id="form1" name="form1" method="post" action="{{=URL(c='order_invoice',f='update_status_invoice',args=[depot_id,sl,delivery_dt])}}">
        
        <tr>        
          <td width="10">&nbsp;</td>        
          <td width="50">
          {{if session.user_type=='Admin':}}
            <a href="{{=URL(c ='print_manager',f ='invoice_list_preview',vars=dict(depotId=depot_id,vslList=sl))}}" style="text-decoration:none" target="_blank">
              <!--<a href="{{=URL(c ='order_invoice',f ='show_invoice',args=[depot_id,sl])}}" style="text-decoration:none" target="_blank">-->
              <input type="button" value="(6.2)Preview- Invoice" style="height:50px;"/>
              </a>
           {{pass}}
            </td>
          
          <td colspan="3">
            
            {{if access_permission==True:}}
            
            {{if (status=='Invoiced' or status=='Cancelled' or sl<=0):}}
            
            &nbsp;
            
            {{elif status=='Blocked':}}
            
            &nbsp;<!--<input type="submit" name="btn_free" id="btn_free" value="Free" title=""/>-->
            
            {{else:}}            
            <!--{{if status=='Submitted':}}
				&nbsp;<input type="submit" name="btn_post" id="btn_post" value="Confirm Invoice"  onClick="hideBtnPostCancel()"/>
			{{pass}}-->            
            <!--&nbsp;<input type="submit" name="btn_blocked" id="btn_blocked" value="Block"/>-->
            
            <!--&nbsp;<input type="submit" name="btn_cancel" style="height:50px;" id="btn_cancel" value="Cancel" onClick="hideBtnPostCancel()"/>
            -->
            {{pass}}            
            {{pass}}
            
            &nbsp;&nbsp;
            {{if access_permission==True:}}
            {{if not(status=='Invoiced' or status=='Cancelled' or sl<=0):}}
            
            {{if status=='Submitted':}}
            <input type="submit" name="btn_hold" id="btn_hold" style="height:50px;" value="  Hold/Clean Batch  " title="Hold this voucher and Clean Batch" onClick="hideBtnPostCancel()"/>        		
            &nbsp;<input type="submit" name="btn_unhold" id="btn_unhold" style="height:50px;" value=" Apply Stock Process " title="Apply stock process" onClick="hideBtnPostCancel()"/>
            {{pass}}
            
            {{if status=='Draft':}}
            <input type="submit" name="btn_reProcess" id="btn_reProcess" style="height:50px;" value=" Re-Process " title="Re-Process rules" onClick="hideBtnPostCancel()"/>
            <!--&nbsp;<input type="submit" name="btn_apply_regDiscount" id="btn_apply_regDiscount" style="height:50px;" value="Re-Process (Apply Regular Discount Until Bonus Stock)" title="If bonus stock not available,Regular discount apply" onClick="hideBtnPostCancel()"/>
            -->{{pass}}
            
            <!--{{#if acknowledge_flag==1:}}
                    <input type="submit" name="btn_acknowledge" id="btn_acknowledge" style="background-color:#FFFFC4" value="Acknowledge" title="Acknowledge" onClick="hideBtnPostCancel()"/>
                {{#pass}}-->
            
            {{pass}}
            {{pass}}
            
  &nbsp;           </td>
          
          </tr>
        <tr>
          <td width="10">&nbsp;</td>
          <td colspan="4">&nbsp;</td>
        </tr>
        <tr>
          <td width="10">&nbsp;</td>
          <td colspan="4">
          {{if access_permission==True:}}
            
            {{if (status=='Invoiced' or status=='Cancelled' or sl<=0):}}
            
            &nbsp;
            
            {{elif status=='Blocked':}}
            
            &nbsp;<!--<input type="submit" name="btn_free" id="btn_free" value="Free" title=""/>-->
            
            {{else:}}            
            <!--{{if status=='Submitted':}}
				&nbsp;<input type="submit" name="btn_post" id="btn_post" value="Confirm Invoice"  onClick="hideBtnPostCancel()"/>
			{{pass}}-->            
            <!--&nbsp;<input type="submit" name="btn_blocked" id="btn_blocked" value="Block"/>-->
            
            &nbsp;<input type="submit" name="btn_cancel" style="height:30px;" id="btn_cancel" value="Cancel" onClick="hideBtnPostCancel()"/>
            
            {{pass}}            
            {{pass}}
            
            &nbsp;&nbsp;
            {{if access_permission==True:}}
            {{if not(status=='Invoiced' or status=='Cancelled' or sl<=0):}}
            
            <!--{{if status=='Submitted':}}
            <input type="submit" name="btn_hold" id="btn_hold" style="height:50px;" value="  Hold/Clean Batch  " title="Hold this voucher and Clean Batch" onClick="hideBtnPostCancel()"/>        		
            &nbsp;<input type="submit" name="btn_unhold" id="btn_unhold" style="height:50px;" value=" Apply Stock Process " title="Apply stock process" onClick="hideBtnPostCancel()"/>
            {{pass}}-->
            
            {{if status=='Draft':}}
            <!--<input type="submit" name="btn_reProcess" id="btn_reProcess" style="height:50px;" value=" Re-Process " title="Re-Process rules" onClick="hideBtnPostCancel()"/>
            -->&nbsp;<input type="submit" name="btn_apply_regDiscount" id="btn_apply_regDiscount" style="height:30px;" value="Re-Process (Apply Regular Discount if Bonus stock not available)" title="If bonus stock not available,Regular discount apply" onClick="hideBtnPostCancel()"/>
            {{pass}}
            
            <!--{{#if acknowledge_flag==1:}}
                    <input type="submit" name="btn_acknowledge" id="btn_acknowledge" style="background-color:#FFFFC4" value="Acknowledge" title="Acknowledge" onClick="hideBtnPostCancel()"/>
                {{#pass}}-->
            
            {{pass}}
            {{pass}}
            
  &nbsp;           
          
          </td>
          </tr>
      </form>
      
      
      <tr>
	    <td width="10">&nbsp;</td>
	    <td width="50">&nbsp;</td>
	    <td>&nbsp;</td>
	    <td width="20" align="right">&nbsp;</td>
	    <td width="74" align="right">&nbsp;</td>
	  </tr>
 	

      </table>





<!--end-->

	</td>

  </tr>

</table>

  <br>

  <br>

  <!--{{if access_permission==True:}}

      {{if (status=='Invoiced' and note!='Returned'):}}

      <form id="form1" name="form1" method="post" action="{{=URL(c='order_invoice',f='update_status_invoice',args=[depot_id,sl,delivery_dt])}}">

          <input type="checkbox" name="check_return" id="check_return" value="YES" title="Confirmation to return" style="width:18px; height:18px;"/>

          <input type="submit" name="btn_return" id="btn_return" value="Return"/>

      </form>

    {{pass}}

   {{pass}}-->



<br>

<br>

<br>

<br>

</body>


<!--<script>
	jQuery("document").ready(function(){
		  jQuery('#upload_div').hide();
		  //document.getElementById("stateSelect").innerHTML = localStorage.stateStore;
	});

	jQuery("#btn_batch").click(function(){
		jQuery('#upload_div').show();
	});

	jQuery("#btn_hide").click(function(){
	   jQuery('#upload_div').hide();
	});
</script>-->

