{{extend 'layout_sales_report.html'}}

<html>

<head>

<script type="text/javascript">

function print_page()

  {

    window.print()

  }

</script>



</head>

<body>


<table width="900px;"> <tr><td style="text-align:right"><!--<a href="{{#=URL(c='report',f='downloadGoodsReceivedSummary',vars=dict(date_from=date_from,date_to=date_to,depot_id=depot_id,depot_name=depot_name,store_id=store_id,store_name=store_name,customer_id=customer_id,customer_name=customer_name,mso_id=mso_id,mso_name=mso_name))}}" >Downlaod</a>--></td></tr></table>



<table width="700px" cellspacing="1" cellpadding="1">

	<tr>

		<td><table width="900px" style="border:none;" >
		  <tr >
		    <td >Date Range</td>
		    <td >&nbsp;</td>
		    <td >{{=date_from}} - {{=date_to}}</td>
		    <td >&nbsp;</td>
		    <td >&nbsp;</td>
		    <td width="266" >&nbsp;</td>
	      </tr>
		  <tr >
		    <td width="90" > Depot/Branch</td>
		    <td width="10" >:</td>
		    <td width="424" ><span >{{=depot_id}}|{{=depot_name}}</span></td>
		    <td width="79" >Customer</td>
		    <td width="3" >:</td>
		    <td ><span >{{=customer_id}}
		      {{=customer_name}}</span></td>
	      </tr>
		  <tr >
		    <td >Store</td>
		    <td >:</td>
		    <td ><span >{{=store_id}}|{{=store_name}}</span></td>
		    <td >MSO</td>
		    <td >:</td>
		    <td ><span >{{=mso_id}}
		      {{=mso_name}}</span></td>
	      </tr>
		  <tr >
		    <td >Teritory</td>
		    <td >:</td>
		    <td ><span >{{=teritory_id}}
		      {{=teritory_name}}</span></td>
		    <td >Market</td>
		    <td >:</td>
		    <td ><span >{{=market_id}}
		      {{=market_name}}</span></td>
	      </tr>
		  </table>
          <table width="900px" style="border:none; text-align:center; font-weight:bold;" >
            <tr >
              <td width="100" >&nbsp;</td>
              <td align="center" ><span style="border-bottom:1px solid #333;">Customer-Invoice-Product Wise Sales Statement With Bonus</span></td>
              <td width="100" ><img  height="30px" src="{{=URL('static','images/comp_logo1.png')}}"/></td>
            </tr>
        </table></td>

	</tr>

	<tr height="10px"></tr>

	<tr>

		<td>
		  </br>
            
			<table width="900" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
            
             <tr align="left" class="blackCatHead" height="20px" ;  style="font-size:12px">
                  <td width="80" rowspan="2"    >ItemID</td>
                  <td rowspan="2"   >ItemName</td>
                  <td width="80" rowspan="2"   >UOM</td>
                  <td width="80" rowspan="2"   ><div align="right">UnitPrice</div></td>
                  <td width="80" rowspan="2"   ><div align="right">Ret%</div></td>
                  <td width="80" colspan="3"   ><div align="center">Invioce</div></td>
                  <td width="80" colspan="3"   ><div align="center">Return</div></td>
               <td width="80" colspan="3"   ><div align="center">Net</div></td>
              </tr>
                <tr align="left" class="blackCatHead" height="20px" ;  style="font-size:12px">
                  <td  width="80"  ><div align="right">Qnty</div></td>
                  <td width="80"   ><div align="right">Bonus</div></td>
                  <td width="80"   ><div align="right">TradePrice</div></td>
                  <td width="80"   ><div align="right">Qnty</div></td>
                  <td width="80"   ><div align="right">Bonus</div></td>
                  <td width="80"   ><div align="right">TradePrice</div></td>
                  <td width="80"   ><div align="right">Qnty</div></td>
                  <td width="80"   ><div align="right">Bonus</div></td>
                  <td width="150"   ><div align="right">TradePrice</div></td>
                </tr>  
				{{p=0}}
                {{clientID=''}}
                {{invsl=''}}
                {{for i in range(len(records)):
                record=records[i]}}
				
              
             {{ head_check=str(record['sl'])+'-'+str(record['client_id']) }}
            
             {{ if [s for s in InvSlList if head_check in s]:
              index_element = InvSlList.index(head_check)           
              head_data=reportHeadList[index_element]  
                
            }}
            {{#=index_element}}
            {{pass}}
           
              
                
              {{if (clientID != record['client_id'] ):}}
              	{{#=clientID}}
              <tr  align="left" class="blackCat"  style="vertical-align:middle; font-size:11px; background-color:#FFF; font-size:16px">
                <td colspan="14"  style=" border-left:hidden; border-right:hidden" >Customer: {{=record['client_id']}} - {{=record['client_name']}}</td>
              </tr>
			  {{pass}}
              
              
              {{if ((clientID != record['client_id']) & (invsl != record['sl']) ):}}
              	{{#=clientID}}
                <tr  align="left" class="blackCat"  style="vertical-align:middle; font-size:10px; background-color:#FFF; ">
                <td colspan="3"  style=" border-left:hidden; border-right:hidden" >INV{{=record['depot_id']}}-{{=record['sl']}} &nbsp;&nbsp;{{#=record['invoice_date]}}
                {{import datetime            
                 =record['invoice_date'].strftime('%d-%b-%Y')           
                 }}
                </td>
                <td  style=" border-left:hidden; border-right:hidden" ><div align="right">{{=record['area_name']}}</div></td>
                <td  style=" border-left:hidden; border-right:hidden" ><div align="right"></div></td>
                <td  style=" border-left:hidden; border-right:hidden" ><div align="right">{{#=head_data['head_qty']}}</div></td>
                <td  style=" border-left:hidden; border-right:hidden" ><div align="right">{{#=head_data['head_Bonusqty']}}</div></td>
                <td  style=" border-left:hidden; border-right:hidden" ><div align="right">{{=head_data['head_invTotal']}}</div></td>
                
                <td  style=" border-left:hidden; border-right:hidden" ><div align="right">{{#=head_data['head_ret_qty']}}</div></td>
                <td  style=" border-left:hidden; border-right:hidden" ><div align="right">{{#=head_data['head_ret_bonus_qty']}}</div></td>
                <td  style=" border-left:hidden; border-right:hidden" ><div align="right">{{=head_data['head_retTotal']}}</div></td>
                <td  style=" border-left:hidden; border-right:hidden" ><div align="right"></div></td>
                <td  style=" border-left:hidden; border-right:hidden" ><div align="right"></div></td>
                <td  style=" border-left:hidden; border-right:hidden" ><div align="right">{{=float(head_data['head_invTotal'])-float(head_data['head_retTotal'])}}</div></td>
              </tr>
			  {{pass}}
              
               {{if ((clientID == record['client_id']) & (invsl != record['sl']) ):}}
              	{{#=clientID}}
               <tr  align="left" class="blackCat"  style="vertical-align:middle; font-size:10px; background-color:#FFF; ">
                <td colspan="3"  style=" border-left:hidden; border-right:hidden" >INV{{=record['depot_id']}}-{{=record['sl']}}
                 {{=record['invoice_date'].strftime('%d-%b-%Y')}}</td>
                <td  style=" border-left:hidden; border-right:hidden" ><div align="right">{{=record['area_name']}}</div></td>
                <td  style=" border-left:hidden; border-right:hidden" ><div align="right"></div></td>
                <td  style=" border-left:hidden; border-right:hidden" ><div align="right">{{#=head_data['head_qty']}}</div></td>
                <td  style=" border-left:hidden; border-right:hidden" ><div align="right">{{#=head_data['head_Bonusqty']}}</div></td>
                <td  style=" border-left:hidden; border-right:hidden" ><div align="right">{{=head_data['head_invTotal']}}</div></td>
                
                <td  style=" border-left:hidden; border-right:hidden" ><div align="right">{{#=head_data['head_ret_qty']}}</div></td>
                <td  style=" border-left:hidden; border-right:hidden" ><div align="right">{{#=head_data['head_ret_bonus_qty']}}</div></td>
                <td  style=" border-left:hidden; border-right:hidden" ><div align="right">{{=head_data['head_retTotal']}}</div></td>
                <td  style=" border-left:hidden; border-right:hidden" ><div align="right"></div></td>
                <td  style=" border-left:hidden; border-right:hidden" ><div align="right"></div></td>
                <td  style=" border-left:hidden; border-right:hidden" ><div align="right">{{=float(head_data['head_invTotal'])-float(head_data['head_retTotal'])}}</div></td>
              </tr>
			  {{pass}}
              
              {{ if (i % 2 == 0):}}
              <tr  align="left" style="vertical-align:middle; font-size:12px; background:#FBFBFB;">
                {{else:}}
              <tr  align="left" style="vertical-align:middle; font-size:12px; background:#F5F5F5;">
                
				{{pass}}

                
                <td  >{{=record['item_id']}}</td>
               
                
                <td  >{{=record['item_name']}}</td>
                <td   >{{#=record['item_unit]}}</td>
                <td   ><div align="right">{{=record['actual_tp']}}</div></td>
                {{netSold=record['actual_tp']-record['retTP']
                sale=record['actual_tp']
                rSale=record['retTP']
                }}
                {{#=rSale}}
                {{#eP=(netSold*100)/sale}}
                {{
                rP=0
                if (rSale > 0):
                rP=(rSale*100)/sale
                pass
                }}
                <td   ><div align="right">{{=rP}}</div></td>
                <td    ><div align="right">{{=record['inv_qty']}}</div></td>
                <td   ><div align="right">{{=record['inv_bonus_qty']}}</div></td>
                <td   ><div align="right">{{=record['actual_tp']}}</div></td>
                <td    ><div align="right">{{=record['ret_qty']}}</div></td>
                <td   ><div align="right">{{=record['ret_bonus_qty']}}</div></td>
                <td    ><div align="right">{{=record['retTP']}}</div></td>
                <td   ><div align="right">{{=record['inv_qty']-record['ret_qty']}}</div></td>
                <td width="80"   ><div align="right">{{=record['inv_bonus_qty']-record['ret_bonus_qty']}}</div></td>
                <td width="150"   ><div align="right">{{=netSold}}</div></td>
              </tr>
              
              {{invsl=record['sl']}}
              {{clientID=record['client_id']}}
              {{p=p+1}}
				{{if p==20:}}
                <span style="page-break-before:always"></span>
                {{p=0}}
                
                
                
                
                {{pass}}
                {{pass}}


			 {{for i in range(len(records_tr)):
		  record_tr=records_tr[i]}}
  <tr  align="left" style="vertical-align:middle; font-size:12px; background:#FBFBFB;color:#B10721; font-size:14px">
    <td  ></td>
    <td  ></td>
    <td  ></td>
    <td  ></td>
    {{netSoldTr=record_tr['actual_tp']-record_tr['retTP']
    saleTr=record_tr['actual_tp']
    rSaleTr=record_tr['retTP']
    }}
    {{#=rSale}}
    {{#eP=(netSold*100)/sale}}
    {{
    rPTr=0
    if (rSaleTr > 0):
    rPTr=(rSaleTr*100)/saleTr
    pass
    }}
    <td   align="right"  >{{='{:20,.2f}'.format(rPTr)}}</td>
    <td     align="right" >{{=record_tr['inv_qty']}}</td>
    <td    align="right" >{{=record_tr['inv_bonus_qty']}}</td>
    <td    align="right" >{{='{:20,.2f}'.format(record_tr['actual_tp'])}}</td>
    <td     align="right" >{{=record_tr['ret_qty']}}</td>
    <td    align="right" >{{=record_tr['ret_bonus_qty']}}</td>
    <td     align="right"  >{{='{:20,.2f}'.format(record_tr['retTP'])}}</td>
    <td    align="right" >{{=record_tr['inv_qty']-record_tr['ret_qty']}}</td>
    <td width="75"    align="right" >{{=record_tr['inv_bonus_qty']-record_tr['ret_bonus_qty']}}</td>
    <td width="150"    align="right" >{{='{:20,.2f}'.format(netSoldTr)}}</td>
  </tr>
		  {{pass}}


          </table>

		  

	  </td>

			

	</tr>

</table>
</br>
<table width="900px" >
  <tr>
    <td width="411" align="center">__________________</td>
    <td width="225" align="center">&nbsp;</td>
    <td width="248" align="left">________________________________</td>
  </tr>
  <tr>
    <td width="411" align="center"><strong>Printed By</strong></td>
    <td width="225" align="right">for</td>
    <td width="248" align="left"><strong>{{=session.cName}}</strong></td>
  </tr>
</table>
<br/>




<br/>



</body>

</html>

