{{extend 'layout_sales_report.html'}}

<html>

<head>

<script type="text/javascript">

function print_page()

  {

    window.print()

  }

</script>



</head>

<body>



<table width="900px;"> <tr><td style="text-align:right"><!--<a href="{{#=URL(c='report',f='downloadGoodsReceivedSummary',vars=dict(date_from=date_from,date_to=date_to,depot_id=depot_id,depot_name=depot_name,store_id=store_id,store_name=store_name,customer_id=customer_id,customer_name=customer_name,mso_id=mso_id,mso_name=mso_name))}}" >Downlaod</a>--></td></tr></table>



<table width="700px" cellspacing="1" cellpadding="1">

	<tr>

		<td><table width="900px" style="border:none;" >
		  <tr >
		    <td >Date Range</td>
		    <td >&nbsp;</td>
		    <td >{{=date_from}} - {{=date_to}}</td>
		    <td >&nbsp;</td>
		    <td >&nbsp;</td>
		    <td width="266" >&nbsp;</td>
	      </tr>
		  <tr >
		    <td width="90" > Depot/Branch</td>
		    <td width="10" >:</td>
		    <td width="438" ><span >{{=depot_id}}|{{=depot_name}}</span></td>
		    <td width="65" >Customer</td>
		    <td width="3" >:</td>
		    <td ><span >{{=customer_id}}
		      {{=customer_name}}</span></td>
	      </tr>
		  <tr >
		    <td >Store</td>
		    <td >:</td>
		    <td ><span >{{=store_id}}|{{=store_name}}</span></td>
		    <td >MSO</td>
		    <td >:</td>
		    <td ><span >{{=mso_id}}
		      {{=mso_name}}</span></td>
	      </tr>
		  <tr >
		    <td >Teritory</td>
		    <td >:</td>
		    <td ><span >{{=teritory_id}}
		      {{=teritory_name}}</span></td>
		    <td >&nbsp;</td>
		    <td >:</td>
		    <td ><span >{{#=market_id}}
		      {{#=market_name}}</span></td>
	      </tr>
	    </table>
		  <table width="900px" style="border:none; text-align:center; font-weight:bold;" >
		    <tr >
		      <td width="100" >&nbsp;</td>
		      <td align="center" ><span style="border-bottom:1px solid #333;">Invoice Wise Sales Detail  </span></td>
		      <td width="100" ><img  height="30px" src="{{=URL('static','images/comp_logo1.png')}}"/></td>
	        </tr>
        </table></td>

	</tr>

	<tr height="10px"></tr>

	<tr>

		<td>
        <table width="900" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
            
          <tr align="left" class="blackCatHead" height="20px" ;  style="font-size:12px">
                  <td width="200" rowspan="2"    >Date InvNumber</td>
                  <td rowspan="2"   >Depot Market</td>
                  <td width="80" rowspan="2"   >Customer</td>
                  <td width="80" rowspan="2"   >MSO</td>
                  <td   align="center">Invioce</td>
                  <td   align="center">Return</td>
               <td  colspan="5"   align="center">Net</td>
              </tr>
                <tr align="left" class="blackCatHead" height="20px" ;  style="font-size:12px">
                  <td width="80"   align="right">TradePrice</td>
                  <td width="80"   align="right">TradePrice</td>
                  <td width="80"   align="right">TP</td>
                  <td width="80"   align="right">Disc</td>
                  <td width="74"   align="right">SpDiscount</td>
                  <td width="74"   align="right">Vat</td>
                  <td width="75"   align="right">TradePrice</td>
                </tr>  
				{{p=0}}
              
				{{netSoldTotal=0
                  vatTotal=0
                  discountTotal=0
                  netTPTotal=0
                  invTPTotal=0
                  retTPTotal=0
                  spDiscountTotal=0
                }}
                
                {{for i in range(len(records)):
		    	record=records[i]}}
            
				
                
               
         
                {{ if (i % 2 == 0):}}
                <tr  align="left" style="vertical-align:middle; font-size:12px; background:#F5F5F5;">
                
                {{pass}}

                
                <td  >{{#=record[db.sm_invoice.delivery_date]}}
                {{import datetime 
                =record['invoice_date'].strftime('%d-%b-%Y') }} 
                </br>
                <font style="color:#954A00">
                INV{{=record['depot_id']}}-{{=record['sl']}}
                </font> 
                
                </td>
               
                
                <td  >{{=record['depot_id']}}<br>
                 <font style="color:#954A00">
                {{=record['market_name']}}-{{=record['market_id']}}
                </font>
                </td>
                <td   >{{=record['client_name']}}-{{=record['client_id']}}
                <br>
                 <font style="color:#954A00">
                {{=record['cl_category_name']}}
                </font>
                </td>
                <td   >{{=record['rep_name']}}-{{=record['rep_id']}}
                <br>
                <font style="color:#954A00">
                {{=record['payment_mode']}}
                </font>
                </td>
                {{
                sale=(record['actual_tp']+record['vat'])-record['discount']-record['spDiscount']
                
                rSale=record['retTP']
                
                
                netSold=(record['actual_tp']-rSale)+record['vat']-record['discount']-record['spDiscount']
                netSoldTotal=netSoldTotal+netSold

                }}
                <td  align="right" >{{='{:20,.2f}'.format(record['actual_tp'])}}
                {{invTPTotal=invTPTotal+record['actual_tp']}}
                </td>
                <td    align="right">{{='{:20,.2f}'.format(record['retTP'])}}
                {{retTPTotal=retTPTotal+record['retTP']}}</td>
                
                <td width="80"  align="right" >{{=record['actual_tp']-record['retTP']}}
                {{netTPTotal=netTPTotal+(record['actual_tp']-record['retTP'])}}</td>
                <td   align="right">{{=record['discount']}}
                {{discountTotal=discountTotal+record['discount']}}</td>
                <td width="74" align="right"   >{{=record['spDiscount']}}
                {{spDiscountTotal=spDiscountTotal+record['spDiscount']}}</td>
                <td width="75" align="right"   >{{=record['vat']}}{{vatTotal=vatTotal+record['vat']}}</td>
                <td width="75" align="right"   >{{='{:20,.2f}'.format(netSold)}}</td>
              </tr>
              
                      {{p=p+1}}
                        {{if p==20:}}
                        <span style="page-break-before:always"></span>
                        {{p=0}}
                       {{pass}} 
                
                
                
                
                {{pass}}
                
                
                
                <tr  align="left" style="vertical-align:middle; font-size:14px; color:#900;">
              

                
                <td  >
                </td>
               
                
                <td  ></td>
                <td   ></td>
                <td   ></td>
            
                <td  align="right" >{{='{:20,.2f}'.format(invTPTotal)}}</td>
                <td    align="right">{{='{:20,.2f}'.format(retTPTotal)}}</td>
                
                <td width="80"  align="right" >{{='{:20,.2f}'.format(netTPTotal)}}</td>
                <td   align="right">{{='{:20,.2f}'.format(discountTotal)}}</td>
                <td width="74" align="right"   >{{='{:20,.2f}'.format(spDiscountTotal)}}</td>
                <td width="75" align="right"   >{{='{:20,.2f}'.format(vatTotal)}}</td>
                <td width="75" align="right"   >{{='{:20,.2f}'.format(netSoldTotal)}}</td>
              </tr>
			
          </table></td>

			

	</tr>

</table>

<br/>




<br/>



</body>

</html>

