{{extend 'layout_sales_report.html'}}

<html>

<head>

<script type="text/javascript">

function print_page()

  {

    window.print()

  }

</script>



</head>

<body>





<table width="1724" cellspacing="1" cellpadding="1">

	<tr>

		<td width="1718"><table width="546" style="border:none;" >
		  <tr >
		    <td >Date Range</td>
		    <td >&nbsp;</td>
		    <td >{{=date_from}} - {{=date_to}}</td>
	      </tr>
		  <tr >
		    <td width="90" > Depot/Branch</td>
		    <td width="10" >:</td>
		    <td width="424" ><span >{{=depot_id}}|{{=depot_name}}</span></td>
	      </tr>
		  <tr >
		    <td >Store</td>
		    <td >:</td>
		    <td ><span >{{=store_id}}|{{=store_name}}</span></td>
	      </tr>
		  </table>
          
      <table width="900px" style="border:none; text-align:center; font-weight:bold;" >
            <tr >
              <td width="100" >&nbsp;</td>
              <td align="center" ><span style="border-bottom:1px solid #333;">Item Wise Sales Statement Detail </span></td>
              <td width="100" ><img  height="30px" src="{{=URL('static','images/comp_logo1.png')}}"/></td>
            </tr>
          </table>
          <table width="847" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
	        <tr align="left" class="blackCatHead" height="20px" ;  style="font-size:12px">
	          <td width="80" rowspan="2" align="left"   >Item</td>
	          <td width="150" rowspan="2" align="left"  >ItemName</td>
	          <td width="150" rowspan="2" align="left"  >TP</td>
	          <td width="150" rowspan="2" align="left"  >Stock</td>
              {{for records_tr in records_tr: }}
	          <td colspan="4" align="right"  >&nbsp;</td>
	          </tr>
	        <tr align="left" class="blackCatHead" height="20px" ;  style="font-size:12px">
	          <td width="69" align="right"  >A</td>
	          <td width="69" align="right"  >B</td>
	          <td width="68" align="right"  >C</td>
	          <td width="68" align="right"  >Bonus</td>
           
            
            {{pass}} </tr>
              {{#totalSaleTP=0.00
              totalStockTP=0.00
              	
              }}
		      {{for i,record in enumerate(records):}}
		      
		      
		      
		     
		     {{ if (i % 2 == 0):}}
              <tr  align="left" style="vertical-align:middle; font-size:12px; background:#F5F5F5;">
                
				{{pass}}
  <td  >{{=record[db.sm_item.item_id]}}</td>
    {{item_id =str(record[db.sm_item.item_id])+'-'+str(record[db.sm_item.category_id])}}
    {{
    itemQty=0
    #itemS=0
    }}
    {{ if [s for s in itemList if item_id in s]:
      index_element = itemList.index(item_id)
          
      itemQtyL=itemQtyList[index_element]
      
	 # =index_element	
      pass
    }}
    {{
    
    
   
    tp=''
    Note=''
    item_str_get=''
    
    }}
    
    <td  >{{=record[db.sm_item.name]}}</td>
    <td  >{{=record[db.sm_item.price]}}</td>
    <td  >{{=record[db.sm_depot_stock_balance.quantity.sum()]}}</td>
  
   
    </tr>
		      {{pass}}
	       
            <tr style="background-color:#F0FAFF">
              <td  >&nbsp;</td>
              <td align="right">&nbsp;</td>
              <td align="right">&nbsp;</td>
              <td align="right">&nbsp;</td>
              <td  align="right">&nbsp;</td>
              <td  align="right"></td>
              <td  align="right">&nbsp;</td>
              <td  align="right">&nbsp;</td>
            </tr>
          </table>

</br></br>



<table width="900px" >
  <tr>
    <td width="411" align="center">__________________</td>
    <td width="225" align="center">&nbsp;</td>
    <td width="248" align="left">________________________________</td>
  </tr>
  <tr>
    <td width="411" align="center"><strong>Printed By</strong></td>
    <td width="225" align="right">for</td>
    <td width="248" align="left"><strong>{{=session.cName}}</strong></td>
  </tr>
</table>
<p>&nbsp;</p>
</body>

</html>

