{{extend 'layout_orderSheet.html'}}

<html>

<head>

<script type="text/javascript">

function print_page()

  {

    window.print()

  }

</script>



</head>

<body>



<br/>





<table width="700px" cellspacing="1" cellpadding="1">

	<tr>

		<td><br>
            
	  </td>

	</tr>

	<tr height="10px"></tr>

	<tr>

		<td>







				{{past_vsl=0}}
				
                {{page_tr=0}}
                
                {{for i,record in enumerate(records):}}
				{{page_tr=page_tr+1}}
                {{vsl = int(record.sm_order.vsl)}}
				{{netFlag=0}} 

				{{grantTotal=0}}
                
               
               
              <!-- {{#if  ((vsl != past_vsl) & (past_vsl > 0)):}}
					<table width="900" border="1" cellpadding="1" cellspacing="1" class="sample_border" style="background-color:#FFF" >
                    <tr  align="left"   style="vertical-align:middle; font-size:11px; font-size:14px">
                    
                    <td  align="left" style="border-right-width:3px; text-align:left; border-left:hidden; border-right:hidden "></span></td>
                    <td  align="left" style="border-right-width:3px; text-align:left;border-left:hidden; border-right:hidden"></span></td>
                    <td  align="center" style="border-right-width:3px; text-align:center;border-left:hidden; border-right:hidden"></span></td>
                    <td  align="center" style="border-right-width:3px; text-align:center;border-left:hidden; border-right:hidden"></span></td>
                    <td  align="right" style="border-right-width:3px; text-align:right;border-left:hidden; border-right:hidden"></span></td>
                    <!--<td  align="right" style="border-right-width:3px; text-align:right;border-left:hidden; border-right:hidden"></td>-->
                  <!--  <td  align="right" style="border-right-width:3px; text-align:right;border-left:hidden; border-right:hidden">Net Total</td>
                    <td  align="right" style="border-right-width:3px; text-align:right;border-left:hidden; border-right:hidden">{{=grantTotal}}</spa></td>	
                    </tr>
                  
                        </table>
                        
                        <span style="page-break-before:always"></span>
               {{#pass}}-->
               
               
               
               
                {{if  (vsl != past_vsl):}}
               
                 {{page_tr=0}}
                {{grantTotal=0}}
               	{{netFlag=1}}
               	<table width="902">

				<tr>
					<td width="100" ><img width="25px" height="40px" src="{{=URL('static','images/comp_logo2.png')}}"/></td>
					<td style="text-align:center; font-size:24px; font-weight:bold">{{=session.cName}}</td>
					<td width="100">&nbsp;</td>
                  </tr>
                
                            </table>
                <table width="900" border="0" cellpadding="0" cellspacing="1" style=" font-size:14px"  >
                 
              
                  <tr>
                    <td width="84">Branch</td>
                    <td width="3">:</td>
                    <td width="293"><span style="border-right-width:3px; text-align:left;">{{=record.sm_order.depot_id}}|{{=record.sm_order.depot_name}}</span></td>
                    <td width="42">&nbsp;</td>
                    <td width="71">Client/Retailer</td>
                    <td >:</td>
                    <td width="400"><span style="border-right-width:3px; text-align:left;"><span style="border-right-width:3px; text-align:left;">{{=record.sm_order.client_id}} | {{=record.sm_order.client_name}}</span></span></td>
                  </tr>
                  <tr>
                    <td>B.O.SL</td>
                    <td>:</td>
                    <td><span style="border-right-width:3px; text-align:left;">{{=record.sm_order.sl}}</span></td>
                    <td>&nbsp;</td>
                    <td>Address</td>
                     <td >:</td>
                    <td><span style="border-right-width:3px; text-align:left;">{{=record.sm_client.address}}</span></td>
                  </tr>
                  <tr>
                    <td>Status</td>
                    <td>:</td>
                    <td>{{=record.sm_order.status	}}</td>
                    <td>&nbsp;</td>
                    <td>Zone</td>
                     <td >:</td>
                    <td><span style="border-right-width:3px; text-align:left;">{{=record.sm_order.level0_id}} | {{=record.sm_order.level0_name	}}</span></td>
                  </tr>
                  <tr>
                    <td>SM/RSM/MSO</td>
                    <td>:</td>
                    <td><span style="border-right-width:3px; text-align:left;">{{=record.sm_order.rep_id	}} | {{=record.sm_order.rep_name}}</span></td>
                    <td>&nbsp;</td>
                    <td>Region</td>
                     <td >:</td>
                    <td><span style="border-right-width:3px; text-align:left;">{{=record.sm_order.level1_id	}} | {{=record.sm_order.level1_name	}}</span></td>
                  </tr>
                  <tr>
                    <td>Order Date</td>
                    <td>:</td>
                    <td><span style="border-right-width:3px; text-align:left;">{{=record.sm_order.order_datetime	}}</span></td>
                    <td>&nbsp;</td>
                    <td>Area</td>
                     <td >:</td>
                    <td><span style="border-right-width:3px; text-align:left;">{{=record.sm_order.level2_id	}} | {{=record.sm_order.level2_name	}}</span></td>
                  </tr>
                  <tr>
                    <td>Market</td>
                    <td>:</td>
                    <td><span style="border-right-width:3px; text-align:left;">{{=record.sm_client.market_id	}} | {{=record.sm_client.market_name	}}</span></td>
                    <td>&nbsp;</td>
                    <td>Territory</td>
                     <td >:</td>
                    <td><span style="border-right-width:3px; text-align:left;">{{=record.sm_order.area_id	}} | {{=record.sm_order.area_name	}}</span></td>
                  </tr>
                  
                </table>
					 <table width="900" border="1" cellpadding="1" cellspacing="1" class="sample_border" style="background-color:#FFF" >
                    <tr  align="left" class="blackCat"  style="vertical-align:middle; font-size:16px;">
                    <td  align="left" style="border-right-width:3px; text-align:left; ">ItemName</td>
                    <td  align="left" style="border-right-width:3px; text-align:left;">ItemID</td>
                   <!-- <td  align="center" style="border-right-width:3px; text-align:center;">Category	</span></td>-->
                      <td  align="center" style="border-right-width:3px; text-align:center;">Qty</span></td>
                      <td  align="right" style="border-right-width:3px; text-align:right;">Rate</span></td>
                      <td  align="right" style="border-right-width:3px; text-align:right;">Vat</td>
                      <td  align="right" style="border-right-width:3px; text-align:right;">Total</td>
                      <td  align="right" style="border-right-width:3px; text-align:right;">Item Total</span></td>	
                    </tr>
                   
                {{pass}}
                
                
               
                
             <tr  align="left" class="blackCat"  style="vertical-align:middle; font-size:11px;">
		
              <td  align="left" style="border-right-width:3px; text-align:left;font-size:14px">{{=record.sm_order.item_name}}</span></td>
               <td  align="left" style="border-right-width:3px; text-align:left;font-size:14px">{{=record.sm_order.item_id}}</span></td>
				<!--<td  align="center" style="border-right-width:3px; text-align:center;">{{=record.sm_order.category_id	}}</span></td>-->
                  <td  align="center" style="border-right-width:3px; text-align:center;font-size:14px">{{=record.sm_order.quantity	}}</span></td>
                  <td  align="right" style="border-right-width:3px; text-align:right;font-size:14px">{{=record.sm_order.price-record.sm_order.item_vat	}}</span></td>
                  <td  align="right" style="border-right-width:3px; text-align:right;font-size:14px">{{=record.sm_order.item_vat}}</td>
                  <td  align="right" style="border-right-width:3px; text-align:right;font-size:14px">{{=record.sm_order.price  }}</td>
                  <td  align="right" style="border-right-width:3px; text-align:right;font-size:14px">{{=float(record.sm_order.price )* float(record.sm_order.quantity)	}}</span>
                  
                  {{grantTotal=grantTotal+(float(record.sm_order.price )* float(record.sm_order.quantity))}}
                  </td>	
				</tr>
                
                
                

                
                
                 {{past_vsl=vsl}}
               
                	
                 
                {{pass}}
                
                
				 
              </table>

		  

		</td>

			

	</tr>

</table>

<br/>





<br/>



</body>

</html>

