{{extend 'layout.html'}}

 <style type="text/css">
 input[type=text], input[type=password],  select {
    margin: 2px 0px 2px 0px;
	width: 250px;
}

div.error {
    width: 250px;
}
</style>



<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;" >

  <tr height="30px" >

    <td width="350"><span class="blackCatTitle">Thana</span></td>	

	<form action="{{=URL(c='settings',f='district',args=[dPage])}}" method="post">

	<td width="210" align="right"><input name="" type="submit"  value="Back"/></td>

	</form>

	

    <td>&nbsp;</td>

  </tr>

  <tr  height="1px" style="background-color:#CCCCCC;">

	    <td colspan="3" ></td>

  </tr>

</table>

  

  <table width="100%" height="500px"  border="0" cellspacing="0" cellpadding="0" class="page_color"  >

  <tr height="100%"  style="vertical-align:top;">

    <td>

	<table width="100%"  border="0" cellpadding="0" cellspacing="0"  >

      <tr>

        <td width="10px">&nbsp;</td>

        <td>&nbsp;</td>
      </tr>

      <tr>

        <td>&nbsp;</td>

        <td>
			<table width="500px">

			<tr>

			  <td width="130"><strong>District Name</strong></td>

			  <td>:&nbsp;{{=distname}}</td>
			</tr>
			<tr>
			  <td>&nbsp;</td>
			  <td>&nbsp;</td>
			  </tr>
			</table>
			

		    <table width="550" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
              <tr align="left" class="blackCatHead" height="20px" ;"vertical-align:middle">
                <td align="left"  >Thana</td>
                <td width="20" align="center"  ></td>
              </tr>
		      {{if (access_permission==True):}} 
		      
		      {{=form.custom.begin}}
              <tr align="left"  height="20px" ;>
                <td align="left"  >{{=form.custom.widget.name}}</td>
                <td width="20" align="center"  >{{=form.custom.submit}}</td>
              </tr>
		      {{=form.custom.end}}
		      
		      {{pass}}
		      
		      
		      
		      {{ p=0}} 		  
		      
		      {{for i,record in enumerate(records):}}
		                   
                <tr  align="left" class="blackCat"  style="vertical-align:middle">
                  <td align="left"  >{{=record.name}}</td>
                  <form id="form1" name="form1" method="post" action="{{=URL(c='settings',f='thana',args=[dPage,page],vars=dict(recordID=record.id,distname=distname))}}">
                  <td width="20" align="center"  >
                    {{if (access_permission==True):}}
                   	<input type="submit" name="btn_delete" id="btn_delete" value=" X "  class="button_update"/>
                    {{pass}}
                  </td>
                  </form>
                  
                </tr>              
		      {{pass}}
              
          </table>
          </td>
      </tr>
    </table>


	</td>

  </tr>

</table>



