{{extend 'layout.html'}}







<link rel="stylesheet" href="{{=URL('static', 'js_and_css/ui.theme.css')}}" type="text/css" />



<link rel="stylesheet" href="{{=URL('static', 'js_and_css/jquery-ui.css')}}" type="text/css" />



<link rel="stylesheet" href="{{=URL('static', 'js_and_css/style.css')}}" type="text/css" />



<script src="{{=URL('static','js_and_css/jquery-1.8.2.js')}}"></script>



<script src="{{=URL('static','js_and_css/jquery-ui.js')}}"></script>











 <style type="text/css">



 input[type=text], input[type=password],  select {

			margin: 2px 0px 2px 0px;

			width:100px;

		}



		div.error {

			margin-left:0px;

			width:auto;

		}

		#status,#receive_process_status,#note{

		 width:150px;

		 }

		#depot_id,#sl,#status,#receive_process_status{

		 background-color:#F7F7F7;

		  }

		 #sm_receive_item_id{

		 width:80px;


		 }

		 #sm_receive_quantity,#sm_receive_bonus_qty{

		 width:60px;

		 text-align:right;

		 }

		 #sm_receive_item_name{

		 width:200px;

		 }

		 #sm_receive_short_note{

		 width:100px;

		 }

	.page_color,body{

		font-family:Arial, Helvetica, sans-serif;

		font-size:13px;	

	}

 </style>

<script>



var base_url=location.protocol + "//" + location.hostname + (location.port && ":" + location.port) + "/{{=request.application}}/";


$(function() {
	var scListStr="";
	$.ajax({
		  url: base_url+'default/get_depot_list_all',
		  success: function(resStr) {
			  scListStr=resStr
		  }
		});
	
	$('#receive_from').keyup(function(){	
		
			//-------------------------
			var ref_list = scListStr.split(',');				
			var ref_name=$("#receive_from").val();
			
			//---------------- auto complete combo list
			var ref_list_new=new Array();
			lc=0;
			i =0;
			var refStr="";				
			while (i < ref_list.length)
			{
				refStr=ref_list[i];
				i=i+1;					
				var res=refStr.toUpperCase().match(ref_name.toUpperCase());
				if (res!=null){
					ref_list_new[lc]=refStr;
					lc=lc+1;
					if (lc==30){
						break;
					};
				}else{
					continue;
				}					
			};
			//alert (ref_list_new);
			
			//-------------- auto complete source
			$( "input#receive_from" ).autocomplete({
				source: ref_list_new
			});
		
	  });
	
	//-------------------------------------
	
	
	
		var batchListStr="";
		
	 	var valueListStr=localStorage.itemDataStr;

		$('#item_details').keyup(function(){
			var  receive_from=$("#receive_from").val();
			var  store_id=$("#store_id").val();
			
			if(store_id==''){
				alert('Required Store To');
			}else{				
				if(receive_from==''){
					alert('Required Receive From');
				}else{			
					//-------------------------
		
					var valueList = valueListStr.split(',');				
		
					var searchValue=$("#item_details").val();
		
					//---------------- auto complete combo list
		
					var valueList_new=new Array();
		
					lc=0;
		
					i =0;
		
					var valueStr="";
						while (i < valueList.length){
							var valueStrList=valueList[i].split('|');				
							valueStr=valueStrList[0]+'|'+valueStrList[1]
							
							i=i+1;					
		
							var res=valueStr.toUpperCase().match(searchValue.toUpperCase());
		
							if (res!=null){
		
								valueList_new[lc]=valueStr;
		
								lc=lc+1;
		
								if (lc==30){
		
									break;
		
								};
		
							}else{
		
								continue;
		
							}					
		
						};
		
						//alert (ref_list_new);
		
						//-------------- auto complete source
		
						$( "input#item_details" ).autocomplete({
		
							source: valueList_new
		
						});
			};
			};
	  }); 
		
	   //==============	 

	   $('#item_details').blur(function(){

		   var my_array=new Array();
			my_array=$("#item_details").val().split('|');
			
			if (my_array.length == 2){
				document.getElementById('item_name').value=my_array[0];
				document.getElementById('item_id').value=my_array[1];
				<!--document.getElementById('dist_rate').value=my_array[3];-->
				
				document.getElementById('name_value').innerHTML = my_array[0];
				document.getElementById('id_value').innerHTML = my_array[1];
				<!--document.getElementById('price_value').innerHTML = my_array[3];	-->
				
				
				//--------------- get item batch id
				$.ajax({
				  url: base_url+'default/get_batch_by_item?itemId='+my_array[1],
				  success: function(resStr) {
					  batchListStr=resStr;
				  }
				});	
				
			};
		    //============
		}); 

	//==============	item batch add ajax	
	$('#batch_id').keyup(function(){
			
			var itemId=$('#item_id').val();
			
			//-------------------------
			$.ajax({
			  url: base_url+'default/get_batch_by_item?itemId='+itemId,
			  success: function(resStr) {
				  batchListStr=resStr;
			  }
			});
			
			var valueList = batchListStr.split(',');
			var searchValue=$("#batch_id").val();			
			//---------------- auto complete combo list
						
			var valueList_new=new Array();
			
			lc=0;	
			i =0;	
			var valueStr="";
			while (i < valueList.length){
				var valueStr=valueList[i];				
				//valueStr=valueStrList[0]+'|'+valueStrList[1]
				
				i=i+1;					

				var res=valueStr.toUpperCase().match(searchValue.toUpperCase());

				if (res!=null){

					valueList_new[lc]=valueStr;

					lc=lc+1;

					if (lc==30){

						break;

					};

				}else{
					continue;
				}					

			};
			
			//-------------- auto complete source

			$( "input#batch_id" ).autocomplete({
				source: valueList_new
			});	
	  }); 
	});
	 
//==============	item batch update ajax	
var batchListUpdateStr="";
function hideBtnPostCancel(){					
	$("#btn_post").hide();
	$("#btn_cancel").hide();
};

function batch_id_update_reset(){					
	batchListUpdateStr='';
};

function batch_id_update_keyup(itemIdRowid){					
	var itemId=itemIdRowid.split('_')[0];
	
	//-------------------------
	$.ajax({
	  url: base_url+'default/get_batch_by_item?itemId='+itemId,
	  success: function(resStr) {
		  batchListUpdateStr=resStr;
	  }
	});
	
	var searchValue=$("#batch_id_update_"+itemIdRowid).val();	
	var valueList = batchListUpdateStr.split(',');
				
	//---------------- auto complete combo list
	
	var valueList_new=new Array();
	
	lc=0;	
	i =0;	
	var valueStr="";
	while (i < valueList.length){
		var valueStr=valueList[i];				
		//valueStr=valueStrList[0]+'|'+valueStrList[1]
		
		i=i+1;					

		var res=valueStr.toUpperCase().match(searchValue.toUpperCase());

		if (res!=null){

			valueList_new[lc]=valueStr;

			lc=lc+1;

			if (lc==30){

				break;

			};

		}else{
			continue;
		}					

	};
	
	//-------------- auto complete source

	$( "input#batch_id_update_"+itemIdRowid).autocomplete({
		source: valueList_new
	});

}; 
//================


</script>



    



<body > 







<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;" >



  <tr height="30px" >



    <td width="500"><span class="blackCatTitle">GR Note(Receive)</span></td>



    <form action="{{=URL(c='depot',f='depot_stock_receive_list')}}" method="post">



    <td width="350" align="right"><input name="" type="submit"  value="Back"/></td>



    </form>


	<form id="form1" name="form1" method="post" action="{{=URL(c='depot',f='depot_stock_receive',vars=dict(req_sl=0))}}">
    <td width="50" align="right">    
    {{if access_permission==True:}}
		 <input type="submit" name="btn_new" id="btn_new" value="New"  class="button_update"/>
	{{pass}}    
    </td>
    </form>
    
    <td>&nbsp;</td>

  </tr>
  
  <tr  height="1px" style="background-color:#CCCCCC;">



	    <td colspan="4" ></td>



  </tr>



</table>



  



  



  <table width="100%" height="500px"  border="0" cellspacing="0" cellpadding="0" class="page_color"  >



  <tr height="100%"  style="vertical-align:top;">



    <td>



	<!--start-->



	<table width="100%"  border="0" cellpadding="0" cellspacing="0"  >



      <tr>



        <td width="0%">&nbsp;</td>



        <td colspan="2">&nbsp;</td>



      </tr>



      <tr>



        <td>&nbsp;</td>



        <td colspan="2">



          <table width="900" height="78" border="0" cellpadding="0" cellspacing="0">



            {{=form.custom.begin}}



			<tr>



			<td width="450" valign="top">



						



			<table class="blackCat">			  



                				



                <tr>



        <td> Receive To </td>



                  <td>:&nbsp;<input type="text" style="width:200px;" name="depot_id" id="depot_id" value="{{=depot_id}}|{{=depot_name}}" readonly/></td>



                  </tr>



      <tr>



        <td>Sl</td>



        <td>:&nbsp;<input type="text" style="width:200px;" name="sl" id="sl" value="{{=sl}}" readonly/></td>



        </tr>



      <tr>
        <td>Store To</td>
        <td>:
        {{if sl==0:}}
          <select name="store_id" id="store_id" style="width:215px;">
            <option value=""></option>            
            {{for row in storeRecords:}}
            <option value="{{=row.store_id}}|{{=row.store_name}}" >{{=row.store_id}} | {{=row.store_name}}</option>
            {{pass}}            
          </select>
        {{else:}}
        <input type="text" name="store_id" id="store_id" value="{{=store_id}}|{{=store_name}}" style="background-color:#F3F3F3;width:200px;" readonly/>
        {{pass}}
        </td>
      </tr>
      <tr>



        <td>Receive From  </td>



        <td>:
		{{if receive_from=='':}}                    	
                <input type="text" name="receive_from" id="receive_from" value="" style="width:200px;" />                                                
        {{else:}}
            <input type="text" name="receive_from" id="receive_from" value="{{=receive_from}}|{{=depot_from_name}}" style="width:200px;" readonly />        
        {{pass}}
        
		<!--{{if receive_from=='':}}
			<select name="receive_from" id="receive_from" style="width:215px;">				
				<option value=""></option>
				{{for row in reqRecords:}}
					<option value="{{=row.depot_id}}|{{=row.name}}" >{{=row.depot_id}} | {{=row.name}}</option>
				{{pass}}		
			</select>
		{{else:}}-->
        	<!--<input type="text" style="width:200px;" name="receive_from" id="receive_from" value="{{=receive_from}}|{{=depot_from_name}}" readonly/>-->
			<!--<select name="receive_from" id="receive_from" style="background-color:#F3F3F3; border:thin; width:200px;">
				<option value="{{=receive_from}}" selected="selected">{{=receive_from}}</option>
			</select>-->
		<!--{{pass}}-->



		



		</td>



        </tr>



      <tr >



        <td align="left">Reference</td>



        <td >:



		{{if sl!=0:}}
			<input type="text" name="ref_sl" id="ref_sl" style="width:120px" value="{{=ref_sl}}" readonly title="enter issue number"/>

		{{else:}}
			<input type="text" name="ref_sl" id="ref_sl" style="width:120px" value="" title="enter issue number"/>

		{{pass}}


		{{if (status=='Posted') or (status=='Cancelled') or (ref_sl!=0) or (access_permission!=True):}}

		&nbsp;

		{{else:}}
		<input type="submit" name="btn_import_req" id="btn_import_req" style="width:30px;" value=" I " title="Import (with fillup Receive from,Rererence and Date)"/>

		{{pass}}

		&nbsp;<a href="{{=URL(c='depot',f='show_pending_issue',vars=dict(depotId=depot_id))}}" target="_blank"><input type="button" value="Receivable" title="Receivable (In Transit)"/></a></td>

        </tr>
      <tr >
        <td align="left">Cause</td>
        <td >
        
        : {{if transaction_cause=='':}}
                <select name="transaction_cause" id="transaction_cause" style="width:215px;">
                    <option value=""></option>
                    {{for row in refRecords:}}
                        <option value="{{=row.cat_type_id}}" >{{=row.cat_type_id}}</option>
                    {{pass}}
                </select>
            {{else:}}
                <input type="text" name="transaction_cause" id="transaction_cause" value="{{=transaction_cause}}" style="background-color:#F3F3F3;width:200px;" readonly/>
            {{pass}}
        
        </td>
      </tr>



      <tr>
        
        
        
        <td>Date</td>
        
        
        
        <td>:&nbsp;<input name="receive_date" type="Text" id="date1" style="width:200px;" value="{{=receive_date}}" readonly  /></td>
        
        
        
      </tr>



      </table>			  </td>



              <td width="450" align="right" valign="top"><table class="blackCat">



      <tr>



        <td>Status</td>



        <td>:<input type="text" name="status" id="status" value="{{=status}}" style="width:200px;" readonly/></td>



        </tr>



      <tr>



        <td>Process Status </td>



        <td>:<input type="text" name="receive_process_status" id="receive_process_status" style="width:200px;" value="{{=receive_process_status}}" readonly/></td>



        </tr>



      <tr>



        <td>Description</td>



        <td>:<input type="text" name="note" id="note" style="width:200px;" value="{{=note}}"/></td>



        </tr>



      



      <tr>



        <td>&nbsp;</td>



        <td>



		{{if ((status=='Posted') or (status=='Cancelled') or (sl==0) or (access_permission!=True) ):}}<!--or (ref_sl!=0)-->



		&nbsp;



		{{else:}}



		&nbsp;<input type="submit" name="btn_update" id="btn_update" value="Update"/>



		  {{pass}}
          </td>
        </tr>
      
      {{if status=='Posted':}}
      <tr>
        <td> Dispute</td>
        <td>:&nbsp;{{if disputeSl==0:}}NO{{else:}}<a href="{{=URL(c='depot',f='depot_trans_dispute',vars=dict(req_sl=disputeSl,depotid=depot_id))}}" target="_blank">YES</a>{{pass}}&nbsp;</td>
      </tr>
	  {{pass}}
      
      <tr>
        <td>&nbsp;</td>
        <td align="right"><!-- or (sl==0)-->
		{{if ((status=='Posted') or (status=='Cancelled') or (access_permission!=True) or (ref_sl!=0)):}}
		&nbsp;
		{{else:}}
			<input type="button" id="btn_batch" class="button_update"  title="Add New Batch"  value=" + "/> 
		{{pass}}
                    
          </td>
      </tr>
    </table>
    
    </td>
    </tr>
        <tr id="upload_div" style="border:solid 2px #666666">
          <td width="450" valign="bottom">Download this <a href="{{=URL('static','receive_item_upload_format.xls')}}">Excel Template</a>, fillup with data and copy(maximum 100 records)-paste to upload field; Total Records:{{=total_row}};&nbsp;Saved:{{=count_inserted}};&nbsp;Error:{{=count_error}}			
          <br />
          <textarea name="error_data" id="error_data" style="font-size:10px; background-color:#F5F5F5; border:solid 1px #996666;width:400px; margin-bottom:0px" cols="80" rows="6" >{{if error_str!=None:}}{{=error_str}}{{pass}}</textarea></td>
          <td width="450" align="right">
          	<textarea name="input_data" id="input_data" style="font-size:10px; width:300px;" cols="50" rows="7" ></textarea>
          	<input type="submit" name="btn_batch_upload" id="btn_batch_upload" value="Upload"/>
        	<input type="button" id="btn_hide"  value="  -  "  class="button_update" title="Hide New Batch"/>
          </td>
         </tr>
		</table>
		    <table width="900" border="1" cellpadding="1" cellspacing="1" class="sample_border">
                  {{if (status!='Posted' and status!='Cancelled' ):}}
                      <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">

                        <td colspan="4" style="font-size:9px;"><strong>Name:</strong> <span id="name_value"></span>,&nbsp;<strong>ID:</strong> <span id="id_value"></span></td>

                        <td width="80" align="right"  >&nbsp;</td>
                        <td width="30" align="right"  >&nbsp;</td>
                      </tr>
                    <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">
                    <td colspan="2" >
					<input type="hidden" name="item_id" id="item_id" />					
					<input type="hidden" name="item_name" id="item_name" />
					<input type="hidden" name="dist_rate" id="dist_rate" value="0" />
                    <input type="text" name="item_details" id="item_details" style="width:300px;" value="" placeholder="Select Item" autocomplete="off" autofocus />
                    </td>
                    <td width="200" align="left"  >
                    <input type="text" name="batch_id" id="batch_id" style="width:200px;" value="" placeholder="Select Batch ID by Item ID" autocomplete="off" />
					
                    </td>

                    <td width="30" align="right"  >{{=form.custom.widget.quantity}} </td>

                    <td width="80" align="right"  >

					{{=form.custom.submit}}	</td>

                    <td width="30" align="right"  >&nbsp;</td>

                  </tr>

				  {{pass}}

				  {{=form.custom.end}}
			  <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">                    

                    <td>Name</td>

					<td width="80" >Item ID </td>

                    <td width="200" align="left">Batch ID </td>

                    <td width="30" align="right"  >Qty</td>

                    <td width="80" align="right"  >&nbsp;</td>

                    <td  align="right"  >&nbsp;</td>

                  </tr>

				{{total_qty=0}}
				  
			   {{for record in (records):}}
				
                {{itemid_rowid=str(record.item_id)+'_'+str(record.id)}}
                
			<tr  align="left" class="blackCat"  style="vertical-align:middle"> 			  

 <form id="form1" name="form1" method="post" action="{{=URL(c='depot',f='delete_update_receive_item',args=[depot_id,sl,record.item_id,record.id])}}">

			  <td >{{=record.item_name}}</td>
			  <td width="80" >{{=record.item_id}}</td>
			  <td width="200" align="left" >
              <input type="text" name="batch_id_update_{{=itemid_rowid}}" id="batch_id_update_{{=itemid_rowid}}" style="width:200px;" value="{{=record.batch_id}}" onKeyUp="batch_id_update_keyup('{{=itemid_rowid}}')" onBlur="batch_id_update_reset()" placeholder="Select Batch ID by Item ID" autocomplete="off" />
              </td>

			  <td width="30" align="right" >{{total_qty+=record.quantity}}			    
			    <input type="number" name="item_qty" id="item_qty" style="width:60px; text-align:right" value="{{=record.quantity}}"  placeholder="QTY" autocomplete="off" />
			  </td>
			  <td width="80" align="right"  >
			    {{if ((status=='Posted') or (status=='Cancelled') or (access_permission!=True)):}}
			    &nbsp;
			    {{else:}}
			    <input type="submit" name="btn_update" id="btn_update" value="Update"  class="button_update"/>	
			    {{pass}}
			    
			    </td>
			  <td width="30" align="right"  >
              {{if ((status=='Posted') or (status=='Cancelled') or (access_permission!=True)):}}
				&nbsp;
				{{else:}}              
              <input type="submit" name="btn_delete" id="btn_delete" value="X"  class="button_update"/></td>  

				{{pass}}
			  </form>

			</tr>

			   {{pass}}

		    </table>



			  



         </td>		  



      </tr>



      <tr>



        <td>&nbsp;</td>



        <td colspan="2" style="padding-left:0px;">



		



		<table width="800" >



			 



			  

	{{#=ref_sl}}

	 

		  <tr>

	    <td width="250">

        

    

        

        </td>

	    <td>&nbsp;</td>

	    </tr>

        

	  <tr>

	    <td width="250">&nbsp;</td>

	    <td>&nbsp;</td>

	    </tr>

	  <tr>



	    <td width="250">&nbsp;</td>



	    <td>&nbsp;</td>



	    </tr>

	 <form id="form1" name="form1" method="post" action="{{=URL(c='depot',f='post_cancel_receive',args=[depot_id,sl,ref_sl])}}">

	  <tr>



        <td width="250">



		<a href="{{=URL(c ='depot',f ='preview_receive',args=[depot_id,sl])}}" style="text-decoration:none" target="_blank">



          <input name="button" type="button" style="width:240px;" value="(2.01) Preview-GR Note"/>



		</a></td>

		  <td>

            {{if ( (status=='Posted') or (status=='Cancelled') or (access_permission==False) ):}}

			&nbsp;

			{{else:}}

			<input type="submit" name="btn_post" id="btn_post" style="width:80px;" value="Post" onClick="hideBtnPostCancel()"/>

			&nbsp;

			<input type="submit" name="btn_cancel" id="btn_cancel" style="width:80px;" value="Cancel" onClick="hideBtnPostCancel()"/>

		{{pass}}</td>



      </tr>
	  <tr>
	    <td width="250">
        
        <a href="{{=URL(c ='depot',f ='preview_received_note',args=[depot_id,sl])}}" style="text-decoration:none" target="_blank">
          <input name="button" type="button" style="width:240px;" value="(2.4) Preview-Goods Received Note"/>
		</a>
        
        </td>
	    <td>&nbsp;</td>
	    </tr>



	  </form>



    </table>



		<br>



        <strong>Note:</strong> One Item need to add manually to show Batch upload Option</td>

      </tr>

	  </table>

<!--end-->

	</td>

  </tr>

</table>

</body>

<script>
		jQuery("document").ready(function(){
			 jQuery('#upload_div').hide();
		});

		jQuery("#btn_batch").click(function(){
			  jQuery('#upload_div').show();
		});

		jQuery("#btn_hide").click(function(){
		   jQuery('#upload_div').hide();
		});

	</script>



