{{extend 'layout.html'}}



<link rel="stylesheet" href="{{=URL('static', 'js_and_css/ui.theme.css')}}" type="text/css" />

<link rel="stylesheet" href="{{=URL('static', 'js_and_css/jquery-ui.css')}}" type="text/css" />

<link rel="stylesheet" href="{{=URL('static', 'js_and_css/style.css')}}" type="text/css" />

<script src="{{=URL('static','js_and_css/jquery-1.8.2.js')}}"></script>

<script src="{{=URL('static','js_and_css/jquery-ui.js')}}"></script>

  

  <style type="text/css">

 input[type=text], input[type=password],  select {

    margin: 2px 0px 2px 0px;

	width:100px;

}

div.error {

    padding: 0px;

	width:inherit;

	margin-left:0px;

}

.page_color,body{

	font-family:Arial, Helvetica, sans-serif;

	font-size:13px;	

	}

	

 </style>

 

 

 <script>

var base_url=location.protocol + "//" + location.hostname + (location.port && ":" + location.port) + "/{{=request.application}}/";



$(function() {

	 	var valueListStr="";		

		$('#depot_id_value').keyup(function(){

			$.ajax({

				  url: base_url+'default/get_depot_list',

				  success: function(resStr) {

					  valueListStr=resStr

				  }

				});

			

			//-------------------------

			var valueList = valueListStr.split(',');				

			var searchValue=$("#depot_id_value").val();

			

			//---------------- auto complete combo list

			var valueList_new=new Array();

			lc=0;

			i =0;

			var valueStr="";				

			while (i < valueList.length)

			{

				valueStr=valueList[i];

				i=i+1;					

				var res=valueStr.toUpperCase().match(searchValue.toUpperCase());

				if (res!=null){

					valueList_new[lc]=valueStr;

					lc=lc+1;

					if (lc==30){

						break;

					};

				}else{

					continue;

				}					

			};

			//alert (ref_list_new);

			

			//-------------- auto complete source

			$( "input#depot_id_value" ).autocomplete({

				source: valueList_new

			});

		

	  }); 

	   //==============	   

	   	   

}); 

</script>

 

 

<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;" >

  <tr height="30px" >

    <td width="500"><span class="blackCatTitle">Transfer Note(Issue List)</span></td>

    <form action="{{=URL(c='depot',f='primary_sales_home')}}" method="post">

    <td width="415" align="right"><!--<input name="Input" type="submit"  value="Back"/>--></td>

	</form>

    <td>&nbsp;</td>

  </tr>

  <tr  height="1px" style="background-color:#CCCCCC;">

	    <td colspan="3" ></td>

  </tr>

</table>

  

  <table width="100%" height="500px"  border="0" cellspacing="0" cellpadding="0" class="page_color"  >

  <tr height="100%"  style="vertical-align:top;">

    <td width="5">&nbsp;</td>

    <td>

		<table width="100%"  border="0" cellpadding="0" cellspacing="0"  >

		  <tr>

			<td align="left">

			

            <table width="900" border="0" cellpadding="0" cellspacing="0" >

            <form id="form1" name="form1" method="post" action="{{=URL(c='depot',f='depot_stock_issue',vars=dict(req_sl=0))}}" target="_blank">

              <tr  align="left" class="blackCat"  style="vertical-align:middle">

                <td width="807" align="left" >      

                <td width="93" align="right"  >{{if access_permission==True:}}

                  <input type="submit" name="btn_new" id="btn_new" value="New"  class="button_update"/>

                  {{pass}}</td>

              </tr>

                </form>

             </table>

            

        </td>

          </tr>

          <tr>

            <td>

          <table width="720" height="78" border="0" cellpadding="0" cellspacing="0">            

            <tr>

              <td width="100%" colspan="2">

			  <br />

				

			  <table width="900" border="1" cellpadding="1" cellspacing="1" class="sample_border" >

		   

		   		<form id="form1" name="form1" method="post" action="{{=URL(c='depot',f='depot_stock_issue_list')}}">

                  <tr align="left" class="blackCatHead" height="20px" ;"vertical-align:middle">

                    <td width="150" >

                    

                      {{if session.user_type!='Depot':}}

                         {{if session.depot_id_value_issue=='' or session.depot_id_value_issue==None:}}

                            <input  name="depot_id_value" type="text" id="depot_id_value" style="width:250px" value="" placeholder="Selet Issue From" autocomplete="off"/>

                        {{else:}}

                            <input  name="depot_id_value" type="text" id="depot_id_value" style="width:250px" value="{{=session.depot_id_value_issue}}" placeholder="Enter value" autocomplete="off"/>

                        {{pass}}

                      {{else:}}

                      	<input  name="" type="text" id="" style="width:250px; background-color:#F8F8F8" value="{{=session.depot_id}}|{{=session.user_depot_name}}" disabled="disabled" />

                      {{pass}}	

                      

           				</td>

                    <td width="140"  title="Date">

                     <select name="search_type" id="search_type" style="width:140px" >

                        <option value="" selected="selected">Select a Type</option>

                          {{if session.search_type_issue=='SL':}}<option value="SL" selected="selected">SL</option>{{else:}}<option value="SL" >SL</option>{{pass}}

                          {{if session.search_type_issue=='DATE':}}<option value="DATE" selected="selected">DATE(YYYY-MM-DD)</option>{{else:}}<option value="DATE" >DATE(YYYY-MM-DD)</option>{{pass}}

                          {{if session.search_type_issue=='STATUS':}}<option value="STATUS" selected="selected">Status</option>{{else:}}<option value="STATUS" >Status</option>{{pass}}

                          {{if session.search_type_issue=='IssueTo':}}<option value="IssueTo" selected="selected">Issue To</option>{{else:}}<option value="IssueTo" >Issue To</option>{{pass}}

					</select>

                    </td>

                    <td width="220"  >

                    {{if session.search_value_issue=='' or session.search_value_issue==None:}}

                        <input  name="search_value" type="text" id="search_value" size="25" value="" placeholder="Enter value" autocomplete="off" style="width:300px"/>

                    {{else:}}

                        <input  name="search_value" type="text" id="search_value" size="25" value="{{=session.search_value_issue}}" placeholder="Enter value" autocomplete="off" style="width:300px"/>

                    {{pass}}

                    

                    <td  style="text-align:right">

                      <input type="submit" name="btn_filter_issue" id="btn_filter_issue" value="Filter"  class="button_update" title=""/>&nbsp;&nbsp;&nbsp;<input type="submit" name="btn_all" id="btn_all" value="All"  class="button_update"/></td>

                    </tr>

			  </form>

          </table>

			  <br />

			  

			  <table width="900" border="1" cellpadding="1" cellspacing="1" class="sample_border" >

                  <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">

                    <td width="180" >Issue From </td>
                    <td width="200" >Store</td>

                    <td width="50" >SL</td>

                    <td width="100"  >Date</td>

                    <td width="250"  >Issue  To </td>

					<td width="50"  >Reference</td>

                    <td width="80" align="center"  >Status</td>

                    <td width="80" align="center"  >Process Status </td>

                    <td  >Note</td>

                    <td width="50"  >&nbsp;</td>

                  </tr>

				  

				  {{#preSl=0}}

				  {{#newsl=0}}



                  {{ p=0}} 		  

			   {{for i,record in enumerate(records):}}

			{{ if i==items_per_page: break}}

		  

				{{#newsl=record.sl}}

				{{#if preSl!=newsl and newsl!=0:}}	

				

			<tr  align="left" class="blackCat"  style="vertical-align:middle"> 

			  <td width="180" >{{=record.depot_id}}|{{=record.depot_name}}</td>
			  <td width="200" >{{=record.store_id}}|{{=record.store_name}}</td>

			  <td width="50" >{{=record.sl}}</td>

			  <td width="100" >{{=record.issue_date.strftime('%d-%m-%Y')}}</td>

			  <td width="250" >{{=record.issued_to}}|{{=record.depot_to_name}}</td>

			  <td width="50" >

			  {{if (record.req_sl>0):}}

			  {{=record.req_sl}}

			  {{pass}}			  </td>

			  <td width="80" align="center" >{{=record.status}}</td>

			  <td width="80" align="center"  >{{=record.issue_process_status}}</td>

			  <td  >{{=record.note}}</td>

			  <form id="form1" name="form1" method="post" action="{{=URL(c='depot',f='depot_stock_issue',vars=dict(req_sl=record.sl,depotid=record.depot_id))}}" target="_blank">

			  <td width="50" align="right"  ><input type="submit" name="btn_detail" id="btn_detail" value="details"  class="button_update"/>        </td>

			  </form>

			</tr>

			{{#pass}}

		   {{#preSl=newsl}}

		   {{pass}}

              </table>  </td>

              </tr>

          </table>          </td>

      </tr>

    </table>

      

{{if page:}}

&nbsp;&nbsp;<a href="{{=URL(args=[page-page])}}">first</a> |

&nbsp;&nbsp;<a href="{{=URL(args=[page-1])}}">previous</a> |

{{pass}}



{{if len(records)>items_per_page:}}

&nbsp;&nbsp;<a href="{{=URL(args=[page+1])}}">next</a>

{{pass}}	</td>

  </tr>

</table>

<br />

<br />



