{{extend 'layout_invoice.html'}}

<html>

<head>



</head>

<body>

		<!--<img src="{{#=URL('static','images/SKFLogo.png')}}"/> style="background:url({{#=URL('static','images/SKFLogo.png')}}); background-repeat:no-repeat; background-position:center"-->
        
        
		<table width="900" border="0" cellspacing="1" cellpadding="1" >          

		<tr style="font-size:15px; font-weight:bold">
		  <th colspan="8" align="center" ><!--SKSH--><span style="font-size:25px; font-weight:bold;border-bottom:solid; border-bottom-color:#999">Internal Transfer</span></th>
		  </tr>
		<tr >
	      <td colspan="3" valign="top" >&nbsp;</td>
	      <td rowspan="3" align="center" valign="middle" ><img src="{{=URL('static','images/comp_logo1.png')}}"/></td>
	      <td valign="top" >&nbsp;</td>
	      <td colspan="3" valign="top" >&nbsp;</td>
	      </tr>
		  <tr >
		    <td width="120" valign="top" >&nbsp;</td>
		    <td width="1" valign="top" >&nbsp;</td>
		    <td width="240" valign="top" ></td>
		    <td width="5" valign="top" >&nbsp;</td>
		    <td width="100" align="center" valign="top" >&nbsp;</td>
		    <td align="center" valign="top" >&nbsp;</td>
		    <td align="left" valign="top" ><strong>{{=depotName}}</strong></td>
	      </tr>
		  <tr >
		    <td width="120" valign="top" >Transaction Date</td>
		    <td width="1" valign="top" ><strong>:</strong></td>
		    <td valign="top" >{{if damage_date!=None:}}{{=damage_date.strftime('%d-%m-%Y')}}{{pass}}</td>
		    <td valign="top" >&nbsp;</td>
		    <td width="100" align="right" valign="top" >Doc No</td>
		    <td width="1" valign="top" ><b>:</b></td>
		    <td width="180" valign="top" ><strong>{{=session.prefix_invoice}}TR{{=depot_id}}-{{=sl}}</strong></td>
	      </tr>
		  <tr >
		    <td width="120" valign="top" >&nbsp;</td>
		    <td width="1" valign="top" >&nbsp;</td>
		    <td colspan="3" valign="top" >&nbsp;</td>
		    <td width="100" valign="top" >&nbsp;</td>
		    <td width="1" valign="top" >&nbsp;</td>
		    <td width="180" valign="top" >&nbsp;</td>
	      </tr>
    </table>
		
    <table width="600"  class="sample_border" style="border: solid 1px #C4C4C4">
      <tr class="blackCatHead" style="vertical-align:middle; background-color:#E6E6E6">
        <td width="120" align="left"><strong>Transec.Type</strong></td>
        <td width="50" align="left"><strong>Status</strong></td>
        <td align="left"><strong>Cause</strong></td>
        <td align="left"><strong>Description</strong></td>
      </tr>
      <tr class="blackCat" style="vertical-align:middle; background-color:#FBFBFB">
        <td width="120" align="left"> Internal Transfer</td>
        <td width="50" align="left">{{=status}}</td>
        <td align="left">{{=cause}}</td>
        <td align="left">{{=note}}</td>
      </tr>
    </table>
	<br>
  <table width="900" border="1" cellpadding="1" cellspacing="1" class="sample_border" style="border: solid 1px #C4C4C4">

  <tr align="left" class="blackCatHead"  height="20px" style="vertical-align:middle; background-color:#E6E6E6">
    <td colspan="2" align="center" >ITEM</td>
    <td width="60" rowspan="2" align="center" >UOM</td>
    <td colspan="2" align="center" >LOCATION</td>
    <td colspan="4" align="center"  >QUANTITY</td>
    <td width="60" rowspan="2" align="right"  >TP Rate</td>
    <td width="80" rowspan="2" align="right"  >TP Amount </td>
  </tr>
  <tr align="left" class="blackCatHead"  height="20px" style="vertical-align:middle; background-color:#E6E6E6">

    <td width="60" >ID</td>
    <td > Name</td>
    <td width="120" >From</td>
    <td width="80" >To</td>

    <td width="50" align="right"  >Qty</td>
    <td width="60" align="center"  >M.Carton</td>
    <td width="50" align="left"  >Batch No</td>
    <td width="100" align="center"  >Expiry Date</td>
    </tr>

	{{total_qty=0}}
    {{total_tp=0}}
    {{mCartonTotal=0}}
    {{for row in detailRecords:}}

    	{{qty=0;rate=0;mCarton=0}}

          <tr  align="left" class="blackCat"  style="vertical-align:middle; background-color:#FBFBFB">
        
            <td width="60" >{{=row.sm_damage.item_id}}</td>
            <td >{{=row.sm_damage.item_name}}</td>
            <td width="60" >{{=row.sm_item.unit_type}}</td>
            <td width="120" >{{=row.sm_damage.store_name}}</td>
            <td width="80" >{{=row.sm_damage.store_name_to}}</td>
        
            <td width="50" align="right" >{{qty=int(row.sm_damage.quantity)}}{{=qty}} {{total_qty+=qty}}</td>
            <td width="60" align="center" >{{cartonQty=row.sm_item.item_carton}}{{try:}}{{mCarton=round(float(qty)/cartonQty,2)}}{{except:}}{{pass}} {{=mCarton}}{{mCartonTotal+=mCarton}}</td>
            <td width="50" align="left" >{{=row.sm_damage.batch_id}}</td>
            <td width="100" align="center" >{{=row.sm_item_batch.expiary_date.strftime('%d-%b-%Y')}}</td>
            <td width="60" align="right" >{{rate=row.sm_damage.dist_rate}}{{=rate}}</td>
        
            <td width="80" align="right" >{{amt=qty*rate}}{{=easy_format(amt)}}{{total_tp+=amt}}</td>
        
          </tr>

    {{pass}}

{{total_tp=round(total_tp,2)}}

  <tr  align="left" class="blackCat"  style="background-color:#FBFBFB">
    <td align="left" style="border-bottom-style:none; border-left:none; border-top:none">&nbsp;</td>
    <td align="left" style="border-bottom-style:none; border-left:none; border-top:none">&nbsp;</td>
    <td align="right" style="border-bottom-style:none; border-left:none; border-top:none">&nbsp;</td>
    <td width="120" align="right" style="border-bottom-style:none; border-left:none; border-top:none">&nbsp;</td>
    <td width="80" align="right" style="border-bottom-style:none; border-left:none; border-top:none"><strong>Total Qty</strong></td>
    <td width="50" align="right" style="border-bottom-style:none; border-left:none; border-top:none">{{=total_qty}}</td>
    <td align="center" style="border-bottom-style:none; border-left:none; border-top:none">&nbsp;</td>
    <td width="50" align="left" style="border-bottom-style:none; border-left:none; border-top:none">&nbsp;</td>
    <td width="100" align="center" style="border-bottom-style:none; border-left:none; border-top:none">&nbsp;</td>
    <td align="right" style="border-bottom-style:none; border-left:none; border-top:none"><strong>Total TP</strong></td>
    <td width="80" align="right" ><strong>{{=easy_format(total_tp)}}</strong></td>
  </tr>
  
</table>
<table width="900" >
    <tr>
      <td width="100" align="left"><strong>Comments:</strong></td>
      <td align="left"><strong><!--Transcom Distribution Co. Ltd.-->
      </strong></td>
    </tr>
</table>
<br>
<br/>
<table width="900" >
	<tr>
	  <td >{{=updatedBy}}</td>
	  <td >&nbsp;</td>
	  <td >&nbsp;</td>
  </tr>
 <tr style="height:2px;">
	  <td align="center" style="height:2px;">____________________</td>
	  <td align="center" style="height:2px;">&nbsp;</td>
	  <td width="150" align="right" style="height:2px;">_______________</td>
  </tr>
	<tr>
	  <td width="150" align="left"><strong>Prepared By</strong></td>
	  <td align="center">&nbsp;</td>
	  <td width="150" align="right"><strong>Authorised By</strong></td>
  </tr>
</table>

</body>
</html>

