{{extend 'layout_invoice_landscap.html'}}
{{current_date=datetime.datetime.strptime(str(current_date),'%Y-%m-%d')}}
    
{{pageFlag=1}}	
<!--page break-->
{{if pageFlag==0:}}
<span style="page-break-before:always"></span>        
<!-- Report header-->                    
<table width="1150">
    <tr>
        <td width="100" ><img width="25px" src="{{=URL('static','images/comp_logo2.png')}}"/></td>
        <td style="text-align:center; font-size:24px; font-weight:bold">{{=session.cName}}</td>
        <td width="100" >&nbsp;</td>
    </tr>
</table>			
<table width="1150" style="border: solid 1px #C4C4C4">
    <tr style="border-bottom:solid; border-bottom-color:#999">
      <td align="center">{{=session.user_depot_address}}</td>
  </tr>
</table>
    <!--<hr/>-->
    <!-- end report header  -->
{{pass}}

{{pageFlag=0}}

<!--end page break-->

<table width="1150" cellpadding="1" cellspacing="1" style="border:none;" >
    <tr >
      <td width="100" align="right" >Inv Date From</td>
      <td width="2" >:</td>
      <td width="80" >{{=date_from}}</td>
      <td width="100" align="right" >To Date</td>
      <td width="2" >:</td>
      <td width="80" >{{=date_to}}</td>
      <td width="150" align="left" >Market:{{=market_name}}</td>
      <td width="30" align="right" >Depot</td>
      <td width="2" >:</td>
      <td width="100" >{{=depotName}}</td>
      <td width="30" align="right" >Store</td>
      <td width="2" >:</td>
      <td >{{=storeName}}</td>
      <td width="50" ><a href="{{#=URL(c='report',f='outStTerritoryWise_download',vars=dict(fromDate=fromDate,toDate=toDate,depotID=depotID,storeID=storeID,deliveryManID=deliveryManID,territoryID=territoryID,msoID=msoID,invoice_term=invoice_term,customerId=customerId))}}" ><!--Download--></a><span style="float:right">#9</span></td>
  </tr>
    <tr >
      <td align="right" >DP</td>
      <td >:</td>
      <td >{{=delivery_man_name}}</td>
      <td align="right" >Territory</td>
      <td >:</td>
      <td >{{=territory_name}}</td>
      <td width="150" align="left" >Customer: {{=customerName}}</td>
      <td align="right" >MSO</td>
      <td >:</td>
      <td >{{=mso_name}}</td>
      <td align="right" ></td>
      <td ></td>
      <td >&nbsp;</td>
      <td ><a href="{{=URL(c='report_sales2',f='discount_type_wise_sales_download',vars=dict(date_from=date_from,date_to=date_to,depot_id=depot_id,store_id=store_id,customer_id=customer_id,dman_id=dman_id,territory_id=territory_id,market_id=market_id,mso_id=mso_id))}}" >Download</a></td>
    </tr>
</table>      
<table width="1150" cellpadding="1" cellspacing="1" style="border:none;" >
        <tr >
          <td align="center">
          <div style="border: solid 1px #C4C4C4; width:90%; font-weight:bold;" >9. Discount Type Wise Sales Statement Details</div></td>
          <td width="50" align="center"><img style="width:80px;" src="{{=URL('static','images/comp_logo1.png')}}"/></td></tr>
</table>

<table width="1600" border="1" cellpadding="1" cellspacing="1" class="sample_border" >            

    <tr align="left" class="blackCatHead" height="20px" ;  style="font-size:12px">
      <td colspan="8" align="center" style="border-right:solid 1px #666; border-left-style:hidden; border-top-style:hidden">&nbsp;</td>
      <td colspan="4" align="center" style="border-right:solid 1px #666">Invoice</td>
      <td colspan="4" align="center" style="border-right:solid 1px #666">Return</td>
      <td colspan="4" align="center"  >Net Sales</td>
    </tr>
    <tr align="left" class="blackCatHead" height="20px" ;  style="font-size:12px">
      <td width="60" align="center"  >Inv.Date</td>
      <td width="100" align="left"  >Inv.Number</td>
      <td width="80" align="left"  >Cust.ID</td>
      <td width="150" align="left"  >Cust.Name</td>
      <td width="50" align="left"  >MSOTr.</td>
      <td width="100" align="left" style="border-right:solid 1px #666">Market Name</td>
      <td width="50" align="center" style="border-right:solid 1px #666">Reg.Disc</td>
      <td width="50" align="center" style="border-right:solid 1px #666">SpDisc</td>
      <td width="50" align="right"  >TP</td>
      <td width="30" align="right"  >Disc</td>
      <td width="30" align="right"  >VAT</td>
      <td width="50" align="right"  style="border-right:solid 1px #666">Net</td>
      <td width="50" align="right"  >TP</td>
      <td width="30" align="right"  >Disc</td>
      <td width="30" align="right"  >VAT</td>
      <td width="50" align="right"  style="border-right:solid 1px #666">Net</td>
      <td width="50" align="right"  >TP</td>
      <td width="30" align="right"  >Disc</td>
      <td width="30" align="right"  >VAT</td>
      <td width="50" align="right"  >Net</td>
  </tr>
    
    {{invTpTotal=0}}
    {{invDiscTotal=0}}
    {{invNetTotal=0}}
    {{invVatTotal=0}}
        
    {{retTpTotal=0}}
    {{retDiscTotal=0}}
    {{retNetTotal=0}}
    {{retVatTotal=0}}
    
    {{netTpTotal=0}}
    {{netDiscTotal=0}}
    {{netVatTotal=0}}
    {{netGrandTotal=0}}
    
    {{for i in range(len(recordList)):}}    
    {{ #if i==items_per_page: break}}
	
    {{recData=recordList[i]}}
	
     {{invTpAmt=round(recData['actualTpAmt'],2)}}{{invTpTotal+=invTpAmt}}
     {{invDiscAmt=round(recData['discAmt']+recData['spDiscAmt'],2)}}{{invDiscTotal+=invDiscAmt}}
     {{invVatAmt=round(recData['vatTotalAmt'],2)}}{{invVatTotal+=invVatAmt}}
     {{invNetAmt=round(invTpAmt+invVatAmt-invDiscAmt,2)}}{{invNetTotal+=invNetAmt}}
     
     {{retTpAmt=round(recData['retTpAmt']+recData['retSpDiscAmt'],2)}}{{retTpTotal+=retTpAmt}}
     {{retDiscAmt=round(recData['retDiscAmt']+recData['retSpDiscAmt'],2)}}{{retDiscTotal+=retDiscAmt}}
     {{retVatAmt=round(recData['retVatAmt'],2)}}{{retVatTotal+=retVatAmt}}
     {{retNetAmt=round(retTpAmt+retVatAmt-retDiscAmt,2)}}{{retNetTotal+=retNetAmt}}
     
     {{netTp=invTpAmt-retTpAmt}}{{netTpTotal+=netTp}}
     {{netDisc=invDiscAmt-retDiscAmt}}{{netDiscTotal+=netDisc}}
     {{netVat=invVatAmt-retVatAmt}}{{netVatTotal+=netVat}}
     {{netGrandAmt=invNetAmt-retNetAmt}}{{netGrandTotal+=netGrandAmt}}
      
      {{invDiscAmtRD=round(recData['discAmt'],2)}}
      {{invDiscAmtSP=round(recData['spDiscAmt'],2)}}
      
      {{try:}}
      	{{regularDiscRate=round((invDiscAmtRD*100)/invTpAmt,2)}}
      	{{specialDiscRate=round((invDiscAmtSP*100)/invTpAmt,2)}}
      {{except:}}
      	{{regularDiscRate=0}}
      	{{specialDiscRate=0}}      
      {{pass}}
  <tr  align="left" class="blackCat"  style="background-color:#FBFBFB; font-size:11px;">
    <td width="60" align="center" ><span style=" text-align:center;">{{=recData['invoice_date'].strftime('%d-%b-%Y')}}</span></td>	
    <td width="100" align="left" >{{=session.prefix_invoice}}INV{{=recData['depot_id']}}-{{=recData['invSl']}}</td>
    <td width="80" align="left" >{{=recData['client_id']}}</td>
    <td width="150" align="left" >{{=recData['client_name']}}</td>
    <td width="50" align="left" >{{=recData['area_id']}}</td>
    <td width="100" align="left" style="border-right:solid 1px #666">{{=recData['market_name']}}</td>
    <td width="50" align="center" style="border-right:solid 1px #666">{{if regularDiscRate==0:}}-{{else:}}{{=regularDiscRate}} %{{pass}}</td>
    <td width="50" align="center" style="border-right:solid 1px #666">{{if specialDiscRate==0:}}-{{else:}}{{=specialDiscRate}} %{{pass}}</td>
    <td width="50" align="right" >{{=easy_format(invTpAmt)}}</td>
    <td width="30" align="right" >{{if invDiscAmt==0:}}-{{else:}}{{=easy_format(invDiscAmt)}}{{pass}}</td>
    <td width="30" align="right" >{{=easy_format(invVatAmt)}}</td>
    <td width="50" align="right" style="border-right:solid 1px #666">{{=easy_format(invNetAmt)}}</td>
    <td width="50" align="right" >{{if retTpAmt==0:}}-{{else:}}{{=easy_format(retTpAmt)}}{{pass}}</td>
    <td width="30" align="right" >{{if retDiscAmt==0:}}-{{else:}}{{=easy_format(retDiscAmt)}}{{pass}}</td>
    <td width="30" align="right" >{{if retVatAmt==0:}}-{{else:}}{{=easy_format(retVatAmt)}}{{pass}}</td>        
    <td width="50" align="right" style="border-right:solid 1px #666">{{if retNetAmt==0:}}-{{else:}}{{=easy_format(retNetAmt)}}{{pass}}</td>
    <td width="50" align="right" style=" text-align:right;">{{if netTp==0:}}-{{else:}}{{=easy_format(netTp)}}{{pass}}</td>
    <td width="30" align="right" style=" text-align:right;">{{if netDisc==0:}}-{{else:}}{{=easy_format(netDisc)}}{{pass}}</td>
    <td width="30" align="right" style=" text-align:right;">{{if netVat==0:}}-{{else:}}{{=easy_format(netVat)}}{{pass}}</td>
    <td width="50" align="right" style=" text-align:right;">{{if netGrandAmt==0:}}-{{else:}}{{=easy_format(netGrandAmt)}}{{pass}}</td>
  
  </tr>
  
    {{pass}}
   
  <tr  align="left" class="blackCat"  style="background-color:#FBFBFB; font-size:11px;">
    <td colspan="2" align="left" ><strong>&nbsp;{{=invocieCount}} Invoice(s)</strong></td>
    <td width="80" align="left">&nbsp;</td>
    <td width="150" align="left">&nbsp;</td>
    <td width="50" align="left">&nbsp;</td>
    <td width="100" align="left">&nbsp;</td>
    <td width="50" align="center">&nbsp;</td>
    <td width="50" align="center" style="border-right:solid 1px #666">&nbsp;</td>
    <td width="50" align="right" style="border-bottom:solid 1px #666"><strong style="text-decoration:overline">{{=easy_format(invTpTotal)}}</strong></td>
    <td width="30" align="right" style="border-bottom:solid 1px #666"><strong style="text-decoration:overline">{{=easy_format(invDiscTotal)}}</strong></td>
    <td width="30" align="right" style="border-bottom:solid 1px #666"><strong style="text-decoration:overline">{{=easy_format(invVatTotal)}}</strong></td>
    <td width="50" align="right" style="border-bottom:solid 1px #666; border-right:solid 1px #666;" ><strong style="text-decoration:overline">{{=easy_format(invNetTotal)}}</strong></td>
    <td width="50" align="right" style="border-bottom:solid 1px #666"><strong style="text-decoration:overline">{{=easy_format(retTpTotal)}}</strong></td>
    <td width="30" align="right" style="border-bottom:solid 1px #666"><strong style="text-decoration:overline">{{=easy_format(retDiscTotal)}}</strong></td>
    <td width="30" align="right" style="border-bottom:solid 1px #666"><strong style="text-decoration:overline">{{=easy_format(retVatTotal)}}</strong></td>
    <td width="50" align="right" style="border-bottom:solid 1px #666;border-right:solid 1px #666;" ><strong style="text-decoration:overline">{{=easy_format(retNetTotal)}}</strong>&nbsp;</td>
    <td width="50" align="right" style="border-bottom:solid 1px #666"><strong style="text-decoration:overline">{{=easy_format(netTpTotal)}}</strong></td>
    <td width="30" align="right" style="border-bottom:solid 1px #666"><strong style="text-decoration:overline">{{=easy_format(netDiscTotal)}}</strong></td>
    <td width="30" align="right" style="border-bottom:solid 1px #666"><strong style="text-decoration:overline">{{=easy_format(netVatTotal)}}</strong></td>
    <td width="50" align="right" style="border-bottom:solid 1px #666"><strong style="text-decoration:overline">{{=easy_format(netGrandTotal)}}</strong></td>
  </tr>
</table>
<br>
<br/>
<table width="1150" >
	<tr>
	  <td width="150" align="center">__________________</td>
	  <td width="150" align="center">_______________________________________</td>
	  <td width="20" align="center">&nbsp;</td>
	  <td width="180" align="center">&nbsp;</td>
  </tr>
	<tr>
	  <td width="150" align="center"><strong>Printed By</strong></td>
	  <td width="150" align="center"><span style="font-style:italic;">for</span>&nbsp; &nbsp;<strong>{{=session.cName}}</strong></td>
	  <td width="20" align="center">&nbsp;</td>
	  <td width="180" align="center">&nbsp;</td>
  </tr>
</table>

