{{extend 'layout_invoice_landscap.html'}}
{{current_date=datetime.datetime.strptime(str(current_date),'%Y-%m-%d')}}
    
{{pageFlag=1}}	
<!--page break-->
{{if pageFlag==0:}}
<span style="page-break-before:always"></span>        
<!-- Report header-->                    
<table width="1150">
    <tr>
        <td width="100" ><img width="25px" src="{{=URL('static','images/comp_logo2.png')}}"/></td>
        <td style="text-align:center; font-size:24px; font-weight:bold">{{=session.cName}}</td>
        <td width="100" >&nbsp;</td>
    </tr>
</table>			
<table width="1150" style="border: solid 1px #C4C4C4">
    <tr style="border-bottom:solid; border-bottom-color:#999">
      <td align="center">{{=session.user_depot_address}}<!--{{#=session.company_address}}--><!--Sadar Road, Mohakhali, Dhaka. Ph: 9896479,9862763, 8855371-80 Ext:258 Fax:8860325, mail: tdclmohakhali@transcombd.com--></td>
  </tr>
</table>
    <!--<hr/>-->
    <!-- end report header  -->
{{pass}}

{{pageFlag=0}}

<!--end page break-->

<!--<img src="{{#=URL('static','images/SKFLogo.png')}}"/> style="background:url({{#=URL('static','images/SKFLogo.png')}}); background-repeat:no-repeat; background-position:center"-->

<table width="1150" cellpadding="1" cellspacing="1" style="border:none;" >
    <tr >
      <td width="100" align="right" >Inv Date From</td>
      <td width="2" >:</td>
      <td width="80" >{{=date_from}}</td>
      <td width="100" align="right" >To Date</td>
      <td width="2" >:</td>
      <td width="80" >{{=date_to}}</td>
      <td width="150" align="left" >Market:{{=market_name}}</td>
      <td width="30" align="right" >Depot</td>
      <td width="2" >:</td>
      <td width="100" >{{=depotName}}</td>
      <td width="30" align="right" >Store</td>
      <td width="2" >:</td>
      <td >{{=storeName}}</td>
      <td width="50" ><a href="{{#=URL(c='report',f='outStTerritoryWise_download',vars=dict(fromDate=fromDate,toDate=toDate,depotID=depotID,storeID=storeID,deliveryManID=deliveryManID,territoryID=territoryID,msoID=msoID,invoice_term=invoice_term,customerId=customerId))}}" ><!--Download--></a><span style="float:right">#30.03</span></td>
  </tr>
    <tr >
      <td align="right" >DP</td>
      <td >:</td>
      <td >{{=delivery_man_name}}</td>
      <td align="right" >Territory</td>
      <td >:</td>
      <td >{{=territory_name}}</td>
      <td width="150" align="left" >Customer: {{=customerName}}</td>
      <td align="right" >MSO</td>
      <td >:</td>
      <td >{{=mso_name}}</td>
      <td align="right" >&nbsp;</td>
      <td >&nbsp;</td>
      <td >&nbsp;</td>
      <td ><a href="{{=URL(c='report_sales2',f='invoice_return_checking_download',vars=dict(date_from=date_from,date_to=date_to,depot_id=depot_id,store_id=store_id,customer_id=customer_id,dman_id=dman_id,territory_id=territory_id,market_id=market_id,mso_id=mso_id))}}" >Download</a></td>
    </tr>
</table>      
<table width="1150" cellpadding="1" cellspacing="1" style="border:none;" >
        <tr >
          <td align="center">
          <div style="border: solid 1px #C4C4C4; width:90%; font-weight:bold;" >30.3 Invoice wise Return Checking</div></td>
          <td width="50" align="center"><img style="width:80px;" src="{{=URL('static','images/comp_logo1.png')}}"/></td></tr>
</table>

<table width="1000" border="1" cellpadding="1" cellspacing="1" class="sample_border" >            

    <tr align="left" class="blackCatHead" height="20px" ;  style="font-size:12px">
      <td width="80" align="center"  >Inv.Date</td>
      <td width="100" align="left"  >Inv.Number</td>
      <td width="100" align="left"  >Cust.ID</td>
      <td width="100" align="right"  >Invoice Net</td>
      <td align="left"  >Retn.Date</td>
      <td width="150"  >Retn.Number</td>
      <td width="100" align="right"  >Retn.Amount</td>
      <td width="50" align="center"  >Diff.Day</td>
  </tr>
    
    
    {{totalInvAmt=0}}
    {{totalRetAmt=0}}
    
    {{for i in range(len(recordList)):}}    
    {{ #if i==items_per_page: break}}
	
    {{recData=recordList[i]}}
	
    {{invAmt=round(recData['actualTpAmt']+recData['vatTotalAmt']-(recData['discAmt']+recData['spDiscAmt']),2)}}    
    {{retAmt=round(recData['retTpAmt']+recData['retVatAmt']-recData['retDiscAmt'],2)}}
    
    {{totalInvAmt+=invAmt}}
    {{totalRetAmt+=retAmt}}
     
     {{retSl=''}}
     {{retDate=''}}
     {{return_date=''}}
    {{for retRow in retRows:}}
        {{invoice_sl=retRow.invoice_sl}}
        {{if invoice_sl==recData['invSl']:}}
        	{{sl=str(session.prefix_invoice)+'RET'+str(retRow.depot_id)+'-'+str(retRow.sl)}}
            {{return_date=str(retRow.return_date)}}
            {{returnDate=str(retRow.return_date.strftime('%d-%b-%Y'))}}
             
            {{if retSl=='':}}
            	{{retSl=sl}}
                {{retDate=returnDate}}
            {{else:}}
            	{{retSl+=', '+sl}}
                {{retDate+=', '+returnDate}}                
            {{pass}}
    	{{pass}}
    {{pass}}
      
  <tr  align="left" class="blackCat"  style="background-color:#FBFBFB; font-size:11px;">
    <td width="80" align="center" ><span style=" text-align:center;">{{=recData['invoice_date'].strftime('%d-%b-%Y')}}</span></td>	
    <td width="100" align="left" >{{=session.prefix_invoice}}INV{{=recData['depot_id']}}-{{=recData['invSl']}}</td>
    <td width="100" align="left" >{{=recData['client_id']}}</td>
    <td width="100" align="right" >{{=easy_format(invAmt)}}&nbsp;</td>
    <td align="left" >&nbsp;{{=retDate}}</td>
    <td width="150" >{{=retSl}}</td>
    <td width="100" align="right" >{{=easy_format(retAmt)}}</td>
    
    {{invoice_date=datetime.datetime.strptime(str(recData['invoice_date']),'%Y-%m-%d')}}
  	{{return_date=datetime.datetime.strptime(str(return_date),'%Y-%m-%d')}}
    {{diffDay=(return_date-invoice_date).days}}
    
    <td width="50" align="center">{{=diffDay}}</td>
  
  
  
  </tr>
  
    {{pass}}
    
  <tr  align="left" class="blackCat"  style="background-color:#FBFBFB; font-size:11px;">
    <td width="80" align="center" >&nbsp;</td>
    <td align="left" style=" text-align:center;">&nbsp;</td>
    <td width="100" align="left"><strong>Total Amount:</strong></td>
    <td width="100" align="right" style="border-bottom:solid; border-top:solid"><strong >{{=easy_format(totalInvAmt)}}</strong></td>
    <td align="left" >&nbsp;</td>
    <td width="150" >&nbsp;</td>
    <td align="right" style="border-bottom:solid; border-top:solid"><strong>({{=easy_format(totalRetAmt)}})</strong></td>
    <td width="50" align="center">&nbsp;</td>
  </tr>
</table>
<br>
<br/>
<table width="1150" >
	<tr>
	  <td width="150" align="center">__________________</td>
	  <td width="150" align="center">_______________________________________</td>
	  <td width="20" align="center">&nbsp;</td>
	  <td width="180" align="center">&nbsp;</td>
  </tr>
	<tr>
	  <td width="150" align="center"><strong>Printed By</strong></td>
	  <td width="150" align="center"><span style="font-style:italic;">for</span>&nbsp; &nbsp;<strong>{{=session.cName}}</strong></td>
	  <td width="20" align="center">&nbsp;</td>
	  <td width="180" align="center">&nbsp;</td>
  </tr>
</table>

