{{extend 'layout.html'}}

  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/ui.theme.css')}}" type="text/css" />

  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/jquery-ui.css')}}" type="text/css" />

  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/style.css')}}" type="text/css" />

   <script src="{{=URL('static','js_and_css/jquery-1.8.2.js')}}"></script>

   <script src="{{=URL('static','js_and_css/jquery-ui.js')}}"></script>

    

 <style type="text/css">

	input[type=text], input[type=password],  select {

		margin: 2px 0px 2px 0px;

		width:120px;

	}

	div.error {

		margin-left:0px;

		width:auto;

	}

	#sm_doctor_doc_id{

	width:80px;

	}

	#sm_doctor_doc_name{

	width:200px;

	}

	#sm_doctor_specialty{

	width:120px;

	}

	

	#sm_doctor_status{

	width:auto;

	}

	

	textarea{

	width:200px;

	height:30px;

	}

	

	.page_color,body{

		font-family:Arial, Helvetica, sans-serif;

		font-size:13px;	

		}

	

 </style>

 

 

 <script>

var base_url=location.protocol + "//" + location.hostname + (location.port && ":" + location.port) + "/{{=request.application}}/";



$(function() {
$.ajax({
  url: base_url+'default/get_area_list',

  success: function(resStrM) {

	  valueListStrM=resStrM
	  //alert (resStrM)
  }

});

$('#microunion_area').keyup(function(){
			var valueListM = valueListStrM.split(',');				

			var searchValueM=$("#microunion_area").val();

			

			//---------------- auto complete combo list

			var valueList_newM=new Array();

			lc=0;

			i =0;

			var valueStrM="";				

			while (i < valueListM.length)

			{

				valueStrM=valueListM[i];

				i=i+1;					

				var resM=valueStrM.toUpperCase().match(searchValueM.toUpperCase());

				if (resM!=null){

					valueList_newM[lc]=valueStrM;

					lc=lc+1;

					if (lc==30){

						break;

					};

				}else{

					continue;

				}					

			};

			//-------------- auto complete source

			$( "input#microunion_area" ).autocomplete({

				source: valueList_newM

			});

		

	  }); 
	


}); 



</script>



 

 

 

<body class="claro">   

<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;" >

  <tr height="30px" >

    <td width="700"><span class="blackCatTitle">Microunion</span></td>

    

	

	<td width="210" align="right">&nbsp;</td>

	

	

	

    <td>&nbsp;</td>

  </tr>

  <tr  height="1px" style="background-color:#CCCCCC;">

	    <td colspan="3" ></td>

  </tr>

</table>

  

  <table width="100%" height="500px"  border="0" cellspacing="0" cellpadding="0" class="page_color" id="table_big"  >

  <tr height="100%"  style="vertical-align:top;">

    <td width="10px">&nbsp;</td>

    <td>

	<table width="100%"  border="0" cellpadding="0" cellspacing="0"  >

      <tr>

        <td width="900">&nbsp;</td>

        

        <td width="100" align="right">&nbsp;</td>

       
        

        <td>&nbsp;</td>

      </tr>

      <tr>

        <td colspan="3">

		

     {{#=recordCount}}
     <form action="{{=URL(c='doctor',f='microunionDownload')}}" method="post">
       <input name="btn_add2" type="submit"  value="Download"/>
        </form>

       <br />
    <table width="800px" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
      <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">
        <td width="100" >MicrounionID </td>
        <td width="200" >Name</td>
        <td width="50" >BaseCode</td>
        <td width="50" align="right" ></td>
      </tr>
     
    <form id="form" name="form" method="post" action="{{=URL(c='doctor',f='microunion')}}">  
  <tr  align="left" class="blackCat"  style="vertical-align:middle">
    <td  ><input style="width:150px" name="microunion_id" id="microunion_id" type="text"  /></td>
    <td  ><input style="width:300px" name="microunion_name" id="microunion_name" type="text"  /></td>
    <td  ><input style="width:300px" name="microunion_area" id="microunion_area" type="text"  /></td>
    <td width="50" align="right"  ><input name="btn_add" type="submit"  value="Submit"/></td>
  </tr>
      </form>
    
     {{for i,record in enumerate(records):}}
	  
  
		  <tr  align="left" class="blackCat"  style="vertical-align:middle"> 
		  <td width="100" >{{=record.microunion_id}}</td>
		  <td width="200" >{{=record.microunion_name}}</td>
		  <td width="50"  >{{=record.area_id}}|{{=record.area_name}}</td>
		  <form id="form1" name="form1" method="post" action="{{=URL(c='doctor',f='microunionDelete',args=[record.id])}}">
		    <td width="50" align="right"  >
		      {{if session.user_type=='Admin':}} 
		      <input type="submit" name="btn_go" id="btn_go" value="X"   class="button_update"/>
		      {{pass}}
		      </td>
		    </form>
		</tr>
			   {{pass}}
    </table>    <p>&nbsp;</p>

		  </td>

		</tr>

    </table>

   







</td>

  </tr>

</table>

</body>

