{{extend 'layout_wap.html'}}

<link rel="stylesheet" href="{{=URL('static', 'js_and_css/ui.theme.css')}}" type="text/css" />
  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/jquery-ui.css')}}" type="text/css" />
  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/style.css')}}" type="text/css" />
  
  <script src="{{=URL('static','js_and_css/jquery-1.8.2.js')}}"></script>
  <script src="{{=URL('static','js_and_css/jquery-ui.js')}}"></script>
  
  <style type="text/css">
	 input[type=text], input[type=password],  select {
    margin: 2px 0px 2px 0px;
	}
	
	#sm_client_status,#sm_client_category_id{
	width:auto;
	}
	#sm_client_client_id,#sm_client_area_id{
	width:70px;
	}
	
	#sm_client_op_balance,#sm_client_balance,#sm_client_credit_limit{
	width:60px;
	text-align:right;
	}
	
	div.error {
		color: white;
		padding: 0px;
		width: auto; 
		margin-left:0px;
	}
	.page_color,body{
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;	
		}
 </style>
 
<script>
function amndApprove() {
	var base_url=location.protocol + "//" + location.hostname + (location.port && ":" + location.port) + "/{{=request.application}}/";

	
	
	var amndDate=$("#amndDate").val();
	var amndRep=$("#amndRep").val();
	
	
	
	
	//alert (base_url+'tour_web/amndApprove?amndDate='+amndDate+'&amndRep='+amndRep)
	$.ajax(base_url+'tour_web/amndApprove?amndDate='+amndDate+'&amndRep='+amndRep,{

		type: 'POST',
		timeout: 30000,
		error: function(xhr) {
		//alert ('Error: ' + xhr.status + ' ' + xhr.statusText);
		$("#sResult").html('Please try again');
				$("#sResultButton").show();
				$("#sResultButton1").show();
							},
		success:function(data, status,xhr){	
			if (data=='Success'){
				$("#sResult").html('Submitted Approved');
				//alert ('Submitted Successfully');
				$("#sResultButton").hide();
				$("#sResultButton1").hide();
				$("#wait_image").hide();
				}
			
				
		
		}
		
	});//end ajax
	
	
	
	
	
	
	
	
}; 


//Save=================
function amndReject() {
	var base_url=location.protocol + "//" + location.hostname + (location.port && ":" + location.port) + "/{{=request.application}}/";

	
	
	var amndDate=$("#amndDate").val();
	var amndRep=$("#amndRep").val();
	
	
	
	
	//alert (base_url+'tour_web/amndReject?amndDate='+amndDate+'&amndRep='+amndRep)
	$.ajax(base_url+'tour_web/amndReject?amndDate='+amndDate+'&amndRep='+amndRep,{

		type: 'POST',
		timeout: 30000,
		error: function(xhr) {
		//alert ('Error: ' + xhr.status + ' ' + xhr.statusText);
		$("#sResult").html('Please try again');
				$("#sResultButton").show();
				$("#sResultButton1").show();
							},
		success:function(data, status,xhr){	
			if (data=='Success'){
				$("#sResult").html('Submitted Rejected');
				//alert ('Submitted Successfully');
				$("#sResultButton").hide();
				$("#sResultButton1").hide();
				$("#wait_image").hide();
				}
			
				
		
		}
		
	});//end ajax
	
	
	
	
	
	
	
	
}; 




</script>


<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;" >
  <tr height="30px" >
    <td width="500"><span class="blackCatTitle">&nbsp;&nbsp;Tour</span></td>
    <td width="500" align="right">&nbsp;</td>
    <td align="right">&nbsp;</td>
  </tr>
  <tr  height="1px" style="background-color:#CCCCCC;">
	    <td width="300" ></td><td ></td><td ></td>
  </tr>
  </table>
  
  
  <table width="100%" height="500px"  border="0" cellspacing="0" cellpadding="0" class="page_color"  >
  <tr height="100%"  style="vertical-align:top;">
    <td>
     <!--<form id="form1" name="form1" method="post" action="{{=URL(c='tour_web',f='tourSubmit')}}">-->
    
	<table width="100%"  border="0" cellpadding="0" cellspacing="0" bgcolor="#E6FFFF"  >
      <tr>
        <td width="5">&nbsp;</td>
        <td style="font-size:16px; color:#30F">Date: {{=s_date}}
          <input name="amndDate" id="amndDate"  type="hidden"  value="{{=s_date}}" >	
          <input name="amndRep" id="amndRep"  type="hidden"  value="{{=rep_id}}" >
          
          <br />
			 <br /></td>
             <td style="font-size:16px; color:#30F">
             <div id="amndCheckDiv" style="font-size:9px; color:#060; "  > </div>
             
             
             
             </td>
      </tr>
      </table>
      
			 <table width="100%" border="1" cellpadding="0" cellspacing="0" class="sample_border" bgcolor="#F0FFFF" >
               <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">
                 <td width="45%" >Morning</td>
                 <td width="45%" >Evening</td>
                 
               </tr>   	
  					
                    
                      <tr  align="left" class="blackCat"  style="font-size:13px"> 
                      <td width="45%" >
                      
                     
                      {{for m,record in enumerate(pendinginfo):}}
                          {{if record.note=='Morning':}}
                         
                         {{=record.route_id}}<br>
                          {{pass}}
                        
                      {{pass}}
                      
                     
                      </td>
                      <td width="45%" >
                       {{for m,record in enumerate(pendinginfo):}}
                    	{{if record.note=='Evening':}}
                     
                     	{{=record.route_id}}<br>
                      	{{pass}}
                      {{pass}}
                      </td>
                    {{pass}}   
                   
                    
                    
                     {{ pass}}  
			  
               </tr>
               
               <tr  align="left" class="blackCat"  style="font-size:13px">
                        <td colspan="2" >
                        <div id="sResult" style="font-size:16px; color:#00C"></div>
                        <div id="wait_image" style="visibility:hidden"><img  style="" width="50px;" src="loading.gif" alt=""></div>
                        <br>
                        <div id="sResultButton" style="font-size:16px; color:#00C">
                          <input  type="submit" onclick="amndApprove()" name="input" id="input" style="width:100%; height:30px" value="        Approve        "   class="button_update" title=""/>
                          </div>
                          <br><br>
                          <div id="sResultButton" style="font-size:16px; color:#00C">
                          <input  type="submit" onclick="amndReject()" name="input" id="input" style="width:100%; height:30px" value="         Reject         "   class="button_update" title=""/>
                          </div>
                        </td>
                      </tr>
                      <tr  align="left" class="blackCat"  style="font-size:13px">
                        <td colspan="2" >
                       
                        </td>
                      </tr>
</table>
			



	      </td>
        </tr>
    </table>
    <br><br><br><br><br><br>



