
{{extend 'layout.html'}}
  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/ui.theme.css')}}" type="text/css" />
  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/jquery-ui.css')}}" type="text/css" />
  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/style.css')}}" type="text/css" />
  <script src="{{=URL('static','js_and_css/jquery-1.8.2.js')}}"></script>
  <script src="{{=URL('static','js_and_css/jquery-ui.js')}}"></script>
  
  <style type="text/css">
	 input[type=text], input[type=password]{
		margin: 2px 0px 2px 0px;
		width: 200px;
	}
	select{
		margin: 2px 0px 2px 0px;
		width: 215px;
	}
		
	div.error {
		width: 200px;
	}
	
	#sm_item_process_schedule_schedule_date {
		width: 100px;
	}
	
	.page_color,body{
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;	
		}
 </style>
 
 <script>
var base_url=location.protocol + "//" + location.hostname + (location.port && ":" + location.port) + "/{{=request.application}}/";

$(function() {
	 	var valueListStr="";
		
		$('#search_type').blur(function(){
			if ($('#search_type').val()=='ItemID'){
				//alert(base_url+'default/get_route_list');
				$.ajax({
					  url: base_url+'default/get_temp_item_list',
					  success: function(resStr) {
						  valueListStr=resStr
					  }
					});
			}else if ($('#search_type').val()=='Catagory'){
				$.ajax({
					  url: base_url+'default/get_item_category',
					  success: function(resStr) {
						  valueListStr=resStr
					  }
					});
			
			}else if ($('#search_type').val()=='Unit'){
				$.ajax({
					  url: base_url+'default/get_item_unit_type',
					  success: function(resStr) {
						  valueListStr=resStr
					  }
					});
			
			};
			
	 	});
	 
		$('#search_value').keyup(function(){
			//-------------------------
			var valueList = valueListStr.split(',');				
			var searchValue=$("#search_value").val();
			
			//---------------- auto complete combo list
			var valueList_new=new Array();
			lc=0;
			i =0;
			var valueStr="";				
			while (i < valueList.length)
			{
				valueStr=valueList[i];
				i=i+1;					
				var res=valueStr.toUpperCase().match(searchValue.toUpperCase());
				if (res!=null){
					valueList_new[lc]=valueStr;
					lc=lc+1;
					if (lc==30){
						break;
					};
				}else{
					continue;
				}					
			};
			//alert (ref_list_new);
			
			//-------------- auto complete source
			$( "input#search_value" ).autocomplete({
				source: valueList_new
			});
		
	  }); 
	   //==============	   
}); 

</script>
 
<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;" >
  <tr height="30px" >
    <td width="300"><span class="blackCatTitle">Item Change Schedule</span></td>
    <form action="{{=URL(c='item',f='item',args=[page])}}" method="post">
    <td width="600" align="right"><input name="" type="submit"  value="Back"/></td>
    </form>
    <td align="right">&nbsp;</td>
  </tr>
  <tr  height="1px" style="background-color:#CCCCCC;">
	    <td width="300" ></td><td width="600" ></td><td ></td>
  </tr>
  </table>
  
  
  <table width="100%" height="500px"  border="0" cellspacing="0" cellpadding="0" class="page_color"  >
  <tr height="100%"  style="vertical-align:top;">
    <td>
	<table width="100%"  border="0" cellpadding="0" cellspacing="0"  >

      <tr>
        <td width="10">&nbsp;</td>
        <td valign="top">
		
		<br />
	
		{{if access_permission==True:}} 
		<table width="900" style="background-color:#FFE8E8">
			<tr>
				<td width="400">
          <table width="400" class="blackCat">
		  {{=form.custom.begin}}
              <tr>
                <td width="140"> ItemID </td>
                <td>{{=form.custom.widget.item_id}}</td>
                </tr>
              <tr>
                <td width="140">Name</td>
                <td>{{=form.custom.widget.name}}</td>
                </tr>
              <tr>
                <td width="140">Description</td>
                <td>{{=form.custom.widget.des}}</td>
                </tr>
              <tr>
                <td width="140">Group</td>
                <td>{{=form.custom.widget.category_id}}</td>
                </tr>
              <tr>
                <td width="140">Base Group</td>
                <td>{{=form.custom.widget.category_id_sp}}</td>
              </tr>
              <tr>
                <td width="140">Unit Type </td>
                <td>{{=form.custom.widget.unit_type}}</td>
                </tr>              
            </table>
			</td>
			
			<td width="400" valign="top">
            
              <table width="400" class="blackCat">			 
              <tr>
                <td>Manufacturer</td>
                <td>{{=form.custom.widget.manufacturer}}</td>
              </tr>
              <tr>
                <td>TP Amount</td>
                <td>{{=form.custom.widget.price}}</td>
              </tr>
              <tr>
                <td>VAT Amount</td>
                <td>{{=form.custom.widget.vat_amt}}</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>{{=form.custom.submit}}</td>
              </tr>
              
                  {{=form.custom.end}}
                  </table>
                </td>
			</tr>
			</table>
            <br />
         {{pass}} 
		 
         <table width="900" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
		   
		   <form id="form1" name="form1" method="post" action="{{=URL(c='item',f='temp_item')}}">
            <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">
              <td width="100" >
                <select name="search_type" id="search_type" style="width:150px" >
                  <option value="" selected="selected">Select a type</option>
                    {{if session.search_type_item=='ItemID':}}<option value="ItemID" selected="selected">Item ID/Name</option>{{else:}}<option value="ItemID" >Item ID/Name</option>{{pass}}
                    {{if session.search_type_item=='Catagory':}}<option value="Catagory" selected="selected">Group</option>{{else:}}<option value="Catagory" >Group</option>{{pass}}
                    {{if session.search_type_item=='Unit':}}<option value="Unit" selected="selected">Unit Type</option>{{else:}}<option value="Unit" >Unit Type</option>{{pass}}
                </select>
              </td>
              <td width="166" >
              {{if session.search_value_item=='' or session.search_value_item==None:}}
              	<input  name="search_value" type="text" id="search_value" size="25" value="" placeholder="Select a value" autocomplete="off" style="width:300px"/>
              {{else:}}
              	<input  name="search_value" type="text" id="search_value" size="25" value="{{=session.search_value_item}}" placeholder="Select a value" autocomplete="off" style="width:300px"/>
              {{pass}}
              
              </td>
              <td width="120" ><input type="submit" name="btn_filter_item" id="btn_filter_item" value="Filter"   class="button_update"/>
			  <input type="submit" name="btn_all" id="btn_all" value="All"   class="button_update"/>		
		  	   </td>
              <td ><a href="{{=URL(c='item',f='temp_download_item')}}"><input type="button" name="" id="" value="Download"   class="button_update"/></a>
			{{if access_permission==True:}} 
			  <a href="{{=URL(c='item',f='temp_item_batch_upload')}}"><input type="button" name="" id="" value="Batch Upload"   class="button_update"/></a>
			  {{pass}}</td>
              <td width="20" style="background-color:#C66"><input name="cmb_clean" type="checkbox" value="YES" title="Confirmation Clean" /></td>
              <td width="50" style="background-color:#C66"><input type="submit" name="btn_clean" id="btn_clean" value="Clean"   class="button_update" title="Clean (Temp)Item"/></td>
              </tr>
		      </form>
          </table>
		 <strong>Total:</strong> {{=totalCount}}<br />
		 
		    <table width="900" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
                <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">
                  <td width="50" >ItemID</td>
                  <td width="250" >Name</td>
                  <td >Description</td>
                  <td width="50" align="center" >Group</td>
                  <td width="50" align="center" >Base Group</td>
                  <td width="80" align="center" >Unit <br />
                  Type</td>
                  <td width="60" align="right"  >TP Amount</td>
                  <td width="60" align="right"  >VAT Amount</td>
                  <td width="60" align="right"  >Total Amount</td>
                  <td align="right"  ></td>
                </tr>
			      
			    {{for i,record in enumerate(records):}}
			    {{ if i==items_per_page: break}}
  <form id="form1" name="form1" method="post" action="{{=URL(c='item',f='temp_item_edit',args=[page,record.id])}}">
    
    <tr  align="left" class="blackCat"  style=" font-size:13px"> 
      <td width="50" ><input  name="record_id" type="hidden" id="record_id" size="25" value="{{=record.id}}" title="" />
        {{=record.item_id}}</td>
      <td width="250" >{{=record.name}}</td>
      <td >{{=record.des}}</td>
      <td width="50" align="center" >{{=record.category_id}}</td>
      <td width="50" align="center" >{{if record.category_id_sp!=None:}}{{=record.category_id_sp}}{{pass}}</td>
      <td width="80" align="center"  >{{=record.unit_type}}</td>
      <td width="60" align="right"  >{{=record.price}}</td>
      <td width="60" align="right"  >{{=record.vat_amt}}</td>
      <td width="60" align="right"  >{{=record.total_amt}}</td>
      <td width="38" align="right"  >
	  {{if access_permission==True:}} 
	    <input type="submit" name="btn_go" id="btn_go" value="&gt;&gt;"   class="button_update"/>        
	  
	  {{pass}}
	  </td>
    </tr>
  </form>
			  
			    {{pass}}
		    </table>			  
        </td></tr>
      <tr>
        <td>&nbsp;</td>
        <td valign="top">
        
        {{if page:}}
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{=URL(args=[page-page])}}">first</a> |  
        &nbsp;&nbsp;<a href="{{=URL(args=[page-1])}}">previous</a> |
        {{pass}}
        
        {{if len(records)>items_per_page:}}
        &nbsp;&nbsp;<a href="{{=URL(args=[page+1])}}">next</a>
        {{pass}}
        
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td valign="top">
        <br />

        <table width="800" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
                <tr align="left" class="blackCatHead"  height="20px";>
                  <td width="20" >Ref</td>
                  <td width="100" >Schedule Date</td>
                  <td width="200" align="center" >RequestedBy &amp; Time</td>
                  <td align="center" >Status</td>
                  <td width="200" align="center" >ProcessedBy &amp; Time</td>
                  <td width="100" align="center"  >&nbsp;</td>
                </tr>
                
                {{if access_permission==True:}}
                <tr align="left" class="blackCatHead"  height="20px">
                  <td width="20" >&nbsp;</td>
                	{{=formProcess.custom.begin}}
                  <td >{{=formProcess.custom.widget.schedule_date}}</td>
                  <td width="200" align="center" >&nbsp;</td>
                  <td align="center" >&nbsp;</td>
                  <td width="200" align="center" >&nbsp;</td>
                  <td width="100" align="center"  >{{=formProcess.custom.submit}}</td>
                  {{=formProcess.custom.end}} 
                </tr>
                {{pass}}
			   
			    {{for row in processRows:}}			    
                    <tr  align="left" class="blackCat" >
                      <td width="20" >{{=row.id}}</td> 
                      <td width="100" >{{=row.schedule_date}}</td>
                      <td width="200" align="center" >{{=row.created_by}}, {{=row.created_on.strftime('%Y-%m-%d %H:%M')}}</td>
                      <td align="center" >{{if row.process_flag==1:}}Completed{{elif row.process_flag==2:}}Running..{{else:}}Pending{{pass}}</td>
                      <form id="form1" name="form1" method="post" action="{{=URL(c='item',f='temp_item',args=[page])}}">
                   		<td width="200" align="center" >
                        {{if access_permission==True and row.process_flag==0:}}
                        <input type="hidden" name="pRowId" value="{{=row.id}}"/>
                        <input type="submit" name="btn_delete_process" id="btn_delete_process" value=" X "   class="button_update"/>
                        &nbsp;&nbsp;
                        <a href="{{=URL(c='item',f='process_change_item_manual',vars=dict(process_date=row.schedule_date))}}">                          
                          <input type="button" name="btn_go" id="btn_go" value="Process" class="button_update"/>
                        </a>
                        {{pass}}
                        
                        {{if row.process_flag==1:}}{{=row.updated_by}}, {{=row.updated_on.strftime('%Y-%m-%d %H:%M')}}{{pass}}
                        
                        </td>
                      </form>
                     
                    <td width="100" align="center"  >
                        {{if access_permission==True and row.process_flag==1:}} 
                        <a href="{{=URL(c='item',f='download_process_item',vars=dict(pRowId=row.id))}}">                          
                          <input type="button" name="btn_go" id="btn_go" value="Download" class="button_update"/></a>
                        {{pass}}
                      </td>
                     
                    </tr>
                  
			    {{pass}}
		    </table>
        	
        </td>
      </tr>
    </table>
    
	</td>
  </tr>
  
</table>
<br />
<br />

