{{extend 'layout.html'}}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
 

  </head>
  <body>
  
  
  <table width="1200px" border="1" style="margin-left:10px;">
  <tr>
    <td>
    <strong>DRAFT</strong><br>

    <div id="map-canvas" style="height:600px; width:900px"><img src="{{=URL('static','images/retailer.png')}}" alt="Image" /></div>
    
    </td>
    <td>&nbsp;</td>
  </tr>
</table>

  
  
  
  </body>
</html>