
{{extend 'layout.html'}}
  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/ui.theme.css')}}" type="text/css" />
  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/jquery-ui.css')}}" type="text/css" />
  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/style.css')}}" type="text/css" />
   <script src="{{=URL('static','js_and_css/jquery-1.8.2.js')}}"></script>
    <script src="{{=URL('static','js_and_css/jquery-ui.js')}}"></script>
  
  
  <style type="text/css">
	 input[type=text], input[type=password],  select {
		margin: 2px 0px 2px 0px;
		width: 200px;
	}
	div.error {
		width: 200px;
	}
	
	#sm_promo_approved_rate_bonus_type,#sm_promo_approved_rate_status{
		width: 215px;
	}
.page_color,body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;	
	}
 </style>
 
 <script>
var base_url=location.protocol + "//" + location.hostname + (location.port && ":" + location.port) + "/{{=request.application}}/";

$(function() {
		
		$('#sm_cp_approved_client_id').attr('placeholder','Select Client');
		
		$('#sm_cp_approved_client_id').blur(function(){
			var clientIdName=$('#sm_cp_approved_client_id').val();
			if(clientIdName!=''){
				var clIdNameArray=clientIdName.split("|");
				if(clIdNameArray.length==2){
					$('#sm_cp_approved_client_id').val(clIdNameArray[0]);
					}
				}
			
		});
			
			
	 	var valueListStr="";
		
		$('#search_type').blur(function(){
			if ($('#search_type').val()=='Client_id'){
				//alert(base_url+'default/get_route_list');
				$.ajax({
					  url: base_url+'default/get_client_list',
					  success: function(resStr) {
						  valueListStr=resStr
					  }
					});
			
			}else if ($('#search_type').val()=='Status'){
				valueListStr="ACTIVE,INACTIVE";
			}
			
	 	});
	 
		$('#search_value').keyup(function(){
			//-------------------------
			var valueList = valueListStr.split(',');				
			var searchValue=$("#search_value").val();
			
			//---------------- auto complete combo list
			var valueList_new=new Array();
			lc=0;
			i =0;
			var valueStr="";				
			while (i < valueList.length)
			{
				valueStr=valueList[i];
				i=i+1;					
				var res=valueStr.toUpperCase().match(searchValue.toUpperCase());
				if (res!=null){
					valueList_new[lc]=valueStr;
					lc=lc+1;
					if (lc==30){
						break;
					};
				}else{
					continue;
				}					
			};
			//alert (ref_list_new);
			
			//-------------- auto complete source
			$( "input#search_value" ).autocomplete({
				source: valueList_new
			});
		
	  }); 
	   //==============	   
}); 



//========================clientId
$(function() {
  var scListStr="";
  //alert(base_url+'credit_policy/get_client_list');
		$.ajax({
			  url: base_url+'default/get_client_list',
			  success: function(resStr) {
				  scListStr=resStr
			  }
			});
	 
		$('#sm_cp_approved_client_id').keyup(function(){	
			
			//-------------------------
			var ref_list = scListStr.split(',');				
			var ref_name=$("#sm_cp_approved_client_id").val();
			
			//---------------- auto complete combo list
			var ref_list_new=new Array();
			lc=0;
			i =0;
			var refStr="";				
			while (i < ref_list.length)
			{
				refStr=ref_list[i];
				i=i+1;					
				var res=refStr.toUpperCase().match(ref_name.toUpperCase());
				if (res!=null){
					ref_list_new[lc]=refStr;
					lc=lc+1;
					if (lc==30){
						break;
					};
				}else{
					continue;
				}					
			};
			//alert (ref_list_new);
			
			//-------------- auto complete source
			$( "input#sm_cp_approved_client_id" ).autocomplete({
				source: ref_list_new
			});
		
	  });    
});


</script>
 
<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;" >
  <tr height="30px" >
    <td><span class="blackCatTitle">Approved Credit</span></td>
    <td align="right"><span class="blackCatTitle">
   
    </span></td>
    <td align="right" width="20px">&nbsp;</td>
  </tr>
  <tr  height="1px" style="background-color:#CCCCCC;">
	    <td ></td><td ></td><td ></td>
  </tr>
  </table>
  
  
  <table width="100%" height="500px"  border="0" cellspacing="0" cellpadding="0" class="page_color"  >
  <tr height="100%"  style="vertical-align:top;">
    <td>
	<table width="100%"  border="0" cellpadding="0" cellspacing="0"  >

      <tr>
        <td width="10">&nbsp;</td>
        <td>
		
		<br />
	
		{{if access_permission==True:}} 
		<table width="800">
			<tr>
				<td width="485">
          <table width="400" class="blackCat">
		  {{=form.custom.begin}}
              <tr>
                <td width="130">Approval Date</td>
                <td width="337">{{=form.custom.widget.approved_date}}</td>
                </tr>
              <tr>
                <td>Customer ID</td>
                <td>{{=form.custom.widget.client_id}}</td>
                </tr>
              <tr>
                <td>Credit Amount</td>
                <td>{{=form.custom.widget.credit_amount}}</td>
                </tr>
              
            </table>
			</td>
			
			<td width="303">
            
              <table width="400" class="blackCat">  
              <tr>
                <td>Status </td>
                <td>{{=form.custom.widget.status}}</td>
              </tr> 
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>{{=form.custom.submit}}</td>
              </tr>
              
                  {{=form.custom.end}}
                  </table>
                </td>
			</tr>
			</table>
            <br />
         {{pass}} 
		 
         <table width="1000" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
		   
		   <form id="form1" name="form1" method="post" action="{{=URL(c='credit_policy',f='approved_credit')}}">
            <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">
              <td width="100" >
                <select name="search_type" id="search_type" style="width:150px" >
                  <option value="" selected="selected">Select a type</option>
                    {{if session.search_type_approved_rate=='Client_id':}}<option value="Client_id" selected="selected">Customer ID/Name</option>{{else:}}<option value="Client_id" >Customer ID/Name</option>{{pass}}
                    {{if session.search_type_approved_rate=='Status':}}<option value="Status" selected="selected">Status</option>{{else:}}<option value="Status" >Status</option>{{pass}}
                </select>
              </td>
              <td width="166" >
              {{if session.search_value_approved_rate=='' or session.search_value_approved_rate==None:}}
              	<input  name="search_value" type="text" id="search_value" size="25" value="" placeholder="Select a value" autocomplete="off" style="width:300px"/>
              {{else:}}
              	<input  name="search_value" type="text" id="search_value" size="25" value="{{=session.search_value_approved_rate}}" placeholder="Select a value" autocomplete="off" style="width:300px"/>
              {{pass}}
              
              </td>
              <td width="100" ><input type="submit" name="btn_filter_item" id="btn_filter_item" value="Filter"   class="button_update"/>
			  <input type="submit" name="btn_all" id="btn_all" value="All"   class="button_update"/>		
		  	   </td>
				
              <td align="right" >
			  <a href="{{=URL(c='credit_policy',f='approved_credit_download')}}">
				 	<input type="button" name="" id="" value="Download"   class="button_update"/>
			    	</a>
			  {{if access_permission==True:}} 
			  <a href="{{=URL(c='credit_policy',f='approved_credit_batch_upload')}}">
			  <input type="button" name="" id="" value="Batch Upload"   class="button_update"/>
			  </a>
			  {{pass}}
              
			  </td>
            </tr>
		      </form>
          </table>
		 <strong>Total:</strong> {{=totalCount}}<br />
		 
			 <table width="1051" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
                <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">
                  <td width="100" >Approval Date</td>
                  <td width="40" align="left">Branch ID</td>
                  <td width="100" align="left">Customer ID</td>
                  <td width="180" >Customer Name</td>
                  <td width="60" align="right" >Credit Amount</td>
                  <td width="80" align="right"  >Status </td>
                  <td align="center"  ></td>
                </tr>
			    {{ p=0}} 		  
			    {{for i,record in enumerate(records):}}
			    {{ if i==items_per_page: break}}
                
                
                {{level0_name=''}}
                {{level1_name=''}}
                {{level2_name=''}}
                {{level3_name=''}}
                {{levelRow=db((db.sm_level.cid==session.cid)& (db.sm_level.level_id==record.sm_cp_approved.client_id)).select(db.sm_level.level0_name,db.sm_level.level1_name,db.sm_level.level2_name,db.sm_level.level3_name,limitby=(0,1))}}
                {{if levelRow:}}
                    {{level0_name=levelRow[0].level0_name}}
                    {{level1_name=levelRow[0].level1_name}}
                    {{level2_name=levelRow[0].level2_name}}
                    {{level3_name=levelRow[0].level3_name}}                    
                {{pass}}
                
  <form id="form1" name="form1" method="post" action="{{=URL(c='credit_policy',f='approved_credit_edit',args=[page,record.sm_cp_approved.id])}}">
    <!--<form id="form1" method="post" action="">-->
    {{ p=p%2 }}
    
    <tr  align="left" class="blackCat"  style=" font-size:13px"> 
      <td width="100" ><input  name="record_id" type="hidden" id="record_id" size="25" value="{{=record.sm_cp_approved.id}}" title="" />
        {{=record.sm_cp_approved.approved_date}}</td>
      <td width="40"  align="left">{{=record.sm_cp_approved.branch_id}}</td>
      <td width="100"  align="left">{{=record.sm_cp_approved.client_id}}</td>
      <td width="180" >{{=record.sm_client.name}}</td>
      <td width="60" align="right" >{{=record.sm_cp_approved.credit_amount}}</td>
      <td width="80" align="right"  >{{=record.sm_cp_approved.status}}</td>
      <td width="38" align="center"  >
	  {{if access_permission==True:}} 
	    <input type="submit" name="btn_go" id="btn_go" value="&gt;&gt;"   class="button_update"/>        
	  
	  {{pass}}
	  </td>
    </tr>
  </form>
			    {{ p=p+1 }} 
			    {{pass}}
		    </table>
			  <p>&nbsp;</p>
	      </td></tr>
    </table>
    
{{if page:}}
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{=URL(args=[page-page])}}">first</a> |  
&nbsp;&nbsp;<a href="{{=URL(args=[page-1])}}">previous</a> |
{{pass}}

{{if len(records)>items_per_page:}}
&nbsp;&nbsp;<a href="{{=URL(args=[page+1])}}">next</a>
{{pass}}
	</td>
  </tr>
</table>

