
{{extend 'layout.html'}}
  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/ui.theme.css')}}" type="text/css" />
  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/jquery-ui.css')}}" type="text/css" />
  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/style.css')}}" type="text/css" />
   <script src="{{=URL('static','js_and_css/jquery-1.8.2.js')}}"></script>
    <script src="{{=URL('static','js_and_css/jquery-ui.js')}}"></script>
  
  
  <style type="text/css">
	 input[type=text], input[type=password],  select {
		margin: 2px 0px 2px 0px;
		width: 200px;
	}
	div.error {
		width: 200px;
	}
	
	#sm_cp_special_status{
		width: 215px;
	}
.page_color,body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;	
	}
 </style>
 
 <script>
var base_url=location.protocol + "//" + location.hostname + (location.port && ":" + location.port) + "/{{=request.application}}/";

$(function() {
	
/*		$("#sm_cp_rsm_region_id").attr("readonly",true);	
		$("#sm_cp_rsm_region_id").attr("readonly",true);	*/
		
		$('#sm_cp_special_region_id').attr('placeholder','Select {{=session.level1Name}}');
		$('#sm_cp_special_branch_id').attr('placeholder','Select Branch');
		
		$('#sm_cp_special_region_id').blur(function(){
			var regionIdName=$('#sm_cp_special_region_id').val();
			/*if(regionIdName!=''){
				var reIdNameArray=regionIdName.split("|");
				if(reIdNameArray.length==2){
					$('#sm_cp_special_region_id').val(reIdNameArray[0]);
					}
				}*/
			
		});
		
		$('#sm_cp_special_branch_id').blur(function(){
			var brabchIdName=$('#sm_cp_special_branch_id').val();
			/*if(brabchIdName!=''){
				var brIdNameArray=brabchIdName.split("|");
				if(brIdNameArray.length==2){
					$('#sm_cp_special_branch_id').val(brIdNameArray[0]);
					}
				}*/
			
		});
		
					
	 	var valueListStr="";
		
		$('#search_type').blur(function(){
			if ($('#search_type').val()=='Region_id'){
				//alert(base_url+'default/get_route_list');
				$.ajax({
					  url: base_url+'default/get_level1_list',
					  success: function(resStr) {
						  valueListStr=resStr
					  }
					});
					
			}else if ($('#search_type').val()=='Brance_id'){
				//alert(base_url+'default/get_route_list');
				$.ajax({
					  url: base_url+'default/get_depot_list',
					  success: function(resStr) {
						  valueListStr=resStr
					  }
					});
			}else if ($('#search_type').val()=='Status'){
				valueListStr="ACTIVE,INACTIVE";
			}
			
	 	});
	 
		$('#search_value').keyup(function(){
			//-------------------------
			var valueList = valueListStr.split(',');				
			var searchValue=$("#search_value").val();
			
			//---------------- auto complete combo list
			var valueList_new=new Array();
			lc=0;
			i =0;
			var valueStr="";				
			while (i < valueList.length)
			{
				valueStr=valueList[i];
				i=i+1;					
				var res=valueStr.toUpperCase().match(searchValue.toUpperCase());
				if (res!=null){
					valueList_new[lc]=valueStr;
					lc=lc+1;
					if (lc==30){
						break;
					};
				}else{
					continue;
				}					
			};
			//alert (ref_list_new);
			
			//-------------- auto complete source
			$( "input#search_value" ).autocomplete({
				source: valueList_new
			});
		
	  }); 
	   //==============	   
}); 



//========================regionId
$(function() {
  var scListStr="";
		$.ajax({
			  url: base_url+'default/get_level1_list',
			  success: function(resStr) {
				  scListStr=resStr
			  }
			});
	 
		$('#sm_cp_special_region_id').keyup(function(){	
			
			//-------------------------
			var ref_list = scListStr.split(',');				
			var ref_name=$("#sm_cp_special_region_id").val();
			
			//---------------- auto complete combo list
			var ref_list_new=new Array();
			lc=0;
			i =0;
			var refStr="";				
			while (i < ref_list.length)
			{
				refStr=ref_list[i];
				i=i+1;					
				var res=refStr.toUpperCase().match(ref_name.toUpperCase());
				if (res!=null){
					ref_list_new[lc]=refStr;
					lc=lc+1;
					if (lc==30){
						break;
					};
				}else{
					continue;
				}					
			};
			//alert (ref_list_new);
			
			//-------------- auto complete source
			$( "input#sm_cp_special_region_id" ).autocomplete({
				source: ref_list_new
			});
		
	  });    
});


//========================branch_id
$(function() {
  var braListStr="";
  //alert(base_url+'credit_policy/get_brance_list');
		$.ajax({
			  url: base_url+'default/get_depot_list',
			  success: function(resStr) {
				  braListStr=resStr
			  }
			});
	 
		$('#sm_cp_special_branch_id').keyup(function(){	
			
			//-------------------------
			var ref_list = braListStr.split(',');				
			var ref_name=$("#sm_cp_special_branch_id").val();
			
			//---------------- auto complete combo list
			var ref_list_new=new Array();
			lc=0;
			i =0;
			var refStr="";				
			while (i < ref_list.length)
			{
				refStr=ref_list[i];
				i=i+1;					
				var res=refStr.toUpperCase().match(ref_name.toUpperCase());
				if (res!=null){
					ref_list_new[lc]=refStr;
					lc=lc+1;
					if (lc==30){
						break;
					};
				}else{
					continue;
				}					
			};
			//alert (ref_list_new);
			
			//-------------- auto complete source
			$( "input#sm_cp_special_branch_id" ).autocomplete({
				source: ref_list_new
			});
		
	  });    
});



</script>
 
<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;" >
  <tr height="30px" >
    <td><span class="blackCatTitle">Special Credit</span></td>
    <td align="right"><span class="blackCatTitle">
   
    </span></td>
    <td align="right" width="20px">&nbsp;</td>
  </tr>
  <tr  height="1px" style="background-color:#CCCCCC;">
	    <td ></td><td ></td><td ></td>
  </tr>
  </table>
  
  
  <table width="100%" height="500px"  border="0" cellspacing="0" cellpadding="0" class="page_color"  >
  <tr height="100%"  style="vertical-align:top;">
    <td>
	<table width="100%"  border="0" cellpadding="0" cellspacing="0"  >

      <tr>
        <td width="10">&nbsp;</td>
        <td>
		
		<br />
	
		{{if access_permission==True:}} 
		<table width="800">
			<tr>
				<td width="485">
          <table width="400" class="blackCat">
		  {{=form.custom.begin}}
              <tr>
                <td width="130">Approval Date</td>
                <td width="337">{{=form.custom.widget.approved_date}}</td>
                </tr>
              <tr>
                <td>Start Date</td>
                <td>{{=form.custom.widget.from_date}}</td>
                </tr>
              <tr>
                <td>End Date</td>
                <td>{{=form.custom.widget.to_date}}</td>
                </tr>  
              <tr>
                <td>Credit Type</td>
                <td>{{=form.custom.widget.credit_type}}</td>
                </tr>
              <tr>
                <td>{{=session.level1Name}}/RSM</td>
                <td>{{=form.custom.widget.region_id}}</td>
                </tr>
             
            </table>
			</td>
			
			<td width="303">
            
              <table width="400" class="blackCat">  
               <tr>
                <td>Branch ID</td>
                <td>{{=form.custom.widget.branch_id}}</td>
                </tr> 
              <tr>
                <td>Credit Amount</td>
                <td>{{=form.custom.widget.credit_amount}}</td>
                </tr>   
              <tr>
                <td>Status </td>
                <td>{{=form.custom.widget.status}}</td>
              </tr> 
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>{{=form.custom.submit}}</td>
              </tr>
              
                  {{=form.custom.end}}
                  </table>
                </td>
			</tr>
			</table>
            <br />
         {{pass}} 
		 
         <table width="900" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
		   
		   <form id="form1" name="form1" method="post" action="{{=URL(c='credit_policy',f='special_credit')}}">
            <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">
              <td width="100" >
                <select name="search_type" id="search_type" style="width:150px" >
                  <option value="" selected="selected">Select a type</option>
                    {{if session.search_type_special_credit=='Region_id':}}<option value="Region_id" selected="selected">{{=session.level1Name}} ID</option>{{else:}}<option value="Region_id" >{{=session.level1Name}} ID</option>{{pass}}
                    {{if session.search_type_special_credit=='Brance_id':}}<option value="Brance_id" selected="selected">Branch ID</option>{{else:}}<option value="Brance_id" >Branch ID</option>{{pass}}
                    {{if session.search_type_special_credit=='Status':}}<option value="Status" selected="selected">Status</option>{{else:}}<option value="Status" >Status</option>{{pass}}
                </select>
              </td>
              <td width="166" >
              {{if session.search_value_special_credit=='' or session.search_value_special_credit==None:}}
              	<input  name="search_value" type="text" id="search_value" size="25" value="" placeholder="Select a value" autocomplete="off" style="width:300px"/>
              {{else:}}
              	<input  name="search_value" type="text" id="search_value" size="25" value="{{=session.search_value_special_credit}}" placeholder="Select a value" autocomplete="off" style="width:300px"/>
              {{pass}}
              
              </td>
              <td width="100" ><input type="submit" name="btn_filter_item" id="btn_filter_item" value="Filter"   class="button_update"/>
			  <input type="submit" name="btn_all" id="btn_all" value="All"   class="button_update"/>		
		  	   </td>
				
              <td align="right" >
			  <a href="{{=URL(c='credit_policy',f='special_credit_download')}}">
				 	<input type="button" name="" id="" value="Download"   class="button_update"/>
			    	</a>
			  {{if access_permission==True:}} 
			  <a href="{{=URL(c='credit_policy',f='special_credit_batch_upload')}}">
			  <input type="button" name="" id="" value="Batch Upload"   class="button_update"/>
			  </a>
			  {{pass}}
			  </td>
            </tr>
		      </form>
          </table>
		 <strong>Total:</strong> {{=totalCount}}<br />
		 
			 <table width="900" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
                <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">
                  <td width="150" >Approval Date</td>
                  <td width="150" >Start Date</td>
                  <td width="150" align="center">End Date</td>
                  <td width="150" align="center" >Credit Type</td>
                  <td width="150" align="center"  >{{=session.level1Name}}/RSM</td>
                  <td width="150" align="center"  >Branch ID</td>
                  <td width="150" align="right"  >Credit Amount</td>
                  <td width="150" align="right"  >Status </td>
                  <td width="50" align="center"  ></td>
                </tr>
			    {{ p=0}} 		  
			    {{for i,record in enumerate(records):}}
			    {{ if i==items_per_page: break}}
  <form id="form1" name="form1" method="post" action="{{=URL(c='credit_policy',f='special_credit_edit',args=[page,record.id])}}">
    <!--<form id="form1" method="post" action="">-->
    {{ p=p%2 }}
    
    <tr  align="left" class="blackCat"  style=" font-size:13px"> 
      <td width="150" ><input  name="record_id" type="hidden" id="record_id" size="25" value="{{=record.id}}" title="" />
        {{=record.approved_date}}</td>
      <td width="150" >{{=record.from_date}}</td>
      <td width="150"  align="center">{{=record.to_date}}</td>
      <td width="150" align="center" >{{=record.credit_type}}</td>
      <td width="150" align="center"  >{{=record.region_id}}</td>
      <td width="150" align="center"  >{{=record.branch_id}}</td>
      <td width="150" align="right"  >{{=record.credit_amount}}</td>
      <td width="150" align="right"  >{{=record.status}}</td>
      <td width="50" align="center"  >
	  {{if access_permission==True:}} 
	    <input type="submit" name="btn_go" id="btn_go" value="&gt;&gt;"   class="button_update"/>        
	  
	  {{pass}}
	  </td>
    </tr>
  </form>
			    {{ p=p+1 }} 
			    {{pass}}
		    </table>
			  <p>&nbsp;</p>
	      </td></tr>
    </table>
    
{{if page:}}
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{=URL(args=[page-page])}}">first</a> |  
&nbsp;&nbsp;<a href="{{=URL(args=[page-1])}}">previous</a> |
{{pass}}

{{if len(records)>items_per_page:}}
&nbsp;&nbsp;<a href="{{=URL(args=[page+1])}}">next</a>
{{pass}}
	</td>
  </tr>
</table>

