<!DOCTYPE html>

<html lang="{{=T.accepted_language or 'en'}}" class="no-js"><!-- no-js need it for modernzr -->

  <head>

    

    <meta charset="utf-8" />    

	

    <!-- www.phpied.com/conditional-comments-block-downloads/ -->

    <!--[if IE]><![endif]-->    

    <!-- Always force latest IE rendering engine 

     (even in intranet) & Chrome Frame 

     Remove this if you use the .htaccess -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    

    <title>{{=response.title or request.application}}</title>

    

    <!-- http://dev.w3.org/html5/markup/meta.name.html -->

    

    <meta name="application-name" content="{{=request.application}}" /> 

    

    <!-- Speaking of Google, don't forget to set your site up: 

     http://google.com/webmasters -->

    <meta name="google-site-verification" content="" />

    

    <!--  Mobile Viewport Fix

      j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag 

      device-width: Occupy full width of the screen in its current orientation

      initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height

      maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width

      -->

    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

    

    <!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->

    <link rel="shortcut icon" href="{{=URL('static','favicon.ico')}}" type="image/x-icon">

    <link rel="apple-touch-icon" href="{{=URL('static','favicon.png')}}">



    <!-- For the less-enabled mobile browsers like Opera Mini -->

    <link rel="stylesheet" media="handheld" href="{{=URL('static','css/handheld.css')}}">

    

    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->

    <script src="{{=URL('static','js/modernizr-1.7.min.js')}}"></script><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	

	<style type="text/css">

		body {

			margin-left: 0px;

			margin-top: 0px;

			margin-right: 0px;

			margin-bottom: 0px;

		}

	</style>

	

    {{#------  require CSS and JS files for this page (read info in base.css) ------}}

    {{response.files.append(URL('static','css/base.css'))}}

    {{response.files.append(URL('static','css/superfish.css'))}}

    {{response.files.append(URL('static','js/superfish.js'))}}

    {{response.files.append(URL('static','css/bootstrap.min.css'))}}

    

    {{#------ include web2py specific js code (jquery, calendar, form stuff) ------}}

    {{include 'web2py_ajax.html'}}

	

    {{

    #using sidebars need to know what sidebar you want to use

    #prior of using it, because of static width size of content, you can use

    #left_sidebar, right_sidebar, both or none (False left and right)    

    left_sidebar_enabled = globals().get('left_sidebar_enabled',False)

    right_sidebar_enabled = globals().get('right_sidebar_enabled',False)

    if left_sidebar_enabled and right_sidebar_enabled: width_content='63%'

    elif left_sidebar_enabled != right_sidebar_enabled: width_content='740px'

    else: width_content='100%'

    if left_sidebar_enabled: left_sidebar_style = 'style="display: block;"'

    else: left_sidebar_style = 'style="display: none;"'

    if right_sidebar_enabled: right_sidebar_style = 'style="display: block;"'

    else: right_sidebar_style = 'style="display: none;"'

    style_content = 'style="width: %s"' % width_content

    }}





<!-- menu required -->

<link rel="stylesheet" href="{{=URL('static', 'js_and_css/jquery-ui.css')}}" type="text/css" />

<script src="{{=URL('static','js_and_css/jquery-1.8.2.js')}}"></script>

 <script src="{{=URL('static','js_and_css/jquery-ui.js')}}"></script>

 <script src="{{=URL('static','js/bootstrap-multiselect.js')}}"></script>

 

 <script>

 

 

 $(function() {

	 

	 var tempMenu2=$("#menuFd" ).val();	

	$( ".menuDiv" ).html(tempMenu2);

	

	//==============

	$( "#accordion" ).accordion({

	  active: true,

	  navigation:true,

      heightStyle: "content",

	  collapsible: true	   

    });

	

	

  });

</script>

<style type="text/css">



li:hover{

	background-color:#BFDFFF;

	}



.title_row{

	background-color:#ECF5FF;

	border:solid;

	border-width:thin;

	border-color:#CAE4FF

	}

.title_row:hover{

	background-color:#BFDFFF;

	}

	

</style>



<style type="text/css">

	#accordion ul{	list-style-type:none;margin:0;}

	#accordion li{ margin:1px; border-radius:5px; border-bottom:1px solid #CCCCCC; font-size:10px; background-color:#F7F7F7; height:20px; padding:5px 2px 2px 15px;}/*:#F7F7F7*/

	#accordion li a{ text-decoration:none;}

	#accordion li:hover{ height:21px;background-color:#F5F5F5;}

	

	/*#home{ margin-top:0px; width:16px; height:16px;background:url('{{=URL('static','images/ui-icon.png')}}') 0 -110px;}*/

	

	#item{ width:32px; height:25px;}<!--background:url('{{=URL('static','images/vicon.png')}}') -307px -289px;-->

	#depot{ width:32px; height:25px;}<!--background:url('{{=URL('static','images/vicon.png')}}') -307px -289px;-->

	#primarysale{ width:32px; height:25px;}	<!--;background:url('{{=URL('static','images/vicon.png')}}') -115px -194px-->

	#workingarea{ width:32px; height:25px;}<!--background:url('{{=URL('static','images/vicon.png')}}') -307px -289px;-->

	#fieldforce{ width:32px; height:25px;}<!--background:url('{{=URL('static','images/vicon.png')}}') -307px -289px;-->

	#client{ width:32px; height:25px;}<!--background:url('{{=URL('static','images/vicon.png')}}') -307px -289px;-->

	#visit{ width:32px; height:25px;}<!--background:url('{{=URL('static','images/vicon.png')}}') -307px -289px;-->

	#secondarysale{ width:32px; height:25px;}<!--background:url('{{=URL('static','images/vicon.png')}}') -307px -289px;-->

	#reports{ width:32px; height:25px;}<!--background:url('{{=URL('static','images/vicon.png')}}') -307px -289px;-->

	#settings{ width:32px; height:25px;}<!--background:url('{{=URL('static','images/vicon.png')}}') -307px -289px;-->

	#target{ width:32px; height:25px;}<!--background:url('{{=URL('static','images/vicon.png')}}') -307px -289px;-->

	#printmanager{ width:32px; height:25px;}<!--background:url('{{=URL('static','images/vicon.png')}}') -307px -289px;-->

	#doctor{ width:32px; height:25px;}<!--background:url('{{=URL('static','images/vicon.png')}}') -307px -289px;-->

	#office{ width:32px; height:25px;}<!--background:url('{{=URL('static','images/vicon.png')}}') -307px -289px;-->

	#tools{ width:32px; height:25px;}<!--background:url('{{=URL('static','images/vicon.png')}}') -307px -289px;-->

</style>



<!-- menu required -->

    	

  </head>

  

  <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->  

  <!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->

  <!--[if IE 7 ]>    <body class="ie7"> <![endif]-->

  <!--[if IE 8 ]>    <body class="ie8"> <![endif]-->

  <!--[if IE 9 ]>    <body class="ie9"> <![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--> <!--<![endif]-->

    

	<!-- Top-->





<!-- Top	-->

<body>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="top_table">

    <tr>

      <td width="11">&nbsp;</td>

      <td width="149" align="left"><img src="{{=URL('static','images/gp_black.jpg')}}" alt="blueText" /></td>

      <td style="color:#FFFFFF"  align="center"><font color="#EBEBEB" size="+1">{{=session.cName}}</font></td>

      <td width="100px" align="center"><a  href="{{=URL('default', 'logout')}}" class="blackCat "></a></td>

      <td width="10px">&nbsp;</td>

    </tr>

  <tr height="1px" style="vertical-align:middle; background:#E8F3F7;">

      <td></td>

      <td align="left"></td>

      <td  align="center"></td>

      <td align="center"></td>

      <td></td>

    </tr>

</table>



<!-- Top - second -->

<table height="20px" width="100%" border="0" cellspacing="0" cellpadding="0" class="top_sec_table" >

  <tr>

    <td width="8">&nbsp;</td>

    <td width="110">M-Reporting</td>

    <td width="202" >&nbsp;</td>

    <td width="323" ><div align="right">User ID: {{=session.user_id}}{{#=session.user_type}} {{if session.user_type=='Depot':}}(Branch:{{=session.user_depot_name}}-{{=session.depot_id}}){{pass}}</div></td>

    <td width="47" ><div align="right"><a href="{{=URL(c='default',f='log_out')}}">Logout</a></div></td>

	<td width="13">&nbsp;</td>

  </tr>

</table>



<!-- Top End-->



{{if response.flash!='':}}

<div class="flash">{{=response.flash }}</div> 

	 <!--notification div--> 	

{{pass}}



<div id="container" >

  <div id="wrapper" >

	<div id="page" > 

	

	<!-- page main table , col 2 row 1 -->

	

	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="menu_table" > 

  

  		<tr>



  

  	<!-- Column for menu -->

    <td class="menu_table" style="vertical-align:top" width="130px">

	

			<table width="130px" border="0" cellspacing="0" cellpadding="0">

				  

				  <tr>

					<td width="130px">

					

				<table width="180" border="0" cellspacing="0" cellpadding="0" >				  

				  <tr   height="30px" class="bodylink2">

					<td >&nbsp;</td>

					<td width="180" ><a style="text-decoration:none;" href="{{=URL(c='default',f='home')}}"><div style="font-size:16px; padding:3px 0px 0px 2px; vertical-align:middle;"><img src="{{=URL('static','images/home_icon_black.png')}}" height="22px" width="25px"/>&nbsp;&nbsp;Home</div></a></td>

				  </tr>

				  <tr height="1px" style="background-color:#CCCCCC;">

					<td></td>

					<td width="180"></td>

				  </tr>

				                    

                  

                  <tr >

				    <td ></td>

                    

                    

				    <td width="180" >

                  <!--<div id="accordion" style="width:180px;" class="menuDiv">&nbsp;</div>  -->                  

                                  

                 <table width="100%">

                 	<!--<tr><td colspan="2">&nbsp;</td></tr>-->

                 	<tr class="title_row"><td colspan="2" style="font-weight:bold"><a style="text-decoration:none; font-size:14px" href="{{=URL(c='dashboard',f='dashboard')}}">National</a> {{if depth==-1:}}&nbsp;<img src="{{=URL('static','images/blue-star.png')}}" alt="" />{{pass}}</td>

                 	  <td style="font-weight:bold">&nbsp;</td>

                 	</tr>

                    

                 {{if regionName!='':}}<tr class="title_row"><td style="font-weight:bold;padding-top:5px; padding-bottom:5px;">{{=session.level0Name}}</td><td style="font-weight:bold;padding-top:5px; padding-bottom:5px;">: <a href="{{=URL(c='dashboard',f='dashboard',vars=dict(btn_click='Yes',levelId=regionID))}}" style="text-decoration:none;">{{=regionName}}</a> {{if depth==0:}}&nbsp;<img src="{{=URL('static','images/blue-star.png')}}" alt="" />{{pass}}</td>

                   <td width="10" style="font-weight:bold;padding-top:5px; padding-bottom:5px;">&nbsp;</td>

                 </tr>

                 {{pass}}

                 {{if areaName!='':}}<tr class="title_row" ><td style="font-weight:bold;padding-top:5px; padding-bottom:5px;">{{=session.level1Name}}</td><td style="font-weight:bold;padding-top:5px; padding-bottom:5px;">: <a href="{{=URL(c='dashboard',f='dashboard',vars=dict(btn_click='Yes',levelId=areaID))}}" style="text-decoration:none;">{{=areaName}}</a> {{if depth==1:}}&nbsp;<img src="{{=URL('static','images/blue-star.png')}}" alt="" />{{pass}}</td>

                   <td width="10" style="font-weight:bold;padding-top:5px; padding-bottom:5px;">&nbsp;</td>

                 </tr>

                 {{pass}}

                 {{if territoryName!='':}}<tr class="title_row" ><td style="font-weight:bold;padding-top:5px; padding-bottom:5px;">{{=session.level2Name}}</td><td style="font-weight:bold;padding-top:5px; padding-bottom:5px;">: <a href="{{=URL(c='dashboard',f='dashboard',vars=dict(btn_click='Yes',levelId=territoryID))}}" style="text-decoration:none;">{{=territoryName}}</a> {{if depth==2:}}&nbsp;<img src="{{=URL('static','images/blue-star.png')}}" alt="" />{{pass}}</td>

                   <td width="10" style="font-weight:bold;padding-top:5px; padding-bottom:5px;">&nbsp;</td>

                 </tr>

                 {{pass}}

                 {{if marketName!='':}}<tr class="title_row" ><td style="font-weight:bold;padding-top:5px; padding-bottom:5px;">{{=session.level3Name}}</td><td style="font-weight:bold;padding-top:5px; padding-bottom:5px;">: <a href="{{=URL(c='dashboard',f='dashboard',vars=dict(btn_click='Yes',levelId=marketID))}}" style="text-decoration:none;">{{=marketName}}></a> {{if depth==3:}}&nbsp;<img src="{{=URL('static','images/blue-star.png')}}" alt="" />{{pass}}</td>

                   <td width="10" style="font-weight:bold;padding-top:5px; padding-bottom:5px;">&nbsp;</td>

                 </tr>

                 {{pass}}

                 </table>

                 

                 

                 

				  

                 <!-- <table>

                 	<tr><td style="width:30px">{{if levelRows:}}{{=levelName}}:{{else:}}&nbsp;{{pass}}</td><td></td></tr>

                                       

                  {{for levelRow in levelRows:}}

                    <tr><td>&nbsp;</td><td>{{if depth>=2:}}{{=levelRow.level_name}}{{else:}}<a href="{{=URL(c='dashboard',f='dashboard',vars=dict(btn_click='Yes',levelId=levelRow.level_id))}}">{{=levelRow.level_name}}</a>{{pass}}</td></tr>         

                  {{pass}}

                   </table>-->

                  

                  <span style="font-weight:bold">{{if levelRows:}}{{=levelName}}:{{else:}}&nbsp;{{pass}}</span>

                  <!--list-style-image: url(../static/images/location-black.png)-->

                  <ul>                  	

                    {{for levelRow in levelRows:}}

                    	{{if depth>=int(session.levleDepth)-1:}}<li style="list-style-type:circle; padding-top:3px;padding-bottom:3px;"><a href="{{=URL(c='showMap',f='outletMap',vars=dict(search_type='MARKET',btn_outlet_map='Show',search_value=levelRow.level_id+'|'+levelRow.level_name))}}" style="text-decoration:none" target="_blank">{{=levelRow.level_name}} (Map)</a></li>{{else:}}<li style="padding-top:3px;padding-bottom:3px;list-style-type: none;"><a href="{{=URL(c='dashboard',f='dashboard',vars=dict(btn_click='Yes',levelId=levelRow.level_id))}}" style="text-decoration:none" ><div><img src="{{=URL('static','images/location-black.png')}}"/>&nbsp;{{=levelRow.level_name}}</div></a>{{pass}}</li>

                    {{pass}}

                  </ul>

                  

                <br>

                <br>

                <br>



                 </td>

                

                 

				 </tr>		  

				</table>  

                

                

                

                              

                </td>

				  </tr>

				  

		  </table>

          

          </td>

    <!--	end of menu column-->











	<!--	column for page -->

	

   <!-- <td style="background-color:#E6F2FF;>-->

    <td  style="vertical-align:top;" class="page_color"   >

		<!-- <div  class="rounded_corner" style="background-color:#F0F8FF; border: #C1E0FF; border-width:thick; border-style:outset; border-right:none;"> -->

	

	<table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">

  

    <td>

	

	{{if left_sidebar_enabled:}}

            <div id="left_sidebar" {{=XML(left_sidebar_style)}} >

              <div style="padding: 4px;">

              {{block left_sidebar}}Content Left Sidebar{{end}}            </div>

            </div><!-- left_sidebar -->

      {{pass}}

      

      <!-- content -->

      <div id="content" {{=XML(style_content)}} >

        {{include}}      </div>

        <!-- content -->

      

      {{if right_sidebar_enabled:}}

      <div id="right_sidebar" {{=XML(right_sidebar_style)}} >

        <div style="padding: 4px;">

          {{block right_sidebar}}Content Right Sidebar{{end}}</div>

        </div><!-- right_sidebar -->

      {{pass}}

      

      

       </td>

 		 </tr>

	</table>	</td> <!-- column for page -->

  </tr>

</table>

  

  </div><!-- page --> 

  </div><!-- wrapper -->

  </div><!-- container -->   





<!-- bottom-->

 <table width="100%" style="background-color:#CCCCCC">	  

	  <tr align="right" style="vertical-align:middle;">

		<td>&nbsp;</td>

		</tr>

</table>



 <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF">	  

      <tr align="right" style="height:1px; background-color:#F5F5F5">

		<td></td>

   	  </tr>

	  <tr align="right" style="vertical-align:middle;">

		<td><img src="{{=URL('static','images/logo_gp.png')}}" alt="" />&nbsp;&nbsp;</td>

      </tr>

</table>



<input type="hidden" id="menuFd" value="{{=session.menuDivStr}}" />

<!-- bottom End-->   

</body>

</html>































































