{{extend 'layout_invoice.html'}}

<html>

<head>



</head>

<body>
	
    
	{{pageFlag=1}}

	
<!--page break-->

		{{if pageFlag==0:}}
<span style="page-break-before:always"></span>	

			<!-- Report header-->	
			
<table width="902">

				<tr>
					<td width="100" ><img width="25px" height="40px" src="{{=URL('static','images/comp_logo2.png')}}"/></td>
					<td style="text-align:center; font-size:24px; font-weight:bold">{{=session.cName}}</td>
					<td width="100" >&nbsp;</td>
  				</tr>

			</table>			
            <table width="900" style="border: solid 1px #C4C4C4">
                <tr style="border-bottom:solid; border-bottom-color:#999">
                  <td align="center">{{=session.user_depot_address}}<!--{{#=session.company_address}}--><!--Sadar Road, Mohakhali, Dhaka. Ph: 9896479,9862763, 8855371-80 Ext:258 Fax:8860325, mail: tdclmohakhali@transcombd.com--></td>
              </tr>
</table>
            <br>
			<!--<hr/>-->
			<!-- end report header  -->
		{{pass}}
		
		{{pageFlag=0}}
		
		<!--end page break-->
		
      <span style="float:right">#5.3</span>
<table width="900" cellpadding="1" cellspacing="1" >
        <tr style="border: solid 1px #C4C4C4">
          <td align="left">
          <strong>SYNOPSIS (Before Delivery): {{=territory_id}}</strong>
          <br><strong style="font-size:14px">Market:</strong> <strong>{{=maxMarketID}}|{{=maxmarketName}}</strong></td>
          <td width="200" align="center"><img src="{{=URL('static','images/comp_logo1.png')}}"/></td></tr>
</table>

		<table width="900" cellpadding="1" cellspacing="1" >
                <tr style="">
                  <td width="100" align="left"><strong>Delivery Person</strong></td>
                  <td align="left"><strong><span style="font-size:14px; font-weight:bold">:{{=d_man_id}}&nbsp;| {{=d_man_name}}</span></strong></td>
                  <td width="150" align="left"><strong>Sales Term</strong></td>
                  <td width="200" align="left"><span style="font-size:14px;"><strong>:</strong>{{if paymentMode=='':}}ALL{{else:}}{{=paymentMode}}{{pass}}{{if paymentMode=='CREDIT':}}({{if creditType=='':}}ALL{{else:}}{{=creditType}}{{pass}}){{pass}}</span></td>
                </tr>
                <tr style="">
                  <td width="100" align="left"><strong>From Invoice</strong></td>
                  <td align="left"><span style="font-size:14px;"><strong>:</strong>{{=search_from_sl}}</span></td>
                  <td width="150" align="left"><strong>To Invoice Range</strong></td>
                  <td width="200" align="left"><span style="font-size:14px;"><strong>:</strong>{{=search_to_sl}}</span></td>
                </tr>
                <tr style="">
                  <td width="100" align="left"><strong>From Date</strong></td>
                  <td align="left"><strong><span style="font-size:14px; font-weight:bold">:</span></strong>{{try:}}{{=datetime.datetime.strptime(str(invoice_dateFrom),'%Y-%m-%d').strftime('%d-%b-%Y')}}{{except:}}{{pass}}</td>
                  <td width="150" align="left"><strong>To Date</strong></td>
                  <td width="200" align="left"><strong><span style="font-size:14px; font-weight:bold">:</span></strong>{{try:}}{{=datetime.datetime.strptime(str(invoice_dateTo),'%Y-%m-%d').strftime('%d-%b-%Y')}}{{except:}}{{pass}}</td>
                </tr>      
    </table>
    <span style="float:right"><a href="{{=URL(c='print_manager',f='invoice_item_list_synopsis_download')}}" >Download</a></span>
    <br>
    <strong>{{=territory_id}}</strong> {{if territory_id!='':}}Territory wise{{elif d_man_id!='':}}DP wise{{pass}}
    <table width="900" border="1" cellpadding="1" cellspacing="1" class="sample_border" style="border: solid 1px #C4C4C4">
	<thead>
  <tr align="left" class="blackCatHead"  height="20px" style="vertical-align:middle; background-color:#E6E6E6; border:solid 2px #999999">

    <td width="50" >Sl.No</td>
    <td width="60" >Item ID</td>
    <td align="left" >Item Name</td>

    <td width="60" >Batch No</td>
    <td width="80" align="right" >Trade Price</td>
    <td width="50" align="right" >Vat</td>

    <td width="50" align="center"  >Unit</td>
    <td width="50" align="right"  >Quantity</td>

    <td width="50" align="right"  >Bonus</td>
    <td width="60" align="right"  >Net Issue</td>

    </tr>
    </thead>
    <tbody>
    
	{{netTotal=0.0}}
	{{total_trade_price=0.0}}
	{{total_vat=0.0}}
    {{spDiscountTotal=0}}
    
    {{rowSl=0}}
    
    {{preArea=''}}
	{{for i,record in enumerate(records):}}

	  
      {{newArea=record.sm_invoice.level2_id}}
      {{if preArea!=newArea:}}
        
        <tr  align="left" class="blackCat"  style="vertical-align:middle; background-color:#FBFBFB">	
        <td colspan="10" style="font-size:16px; font-weight:bold">{{=newArea}}</td>
        </tr>
        {{rowSl=0}}
       {{pass}}
       
       {{preArea=newArea}}
       {{rowSl+=1}}
      <tr  align="left" class="blackCat"  style="vertical-align:middle; background-color:#FBFBFB">	
        <td width="50" >{{=rowSl}}</td>
        <td width="60" >{{=record.sm_invoice.item_id}}</td>
        <td align="left" ><strong>{{=record[db.sm_invoice.item_name.max()]}}</strong></td>	
        <td width="60" >{{=record.sm_invoice.batch_id}}</td>
        {{itemRate=record.sm_invoice.price}}
        {{itemQty=record[db.sm_invoice.quantity.sum()]}}
        <td width="80" align="right" >{{actualTp=record.sm_invoice.actual_tp}}{{=actualTp}}</td>
        {{spDiscount=(actualTp-itemRate)*itemQty}}{{if spDiscount < 0:}}{{spDiscount=0}}{{pass}}{{spDiscountTotal+=spDiscount}}
        <td width="50" align="right" >{{=record.sm_invoice.item_vat}}</td>
        
        <td width="50" align="center" >{{=record[db.sm_invoice.item_unit.max()]}}</td>
        <td width="50" align="right" >{{if itemQty==0:}}-{{else:}}{{=itemQty}}{{pass}}{{total_trade_price+=actualTp*itemQty}}{{total_vat+=record.sm_invoice.item_vat*itemQty}}</td>
    
        <td width="50" align="right" >{{bonusQty=record[db.sm_invoice.bonus_qty.sum()]}}{{if bonusQty==0:}}-{{else:}}{{=bonusQty}}{{pass}}</td>
        <td width="60" align="right" ><strong>{{=itemQty+bonusQty}}</strong></td>	
    </tr>  	
    {{pass}}
	
    <tr  align="left" class="blackCat"  style="vertical-align:middle; background-color:#FBFBFB">
    <td colspan="5" rowspan="5" >&nbsp;</td>
    <td colspan="4" align="right" ><strong>Total Trade Price:</strong></td>
    <td width="60" align="right" title="{{=actual_total_tp}}" ><strong>{{=easy_format(total_trade_price)}}</strong></td>
    </tr>
    <tr  align="left" class="blackCat"  style="vertical-align:middle; background-color:#FBFBFB">
      <td colspan="4" align="right" ><strong>VAT:</strong></td>
      <td width="60" align="right" ><strong>{{=easy_format(total_vat)}}</strong></td>
    </tr>
    <tr  align="left" class="blackCat"  style="vertical-align:middle; background-color:#FBFBFB">
      <td colspan="4" align="right" >Total Trade Concession Amount:</td>
      <td width="60" align="right" ><strong>{{=easy_format(totalDiscount)}}</strong></td>
    </tr>
    <tr  align="left" class="blackCat"  style="vertical-align:middle; background-color:#FBFBFB">
      <td colspan="4" align="right" >Special Discount</td>
      <td align="right" ><strong>{{=easy_format(spDiscountTotal)}}</strong></td><!--totalSpDiscount-->
    </tr>
    <tr  align="left" class="blackCat"  style="vertical-align:middle; background-color:#FBFBFB">
      <td colspan="4" align="right" ><strong>Net Total:</strong></td>
      <td width="60" align="right" ><strong>{{netTotal=total_trade_price+total_vat-(totalDiscount+spDiscountTotal)}}{{=easy_format(netTotal)}}</strong></td>
    </tr>
    </tbody>

</table>

<br>
<strong>Net Sales (Taka in Words):</strong> {{try:}}{{=num2word(str(round(netTotal,2)))}}{{except:}}-{{pass}}
<hr>
<strong>Total Invoice: </strong>{{=invoiceTotal}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Total Customer: </strong>{{=clientCount}}
<br>
<br/>
<table width="900" >
	<tr>
	  <td width="50" align="right">&nbsp;</td>
	  <td align="center">______________________________________</td>
	  <td width="150" align="center">__________________</td>
	  <td width="150" align="center">___________________</td>
	  <td width="150" align="center">_______________</td>
  </tr>
	<tr>
	  <td width="50" align="right"><strong>for</strong></td>
	  <td align="center"><strong>{{=session.cName}}<!--Transcom Distribution Co. Ltd.--></strong></td>
	  <td width="150" align="center"><strong>Accounts Department</strong></td>
	  <td width="150" align="center"><strong>Store-in-Charge</strong></td>
	  <td width="150" align="center"><strong>Delivery Person</strong></td>
  </tr>
</table>

</body>
</html>

