{{extend 'layout_login.html'}}

<table width="900" height="39" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="338" height="26"><div class="blackCatTitle">System Administrator-Home</div></td>
	  <td width="423">&nbsp;</td>
      <td width="139"></td>
  </tr>
</table>


<table width="900" height="589" style="background-color:#F5F5F5">
  <tr>
    <td height="27" valign="top" class="sample2"  ><div class="blackCatTitle2">&nbsp;<strong>&nbsp;&nbsp;System settings</strong> </div></td>
  </tr>
  <form id="form1" name="form1" method="post" action="{{=URL(c='super',f='home')}}">
  <tr>
  
    <td width="370" height="554" valign="top" class="sample2">
	
	  <table width="576" height="350" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="5">&nbsp;</td>
          <td width="288" height="30"><input type="submit" name="btn_web_settings" id="btn_web_settings" value="Web Settings" style="width:200px; height:30px; font-size:16px" /></td>
        </tr>
        
        <tr>
          <td width="5">&nbsp;</td>
          <td height="30"><input type="submit" name="btn_mobile_settings" id="btn_mobile_settings" value="Mobile Settings" style="width:200px; height:30px; font-size:16px" /></td>
        </tr>
        
        <tr>
          <td width="5">&nbsp;</td>
          <td height="30"><input type="submit" name="btn_depot_device_settings" id="btn_depot_device_settings" value="Depot Device Settings" style="width:200px; height:30px; font-size:16px" /></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td height="30"><input type="submit" name="btn_comp_mobile" id="btn_comp_mobile" value="Company Mobile" style="width:200px; height:30px; font-size:16px" /></td>
        </tr>
        
        <tr>
          <td width="5"></td>
          <td height="5"></td>
        </tr>
        <tr>
          <td width="5">&nbsp;</td>
          <td height="35"><input type="submit" name="btn_super_settings" id="btn_super_settings" value="Settings" style="width:200px; height:30px; font-size:16px" /></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td height="35"><input type="submit" name="btn_company_settings" id="btn_company_settings" value="Company Settings" style="width:200px; height:30px; font-size:16px" /></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td height="19"><input type="submit" name="btn_level_settings" id="btn_level_settings" value="Level Settings" style="width:200px; height:30px; font-size:16px" /></td>
        </tr>
        <tr>
          <td width="5">&nbsp;</td>
          <td height="19">&nbsp;</td>
        </tr>
        
        <tr>
          <td>&nbsp;</td>
          <td height="34"><input type="submit" name="btn_data_clean" id="btn_data_clean" value="Table Data Clean" style="width:200px; height:30px; font-size:16px" /></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td height="34">&nbsp;</td>
        </tr>
        <tr>
          <td width="5">&nbsp;</td>
          <td height="34"><input type="submit" name="btn_logout" id="btn_logout" value="Logout" style="width:200px; height:30px; font-size:12px" /></td>
        </tr>
      </table>	  </td>
    </tr>
  </form>
</table>

