{{extend 'layout_sales_report.html'}}

<html>

<head>

<script type="text/javascript">

function print_page()

  {

    window.print()

  }

</script>



</head>

<body>


<table width="900px" style="border:none;" >
		  <tr >
		    <td >Date Range</td>
		    <td >&nbsp;</td>
		    <td >{{=date_from}} - {{=date_to}}</td>
		    <td >&nbsp;</td>
		    <td >&nbsp;</td>
		    <td width="266" >&nbsp;</td>
	      </tr>
		  <tr >
		    <td width="90" > Depot/Branch</td>
		    <td width="10" >:</td>
		    <td width="424" ><span >{{=depot_id}}|{{=depot_name}}</span></td>
		    <td width="79" >MSO</td>
		    <td width="3" >:</td>
		    <td >{{=mso_id}}
	        {{=mso_name}}</td>
	      </tr>
		  <tr >
		    <td >Store</td>
		    <td >:</td>
		    <td ><span >{{=store_id}}|{{=store_name}}</span></td>
		    <td >Market</td>
		    <td >:</td>
		    <td >{{=market_id}}
	        {{=market_name}}</td>
	      </tr>
		  <tr >
		    <td >Teritory</td>
		    <td >:</td>
		    <td ><span >{{=teritory_id}}
		      {{=teritory_name}}</span></td>
		    <td >Category</td>
		    <td >:</td>
		    <td >{{=customerCat_id}}
	        |{{=customerCat_name}}</td>
	      </tr>
		  <tr >
		    <td >Customer</td>
		    <td >:</td>
		    <td >{{=customer_id}}
	        {{=customer_name}}</td>
		    <td >SubCategory</td>
		    <td >:</td>
		    <td >{{=customerCat_idSub}}
	        |{{=customerCat_nameSub}}</td>
	      </tr>
		  </table>
          <table width="900px" style="border:none; text-align:center; font-weight:bold;" >
            <tr >
              <td width="100" >&nbsp;</td>
              <td align="center" ><span style="border-bottom:1px solid #333;">17.1 Category and MSO wise Sales </span></td>
              <td width="100" ><img  height="30px" src="{{=URL('static','images/comp_logo1.png')}}"/></td>
            </tr>
          </table>
          <br>


		  <table width="900px" border="1" cellpadding="1" cellspacing="1" class="sample_border" >                
<thead>
                <tr align="left" class="blackCatHead" height="20px" ;  style="font-size:12px">

                  

                  
                  <td width="80"    >MSO TR</td>
                  <td width="100"   >MSO Name</td>
                  
                  <td width="150"   >Market</td>

                  <td width="80"   align="right" >Invoice Total</td>
                  <td width="100"   align="right">No of Invoice</td>
                  <td width="100"   align="right">Return Total</td>
                  <td width="100"   align="right">no of Return</td>
                  <td width="100"   align="right">Exec %</td>
                  <td width="80"   align="right">Return %</td>
                  <td width="150"   align="right">Net Sold</td>
              </tr>
  </thead>
				{{p=0}}
                {{tTotal=0}}
                {{tInvoice=0}}
                {{tReturn=0}}
                {{for i,record in enumerate(records):}}

                
              {{repRet=0}}
                {{rep_id=record[db.sm_invoice_head.rep_id]}}
                {{ if [s for s in retList if rep_id in s]:
                    ret_index_element = retList.index(rep_id)           
                    repRet=retList_str[ret_index_element]
                }}
                {{pass}}
                

              {{ if (i % 2 == 0):}}
<tbody>
              <tr  align="left" style="vertical-align:middle; font-size:12px; background:#FBFBFB;">
                {{else:}}
              <tr  align="left" style="vertical-align:middle; font-size:12px; background:#F5F5F5;">
                
				{{pass}}

                
                <td  >{{=record[db.sm_invoice_head.rep_id]}}</td>
               
                
                <td  >{{=record[db.sm_invoice_head.rep_name.max()]}}</td>
                <td   >{{=record[db.sm_invoice_head.market_id.max()]}}| {{=record[db.sm_invoice_head.market_name.max()]}}</td>
                <td   align="right">{{='{:20,.2f}'.format(record[db.sm_invoice_head.total_amount.sum()])}}{{tInvoice=tInvoice+record[db.sm_invoice_head.total_amount.sum()]}}</td>
                <td   align="right">{{=record[db.sm_invoice_head.id.count()]}}</td>
                
                {{return_amount=record[db.sm_invoice_head.return_tp.sum()] + record[db.sm_invoice_head.return_vat.sum()]-record[db.sm_invoice_head.return_discount.sum()]}}
                 <td   align="right">{{='{:20,.2f}'.format(return_amount)}}
                 {{tReturn=tReturn+return_amount}}</td>
                 <td   align="right">{{=repRet}}</td>
                
                
                {{netSold=record[db.sm_invoice_head.total_amount.sum()]-return_amount
                sale=record[db.sm_invoice_head.total_amount.sum()]
                rSale=return_amount
                }}
                
                 {{eP=(netSold*100)/sale}}
                {{rP=(return_amount*100)/sale}}
                
                <td   align="right">{{='{:20,.2f}'.format(eP)}}</td>
                <td   align="right">{{='{:20,.2f}'.format(rP)}}</td>
                <td   align="right">	
                {{='{:20,.2f}'.format(netSold)}}{{tTotal=tTotal+netSold}}</td>
              </tr>
              {{p=p+1}}
				
                {{p=0}}
                {{pass}}
                {{pass}}
                
                
           <tbody>
                <tr  align="left" style="vertical-align:middle; font-size:16px; color:#942727;">
                
				{{pass}}

                 {{eP=(tTotal*100)/tInvoice}}
                {{rP=(tReturn*100)/tInvoice}}
                <td  >&nbsp;</td>
               
                
                <td  ></td>
                <td   ></td>
                <td   align="right">{{='{:20,.2f}'.format(tInvoice)}}</td>
                <td   align="right"></td>

                 <td   align="right">{{='{:20,.2f}'.format(tReturn)}}</td>
                 <td   align="right"></td>
                <td   align="right">{{='{:20,.2f}'.format(eP)}}</td>
                <td   align="right">{{='{:20,.2f}'.format(rP)}}</td>
                <td   align="right">	
                {{='{:20,.2f}'.format(tTotal)}}</td>
              </tr>
				
          </table>
			
<br/>




<br/>



</body>

</html>

