{{extend 'layout_sales_report.html'}}

<html>

<head>

<script type="text/javascript">

function print_page()

  {

    window.print()

  }

</script>



</head>

<body>

		<table width="546" style="border:none;" >
		  <tr >
		    <td >Date Range</td>
		    <td >&nbsp;</td>
		    <td >{{=date_from}} - {{=date_to}}</td>
	      </tr>
		  <tr >
		    <td width="90" > Depot/Branch</td>
		    <td width="10" >:</td>
		    <td width="424" ><span style="">{{=depot_id}}|{{=depot_name}}</span></td>
	      </tr>
		  <tr >
		    <td >Store</td>
		    <td >:</td>
		    <td ><span style="">{{=store_id}}|{{=store_name}}</span></td>
	      </tr>
		  </table>
          
          <table width="900px" style="border:none; text-align:center; font-weight:bold;" >
            <tr >
              <td width="100" >&nbsp;</td>
              <td align="center" ><span style="border-bottom:1px solid #333;">B Sales &amp; Closing Stock Statement </span>
              </td>
              <td width="100" ><img  height="30px" src="{{=URL('static','images/comp_logo1.png')}}"/></td>
            </tr>
          </table>
          <table width="900px" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
	    <thead>    
           
            <tr align="left" class="blackCatHead" height="20px" ;  style="font-size:12px">
		        <td colspan="2" align="left"  style=" border-top:hidden; border-left:hidden" >&nbsp;</td>
		        <td colspan="3" align="center"  style="">Sales</td>
		        <td colspan="4" align="center"  style="">Stock</td>
	          </tr>
		      <tr align="left" class="blackCatHead" height="20px" ;  style="font-size:12px">
		        <td width="80"  align="left" >Item</td>
		        <td width="150"  align="left">ItemName</td>
		        <td width="69"  align="right">TP</td>
		        <td width="69"  align="right">S.Qty after Return</td>
		        <td width="68"  align="right">TP*S.Qty</td>
		        <td width="76" align="right"  style="">Closing stock Qty</td>
		        <td width="44" align="right"  style="">TP</td>
		        <td width="44" align="right"  style="">TP*Closing stock Qty</td>
	          </tr>
          </thead> 
              {{#totalSaleTP=0.00
              totalSaleTP=0.00
              STP_total=0.0
              pastItem=''	
              itemStr=''
              }}
		      {{for i,records_inv in enumerate(records_inv):}}
		       {{item_id =records_inv[db.sm_invoice.item_id]}}
               {{itemStr=itemStr+str(item_id)+'rdrd'}}
                {{
                itemQty=0
                itemS=0
                itemTP=0
                stTP=0
                }}
                {{ if [s for s in itemList if item_id in s]:
                  index_element = itemList.index(item_id)
                      
                  itemQty=itemQtyList[index_element]
                  itemTP=itemTPList[index_element]
                  stTP=stTPList[index_element]

        
                  pass
                }}
		<tbody>      
		      {{ if (i % 2 == 0):}}
              <tr  align="left" style="vertical-align:middle; font-size:12px; background:#F5F5F5;">
              {{pass}}
              <td  style="">{{=records_inv[db.sm_invoice.item_id]}}</td>
              <td  style="">{{=records_inv[db.sm_invoice.item_name]}}</td>
                
				

    <td  align="right">{{=records_inv[db.sm_invoice.actual_tp]}}</td>
    <td  align="right">{{=records_inv[((db.sm_invoice.quantity+db.sm_invoice.bonus_qty)-(db.sm_invoice.return_qty+db.sm_invoice.return_bonus_qty)).sum()]}}</td>
    <td  align="right">{{=records_inv[((db.sm_invoice.quantity+db.sm_invoice.bonus_qty)-(db.sm_invoice.return_qty+db.sm_invoice.return_bonus_qty)).sum()] * records_inv[db.sm_invoice.actual_tp]}}
    {{totalSaleTP=totalSaleTP+records_inv[((db.sm_invoice.quantity+db.sm_invoice.bonus_qty)-(db.sm_invoice.return_qty+db.sm_invoice.return_bonus_qty)).sum()] * records_inv[db.sm_invoice.actual_tp]}}
    </td>
    <td  align="right">
    {{if pastItem!=records_inv[db.sm_invoice.item_id]:}}
    {{=itemQty}}
    {{pass}}</td>
    <td  align="right">
    {{if pastItem!=records_inv[db.sm_invoice.item_id]:}}
     {{=itemTP}}
    {{pass}}</td>
  
    <td  align="right">
    {{if pastItem!=records_inv[db.sm_invoice.item_id]:}}
    {{=stTP}} 
    {{STP_total=STP_total+stTP}}
    {{pass}}
    
    </td>
  </tr>
		      
              {{pastItem=records_inv[db.sm_invoice.item_id]}}
              {{pass}}
	       
           
        <tr  align="left" style="vertical-align:middle; font-size:12px; background:#F5F5F5;">
        <td colspan="8"  ><span style=" color:#600; font-size:12px">*Stock available but not sold within the period</span></td>

      </tr>
        {{for i,recordsStock in enumerate(recordsStock):}}
		       {{item_idCheck =recordsStock[db.sm_item.item_id]}}
               {{if itemStr.find(item_idCheck)==-1:}}
		      
		      {{# if (i % 2 == 0):}}
              <tr  align="left" style="vertical-align:middle; font-size:12px; background:#FBFBFB;">
              {{#pass}}
              <td  style="">{{=recordsStock[db.sm_item.item_id]}}</td>
              <td  style="">{{=recordsStock[db.sm_item.name]}}</td>
                
				

    <td  align="right"></td>
    <td  align="right"></td>
    <td  align="right">
    
    </td>
    <td  align="right">{{=recordsStock[db.sm_depot_stock_balance.quantity.sum()]}}
    </td>
    <td  align="right">{{=recordsStock[db.sm_item.price]}}
    </td>
  
    <td  align="right">{{=recordsStock[(db.sm_depot_stock_balance.quantity).sum()]*recordsStock[db.sm_item.price]}}
    {{STP_total=STP_total+float(recordsStock[(db.sm_depot_stock_balance.quantity).sum()]*recordsStock[db.sm_item.price])}}
    
    </td>
  </tr>
		      {{pass}}
             
              {{pass}}    
           
  </tbody>         

           
           
            <tr style="background-color:#F0FAFF">
              <td  >&nbsp;</td>
              <td align="right">&nbsp;</td>
              <td align="right">&nbsp;</td>
               <td  align="right">&nbsp;</td>
              <td  align="right">{{='{:20,.2f}'.format(totalSaleTP)}}</td>
              <td  align="right">&nbsp;</td>
              <td  align="right">&nbsp;</td>
              <td  align="right">{{#='{:20,.2f}'.format(totalSTP)}}{{='{:20,.2f}'.format(STP_total)}}</td>
            </tr>
          </table>
<span style=" color:#600; font-size:10px">*Items not sold within the period are excluded</span>
</br></br></br>



<table width="900px" >
  <tr>
    <td width="411" align="center">__________________</td>
    <td width="225" align="center">&nbsp;</td>
    <td width="248" align="left">________________________________</td>
  </tr>
  <tr>
    <td width="411" align="center"><strong>Printed By</strong></td>
    <td width="225" align="right">for</td>
    <td width="248" align="left"><strong>{{=session.cName}}</strong></td>
  </tr>
</table>
<p>&nbsp;</p>
</body>

</html>

