{{extend 'layout_sales_report.html'}}

<html>

<head>

<script type="text/javascript">

function print_page()

  {

    window.print()

  }

</script>



</head>

<body>
	
    <table width="546" style="border:none;" >
		  <tr >
		    <td >Date Range</td>
		    <td >&nbsp;</td>
		    <td >{{=date_from}} - {{=date_to}}</td>
	      </tr>
		  <tr >
		    <td width="90" > Depot/Branch</td>
		    <td width="10" >:</td>
		    <td width="424" ><span >{{=depot_id}}|{{=depot_name}}</span></td>
	      </tr>
		  <tr >
		    <td >Store</td>
		    <td >:</td>
		    <td ><span >{{=store_id}}|{{=store_name}}</span></td>
	      </tr>
		  </table>
          
          <table width="900px" style="border:none; text-align:center; font-weight:bold;" >
            <tr >
              <td width="100" >&nbsp;</td>
              <td align="center" ><span style="border-bottom:1px solid #333;">A Sales &amp; Closing Stock Statement </span></td>
              <td width="100" ><img  height="30px" src="{{=URL('static','images/comp_logo1.png')}}"/></td>
            </tr>
          </table>
          
          <table width="900px" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
	   <thead>   
            <tr align="left" class="blackCatHead" height="20px" ;  style="font-size:12px">
		        <td colspan="2" align="left"  style=" border-top:hidden; border-left:hidden" >&nbsp;</td>
		        <td colspan="4" align="center"  >Sales</td>
		        <td colspan="4" align="center"  >Stock</td>
	          </tr>
		      <tr align="left" class="blackCatHead" height="20px" ;  style="font-size:12px">
		        <td width="80"   align="left" >Item</td>
		        <td width="150"   align="left">ItemName</td>
		        <td width="69"   align="right">TP</td>
		        <td width="69"   align="right">S.Qty after Return</td>
		        <td width="68"   align="right">TP*S.Qty</td>
		        <td width="68"   align="right">Notes</td>
		        <td width="76" align="right"  >Closing stock Qty</td>
		        <td width="44" align="right"  >TP</td>
		        <td width="44" align="right"  >TP*Closing stock Qty</td>
	          </tr>
       </thead> 
              
              {{#totalSaleTP=0.00
              totalStockTP=0.00
              	
              }}
		      {{for i,record in enumerate(records):}}
		      
		      
		      
	<tbody>	     
		      
   {{ if (i % 2 == 0):}}
    <tr  align="left" style="vertical-align:middle; font-size:12px; background:#FBFBFB;">
   {{else:}}
   <tr  align="left" style="vertical-align:middle; font-size:12px; background:#F5F5F5;"> 
   {{pass}}
    <td  >{{=record[db.sm_item.item_id]}}</td>
    {{item_id =record[db.sm_item.item_id]}}
    {{
    itemQty=0
    itemS=0
    }}
    {{ if [s for s in itemList if item_id in s]:
      index_element = itemList.index(item_id)
          
      itemQty=itemQtyList[index_element]
      itemS=itemSList[index_element]

      pass
    }}
    {{
    
    item_idF="Item"+str(record[db.sm_item.item_id]+"TP")
   
    tp=''
    Note=''
    item_str_get=''
    if (item_str.find(item_idF)!=-1):
    	item_str_get=item_str.split(item_idF)[1].split("Item")[0] 
        item_strList= item_str_get.split("TP")
        for i in range(len(item_strList)):
            tp=item_strList[i].split("Note")[0]
            Note=item_strList[i].split("Note")[1]
       pass
     pass
    }}
    
    <td  >{{=record[db.sm_item.name]}}</td>
    <td   align="right">{{=tp}}</td>
    <td   align="right">{{=itemQty}}</td>
    <td   align="right">{{='{:20,.2f}'.format(itemS)}} {{#totalSaleTP=float(totalSaleTP)+float(itemS)}}</td>
    <td   align="right">{{=Note}}</td>
    <td   align="right">{{=record[db.sm_depot_stock_balance.quantity.sum()]}}    </td>
    <td   align="right">{{=record[db.sm_item.price]}}</td>
  
    <td   align="right">{{='{:20,.2f}'.format(record[(db.sm_depot_stock_balance.quantity * db.sm_item.price).sum()])}}
    {{totalStockTP=totalStockTP + record[(db.sm_depot_stock_balance.quantity * db.sm_item.price).sum()]}}
    </td>
  </tr>
{{pass}}

</tbody>
              
	       
            <tr style="background-color:#F0FAFF">
              <td  >&nbsp;</td>
              <td align="right">&nbsp;</td>
              <td align="right">&nbsp;</td>
               <td  align="right">&nbsp;</td>
              <td  align="right">{{='{:20,.2f}'.format(totalSaleTP)}}</td>
              <td  align="right">&nbsp;</td>
              <td  align="right">&nbsp;</td>
              <td  align="right">&nbsp;</td>
              <td  align="right">{{='{:20,.2f}'.format(totalStockTP)}}</td>
            </tr>
          </table>

</br></br>



<table width="900px" >
  <tr>
    <td width="411" align="center">__________________</td>
    <td width="225" align="center">&nbsp;</td>
    <td width="248" align="left">________________________________</td>
  </tr>
  <tr>
    <td width="411" align="center"><strong>Printed By</strong></td>
    <td width="225" align="right">for</td>
    <td width="248" align="left"><strong>{{=session.cName}}</strong></td>
  </tr>
</table>
<p>&nbsp;</p>
</body>

</html>

