{{extend 'layout_change_pass.html'}}
<style type="text/css">
.rounded_corner{
background-color:#CCCCCC;
font:Arial, Helvetica, sans-serif;
color:#666666;
font-size:14px;

display: block;
display: block;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}
</style>
<form id="form1" name="form1" method="post" action="{{=URL(c='change_pw',f='password')}}" style="padding: 3px 0px 0px 21px">
<div class="view" id="change_pw" >
   <div class="pages" style="background-color:rgb(5, 21, 45)">
      <div class="panel" id="change_pwView" style="background: rgb(5, 21, 45);">     
        <div  style=" width: 100%; height:auto;background: rgb(5, 21, 45);touch-action: pan-y">
          <table style=" border-style:hidden ;background-color:rgb(5, 21, 45)" width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
            <tr >
              <td colspan='2'  align="center" style="  width:300px; height:auto;"><h2 style=" color:#fff;margin: 10px">Change Password</h2></td>
            </tr>
          </table>
          <table width="100%" height="auto"  border="0" cellspacing="0" cellpadding="0" align="center" class="" style="background-color:rgb(5, 21, 45)" >
            <tr height="100%"  style="vertical-align:top;" >
              <td align="center">
                <div class="formBody"> 
                  <table width="100%" border="0">
                    <tr>
                      <td style="width:97%;font-size:15px;color:#fff">User ID</td>
                      <td width="3%">&nbsp;</td>
                    </tr>
                    <tr>
                      <td style="width:97%">
                        <input name="rep_id" style="width:100%;background: #fff;padding: 9px 6px;border: 1px solid #807b7b;" type="text" id="rep_id"  value="" />   
                      </td>
                      <td width="3%">&nbsp;</td>
                    </tr>
                    <tr>
                      <td style="width:97%;font-size:15px;color:#fff">Old Password</td>
                      <td width="3%">&nbsp;</td>
                    </tr> 
                    <tr>               
                      <td style="width:97%">
                        <input name="old_pass" style="width:100%;background: #fff;padding: 9px 6px;border: 1px solid #807b7b;" type="number" id="old_pass"  value="" />  
                      </td>
                      <td width="3%">&nbsp;</td>         
                    </tr> 
                    <tr>
                      <td style="width:97%;font-size:15px;color:#fff">New Password</td>
                      <td width="3%">&nbsp;</td>
                    </tr>
                    <tr>
                      <td style="width:97%">
                        <input name="new_pass" style="width:100%;background: #fff;padding: 9px 6px;border: 1px solid #807b7b;" type="number" id="new_pass"  value="" />   
                      </td>
                      <td width="3%">&nbsp;</td>
                    </tr>
                    <tr>
                      <td style="width:97%;font-size:15px;color:#fff">Confirm Password</td>
                      <td width="3%">&nbsp;</td>
                    </tr>
                    <tr>
                      <td style="width:97%">
                      <input name="confirm_pass" style="width:100%;background: #fff;padding: 9px 6px;border: 1px solid #807b7b;" type="number" id="confirm_pass"  value="" />   
                      </td>
                      <td width="3%">&nbsp;</td>
                    </tr> 
                   
                    <tr>
                      <td style="width:97%">
                        &nbsp; </td>
                      <td width="3%">&nbsp;</td>
                    </tr>  
                  </table>                 
                </div>                 
              </td>
            </tr>
          </table>
          <div id="btn_id">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center">
                  <input type="submit" id="btn_change_password" name="btn_change_password" style="width:100%; height:50px; background:#807e7e;color: #FFF; font-size:20px;  border: 1px solid #807e7e;" value="     Submit    "   /> 
                </td>
                <td  width="2%"> </td>
              </tr>
            </table>   <br>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="color: red">
                  Please Sync After Change Password
                </td>
              </tr>
            </table>    
          </br>
        </div>
      </br>
    </div>
  </div>
</div> 
</div>
</form>