{{extend 'layout.html'}}

<link rel="stylesheet" href="{{=URL('static', 'js_and_css/ui.theme.css')}}" type="text/css" />
<link rel="stylesheet" href="{{=URL('static', 'js_and_css/jquery-ui.css')}}" type="text/css" />
<link rel="stylesheet" href="{{=URL('static', 'js_and_css/style.css')}}" type="text/css" />
<script src="{{=URL('static','js_and_css/jquery-1.8.2.js')}}"></script>
<script src="{{=URL('static','js_and_css/jquery-ui.js')}}"></script>
  
<style type="text/css">
 
 input[type=text], input[type=password],  select {
    margin: 2px 0px 2px 0px;
	width:150px;
}

div.error {
    margin-left:0px;
	width: 200px;
}

.page_color,body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;	
	}
	
 </style>
 
<script>
var base_url=location.protocol + "//" + location.hostname + (location.port && ":" + location.port) + "/{{=request.application}}/";

$(function() {
	 	var valueListStr="";		
		$('#tx_account_value').keyup(function(){
			/*$.ajax({
				  url: base_url+'default/get_depot_list',
				  success: function(resStr) {
					  valueListStr=resStr
				  }
				});*/
			
			//-------------------------
			
			var valueList ="{{=fromClientStr}}".split(',');
			
			var searchValue=$("#tx_account_value").val();
			
			//---------------- auto complete combo list
			var valueList_new=new Array();
			lc=0;
			i =0;
			var valueStr="";				
			while (i < valueList.length)
			{
				valueStr=valueList[i];
				i=i+1;					
				var res=valueStr.toUpperCase().match(searchValue.toUpperCase());
				if (res!=null){
					valueList_new[lc]=valueStr;
					lc=lc+1;
					if (lc==30){
						break;
					};
				}else{
					continue;
				}					
			};
			//alert (ref_list_new);
			
			//-------------- auto complete source
			$( "input#tx_account_value" ).autocomplete({
				source: valueList_new
			});
		
	  }); 
	   //==============
}); 
</script>


 
<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;" >
  <tr height="30px" >
    <td width="500"><span class="blackCatTitle">Client Opening - Balance settings</span></td>
    
	<form action="{{=URL(c='utility',f='settings_home')}}" method="post">
	<td width="415" align="right"><!--<input name="" type="submit"  value="Back"/>--></td>
	</form>
    <td>&nbsp;</td>
  </tr>
  <tr  height="1px" style="background-color:#CCCCCC;">
	    <td colspan="3" ></td>
  </tr>
  </table>
  
  
  <table width="100%" height="500px"  border="0" cellspacing="0" cellpadding="0" class="page_color"  >
  <tr height="100%"  style="vertical-align:top;">
    <td>
	<table width="100%"  border="0" cellpadding="0" cellspacing="0"  >
      <tr>
        <td width="10">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="10">&nbsp;</td>
        <td>
		
		{{if access_permission==True:}} 
			<table width="495">
				<tr>
					<td width="485" align="left" valign="top">
			  <table width="400" class="blackCat">
			  {{=form.custom.begin}}
				  <tr>
					<td width="130">Depot</td>
					<td>
					
					{{if session.user_type=='Depot':}}
						<input type="text" name="opposite_account" id="opposite_account" value="{{=toDepot}}" style="background-color:#F4F4F4" readonly="True"/>
					{{else:}}
						{{=form.custom.widget.opposite_account}}
					{{pass}}					</td>
				  </tr>
				  <tr>
				    <td>&nbsp;</td>
				    <td><select name="clientDrCr"  id="depot2DrCr">
                      <option value=""  title=""></option>
                      <option value="Cr"  title="Client already payment to depot">will pay to (Dr)</option>
                      <option value="Dr" title="Client already received from depot">will get from (Cr)</option>
                    </select></td>
				    </tr>
				  <tr>
					<td>Client</td>
					<td>{{=form.custom.widget.tx_account}}</td>
					</tr>
				  
				  <tr>
					<td>Date</td>
					<td>
					{{#=search_form.custom.widget.from_dt}}
					<input name="" type="Text" id="" value="{{=str(date_fixed)[0:10]}}" style="background-color:#F2F2F2"  readonly="true"  /></td>
					</tr>
				  <tr>
				    <td>Amount</td>
				    <td>{{=form.custom.widget.tx_amount}}</td>
				    </tr>
				  <tr>
				    <td>&nbsp;</td>
				    <td>{{=form.custom.submit}}</td>
				    </tr>
					{{=form.custom.end}}
				</table>
                </td>
				</tr>
			</table>
         {{pass}} 
		 
		 <br />
         <table width="900" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
		     
		   <form id="form1" name="form1" method="post" action="{{=URL(c='utility',f='client_opening_balance')}}">
            <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">
              <td width="300" >
                
                {{if session.tx_account_value_cop=='' or session.tx_account_value_cop==None:}}
                	<input  name="tx_account_value" type="text" id="tx_account_value" style="width:300px" value="" placeholder="Select Client" autocomplete="off"/>
                {{else:}}
                	<input  name="tx_account_value" type="text" id="tx_account_value" style="width:300px" value="{{=session.tx_account_value_cop}}" placeholder="Select Client" autocomplete="off"/>
                {{pass}}
                                
              </td>
              <td align="left" ><input type="submit" name="btn_filter" id="btn_filter" value="Filter"   class="button_update"/>	  
			  <input type="submit" name="btn_filter_all" id="btn_filter_all" value="ALL"   class="button_update"/>  </td>
				
              <td width="100" align="right" >
			  <a href="{{=URL(c='utility',f='download_client_opening')}}">
			  <input type="button" name="Input" id="Input" value="Download"   class="button_update"/>
			  </a>			  </td>
              <td width="110" align="right" >
			  <a href="{{=URL(c='utility',f='client_opening_batch_upload')}}">
                <input type="button" name="Input2" id="Input2" value="Batch Upload"   class="button_update"/>
              </a>
			  </td>
            </tr>
		      </form>
          </table>
		 <br />		 
			 <table width="900" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
                <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">
                  <td width="150" >ID</td>
                  <td width="100" >Depot</td>
                  <td >Balance Type</td>
                  <td width="100" > Client</td>
                  <td width="100" align="center"  ><p>Amount</p>                  </td>
                  <td width="50" align="center"  >Dr/Cr</td>
                  <td width="100" align="center"  >Date</td>
                  <td width="20" align="center"  >&nbsp;</td>
                  <!--<td width="30"  ></td>-->
                </tr>
			    {{ p=0}} 		  
			    {{for i,record in enumerate(records):}}
			    {{ if i==items_per_page: break}}
    {{ p=p%2 }}    
    <tr  align="left" class="blackCat"  style="vertical-align:middle; font-size:11px;">
      <td width="150" >{{=record.txid}}</td> 
      <td width="100" >{{=record.tx_account}}</td>
      <td >{{=record.tx_des}}</td>
      <td width="100" >{{=record.opposite_account}}</td>
      <td width="100" align="right"  >{{txAmount=record.tx_amount}} {{if (txAmount < 0):}}{{=float(txAmount)*(-1)}}{{else:}}{{=txAmount}}{{pass}}</td>
      <td width="50" align="center"  >{{if txAmount<0:}} Cr{{elif txAmount>0:}}Dr{{pass}}</td>
      <td width="100" align="center"  >{{=str(record.tx_date)[0:10]}}</td>
	  <form id="form1" name="form1" method="post" action="{{=URL(c='utility',f='preview_client_opening',vars=dict(tx_account=record.tx_account,opposite_account=record.opposite_account))}}" target="_blank">
      <td width="20" align="center"  ><input type="submit" name="btn_preview" id="btn_preview" value="&gt;&gt;"  class="button_update" title="Preview"/></td>
	  </form>
    </tr>

			    {{ p=p+1 }} 
			    {{pass}}
		    </table>
			  <p>&nbsp;</p>
	      </td></tr>
    </table>
    
{{if page:}}
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{=URL(args=[page-page])}}">first</a> |  
&nbsp;&nbsp;<a href="{{=URL(args=[page-1])}}">previous</a> |
{{pass}}

{{if len(records)>items_per_page:}}
&nbsp;&nbsp;<a href="{{=URL(args=[page+1])}}">next</a>
{{pass}}
	</td>
  </tr>
</table>

