{{extend 'layout_login.html'}}
<style type="text/css">
.rounded_corner{
background-color:#CCCCCC;
font:Arial, Helvetica, sans-serif;
color:#666666;
font-size:14px;

display: block;
display: block;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}
</style>

<table width="900" height="520" border="0"  cellpadding="0" cellspacing="0" >
  <tr>
    <td width="299" rowspan="3" align="center" valign="middle">&nbsp;</td>
    <td width="401" height="116" align="center" valign="middle">&nbsp;  </td>
    <td width="200" rowspan="3" align="center" valign="middle">&nbsp;</td>
  </tr>
  <tr>
    <td height="132" align="center" valign="middle">
	<table width="350" align="left" cellpadding="2" class="rounded_corner" style="background-color:#CCCCCC">
  
  <form  name="form1" action="{{=URL(c='utility',f='password')}}" method="post"  >
    
    <tr >
      <td width="10" align="left" >&nbsp;</td>
      <td align="left" >&nbsp;</td>
      <td align="left" >&nbsp;</td>
      <td align="left" >&nbsp;</td>
    </tr>
    <tr >
      <td width="10" align="left" >&nbsp;</td>
      <td align="left" >CID</td>
      <td align="left" ><input  type="text" name="c_id" id="c_id" size="15" /></td>
      <td align="left" >&nbsp;</td>
    </tr>
    <tr >
      <td width="10" align="left" >&nbsp;</td>
      <td align="left" >User ID </td>
      <td align="left" ><input  type="text" name="user_id" id="user_id" size="15" /></td>
      <td align="left" >&nbsp;</td>
    </tr>
    <tr >
      <td width="10" align="left" >&nbsp;</td>
      <td align="left" >Old Password</td>
      <td align="left" ><input  type="password" name="old_pass" id="old_password" size="15" /></td>
      <td align="left" >&nbsp;</td>
    </tr>
    <tr >
      <td width="10" align="left" >&nbsp;</td>
      <td align="left" >New Password </td>
      <td align="left" ><input  type="password" name="new_pass" id="new_password" size="15" /></td>
      <td align="left" >&nbsp;</td>
    </tr>
    <tr >
      <td width="10" align="left" >&nbsp;</td>
      <td align="left" >Confirm Password </td>
      <td align="left" ><input  type="password" name="confirm_pass" id="confirm_password" size="15" /></td>
      <td align="left" >&nbsp;</td>
    </tr>
    
    <tr>
      <td width="10" align="center" >&nbsp;</td>
      <td align="center" >&nbsp;</td>
      <td align="center" ><div align="left">
        &nbsp;<input type="submit" name="btn_change_password" id="btn_change_password" value="Submit" />
      </div></td>
      <td align="center" >&nbsp;</td>
    </tr>
    <tr>
      <td align="center" >&nbsp;</td>
      <td align="center" >&nbsp;</td>
      <td align="center" >&nbsp;</td>
      <td align="center" >&nbsp;</td>
    </tr>
	</form>
</table>
	</td>
  </tr>
  <tr>
    <td height="264" align="center" valign="middle">&nbsp;</td>
  </tr>
</table>
