{{extend 'layout.html'}}

<style type="text/css">

.rounded_corner{

background-color:#CCCCCC;

font:Arial, Helvetica, sans-serif;

color:#666666;

font-size:14px;



display: block;

display: block;

-moz-border-radius: 10px;

-webkit-border-radius: 10px;

}

</style>

<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;" >

  <tr height="30px" >

    <td width="400"><span class="blackCatTitle">Utility</span></td>

      <td width="400" align="right">&nbsp;</td>
   
    <td>&nbsp;</td>

  </tr>

  <tr  height="1px" style="background-color:#CCCCCC;">

    <td colspan="3" ></td>

  </tr>

</table>

<table width="787" border="0"  cellpadding="0" cellspacing="0" >

  {{#levelUpRows=db((db.sm_settings.cid==session.cid) & (db.sm_settings.s_key=='LEVEL_BATCH_UPLOAD')& (db.sm_settings.s_value=='YES')).select(db.sm_settings.s_value,limitby=(0,1))}}

  {{#if levelUpRows:}}
  <tr>
    <td width="5" rowspan="5" align="center" valign="middle">&nbsp;</td>
    <td height="22" align="center" valign="middle">&nbsp;</td>
  </tr>
  <tr>
    <td height="22" align="center" valign="middle">
      
      <table width="600px" align="left" cellpadding="2"  style="background-color:#EEEEEE">
       
        <form action="{{=URL(c='utility_mrep',f='set_product_list')}}" method="post"  name="form1" id="form2"  >
          <tr style="background-color:#DBDBDB" >
            <td align="left" >&nbsp;</td>
            <td align="left" >Item List Ready for Mobile Sync</td>
            <td width="11" align="left" >&nbsp;</td>
          </tr>
          <tr >
            <td align="left" >&nbsp;</td>
            <td width="320" align="left" >&nbsp;</td>
            <td align="left" >&nbsp;</td>
          </tr>
          <tr >
            <td width="13" align="left" >&nbsp;</td>
            <td align="left" >&nbsp;
            <input style="width:500px; height:50px" type="submit" name="btn_item_sync" id="btn_item_sync" value=" Prepare" /></td>
            <td align="left" >&nbsp;</td>
          </tr>
          <tr>
            <td align="center" >&nbsp;</td>
            <td align="left" >&nbsp;</td>
            <td align="center" >&nbsp;</td>
          </tr>
          <tr>
            <td align="center" >&nbsp;</td>
            <td align="left" >&nbsp;</td>
            <td align="center" >&nbsp;</td>
          </tr>
        </form>
        
        
      </table>
          
    </td>
  </tr>
  {{#pass}}
  
  <tr>
    <td height="22" align="center" valign="middle">
      
      <table width="600px" align="left" cellpadding="2"  style="background-color:#EEEEEE">
       
        <form action="{{=URL(c='utility_mrep',f='branch_data_clean_request')}}" method="post"  name="form1" id="form2"  >
          <tr style="background-color:#DBDBDB" >
            <td align="left" >&nbsp;</td>
            <td colspan="2" align="left" title="Data clean: Requisition,Issue,Receive,Damage,Dispute,Invoice,Return,Payment and Ledger; Data update: Order and stock">Clean Branch Data</td>
            <td width="11" align="left" >&nbsp;</td>
          </tr>
          <tr >
            <td width="13" align="left" >&nbsp;</td>
            <td width="100" align="left" >Branch ID</td>
            <td align="left" ><input  type="text" name="clean_branch_id" id="clean_branch_id" size="15" placeholder="Branch ID" autocomplete="off"/></td>
            <td align="left" >&nbsp;</td>
          </tr>
          <tr>
            <td align="center" >&nbsp;</td>
            <td width="100" align="left" >Password</td>
            <td align="left" ><input  type="password" name="clean_password" id="clean_password" size="15"  placeholder="Password" autocomplete="off"/></td>
            <td align="center" >&nbsp;</td>
          </tr>
          <tr>
            <td align="center" >&nbsp;</td>
            <td align="left" >Confirm</td>
            <td align="left" ><input type="checkbox" name="clean_checkbox" value="YES" /></td>
            <td align="center" >&nbsp;</td>
          </tr>
          <tr>
            <td align="center" >&nbsp;</td>
            <td width="100" align="left" >&nbsp;</td>
            <td align="left" ><input style="" type="submit" name="btn_clean_branch_data" id="btn_clean_branch_data" value="Clean Data" /></td>
            <td align="center" >&nbsp;</td>
          </tr>
          <tr>
            <td align="center" >&nbsp;</td>
            <td width="100" align="left" >&nbsp;</td>
            <td align="left" >&nbsp;</td>
            <td align="center" >&nbsp;</td>
          </tr>
        </form>       
        
      </table>
          
    </td>
  </tr>
  
  <tr>

    <td width="782" height="22" align="center" valign="middle">&nbsp;</td>

  </tr>

  <tr>

    <td height="132" align="left" valign="top">

	<!--<table width="600px" align="left" cellpadding="2"  style="background-color:#EEEEEE">

  

  

  <form  name="form1" action="{{=URL(c='utility_mrep',f='level_transfer')}}" method="post"  >

    

    <tr style="background-color:#DBDBDB" >

      <td colspan="3" align="left" ><strong>Transfer Working Area / Level </strong></td>

      <td align="left" >&nbsp;</td>

    </tr>

    <tr >

      <td width="13" align="left" >&nbsp;</td>

      <td colspan="2" align="left" style="color:#990000" >

	  

	  Warning

	  <ul >

	  <li>Transfer can be made in same Level only </li>

	  <li>Once Transfered it can not be undone </li>

	  <li>To reflect the new area structure please sync Static data in i-Report

        module</li>

	  </ul>	 </td>

      <td width="11" align="left" >&nbsp;</td>

    </tr>

    <tr >

      <td align="left" >&nbsp;</td>

      <td width="150" align="left" >&nbsp;</td>

      <td width="320" align="left" >&nbsp;</td>

      <td align="left" >&nbsp;</td>

    </tr>

    <tr >

      <td width="13" align="left" >&nbsp;</td>

      <td align="left" >Transfer this Level ID </td>

      <td align="left" ><input  type="text" name="level_id" id="level_id" size="15" /></td>

      <td align="left" >&nbsp;</td>

    </tr>

    <tr >

      <td width="13" align="left" >&nbsp;</td>

      <td align="left" >Under new Parent Level ID</td>

      <td align="left" ><input  type="text" name="under_level_id" id="under_level_id" size="15" /></td>

      <td align="left" >&nbsp;</td>

    </tr>

    

    <tr>

      <td align="center" >&nbsp;</td>

      <td align="left" >Confirm</td>

      <td align="left" >

        <input type="checkbox" name="checkbox" value="checkbox" />      </td>

      <td align="center" >&nbsp;</td>

    </tr>

    <tr>

      <td align="center" >&nbsp;</td>

      <td align="center" >&nbsp;</td>

      <td align="center" >&nbsp;</td>

      <td align="center" >&nbsp;</td>

    </tr>

    <tr>

      <td width="13" align="center" >&nbsp;</td>

      <td align="center" >&nbsp;</td>

      <td align="center" ><div align="left">

        &nbsp;<input type="submit" name="btn_transfer" id="btn_transfer" value="Submit Transfer" />

      </div></td>

      <td align="center" >&nbsp;</td>

    </tr>

    <tr>

      <td align="center" >&nbsp;</td>

      <td align="center" >&nbsp;</td>

      <td align="center" >&nbsp;</td>

      <td align="center" >&nbsp;</td>

    </tr>

	</form>

</table>-->	</td>

  </tr>

  

  

  

  <tr>

    <td height="31" align="center" valign="middle">&nbsp;</td>

  </tr>

  

  

  {{if (depot_transfer=='YES'):}} 

  <tr>

    <td align="center" valign="middle">&nbsp;</td>

    <td height="264" align="left" valign="top">

	<table width="600px" align="left" cellpadding="2"  style="background-color:#EEEEEE">

      <form action="{{#=URL(c='utility_mrep',f='depot_transfer')}}" method="post"  name="form1" id="form1"  >

        <tr style="background-color:#DBDBDB" >

          <td align="left" >&nbsp;</td>

          <td colspan="2" align="left" >Transfer Depot </td>

          <td align="left" >&nbsp;</td>

        </tr>

        <tr >

          <td width="13" align="left" >&nbsp;</td>

          <td colspan="2" align="left" style="color:#990000" > Warning

            <ul >

                <li>First Create a Depot same catagory </li>

                <li>Once Transfered it can not be undone </li>

              </ul></td>

          <td width="11" align="left" >&nbsp;</td>

        </tr>

        <tr >

          <td align="left" >&nbsp;</td>

          <td width="150" align="left" >&nbsp;</td>

          <td width="320" align="left" >&nbsp;</td>

          <td align="left" >&nbsp;</td>

        </tr>

        <tr >

          <td width="13" align="left" >&nbsp;</td>

          <td align="left" >Transfer this Depot ID </td>

          <td align="left" ><input  type="text" name="depot_id" id="depot_id" size="15" /></td>

          <td align="left" >&nbsp;</td>

        </tr>

        <tr >

          <td width="13" align="left" >&nbsp;</td>

          <td align="left" >To this Depot ID</td>

          <td align="left" ><input  type="text" name="transfer_with_depot_id" id="transfer_with_depot_id" size="15" /></td>

          <td align="left" >&nbsp;</td>

        </tr>

        <tr>

          <td align="center" >&nbsp;</td>

          <td align="left" >Confirm</td>

          <td align="left" ><input type="checkbox" name="checkbox" value="checkbox" />

          </td>

          <td align="center" >&nbsp;</td>

        </tr>

        <tr>

          <td align="center" >&nbsp;</td>

          <td align="center" >&nbsp;</td>

          <td align="center" >&nbsp;</td>

          <td align="center" >&nbsp;</td>

        </tr>

        <tr>

          <td width="13" align="center" >&nbsp;</td>

          <td align="center" >&nbsp;</td>

          <td align="center" ><div align="left"> &nbsp;

                <input type="submit" name="btn_transfer_depot" id="btn_transfer_depot" value="Submit Transfer" />

          </div></td>

          <td align="center" >&nbsp;</td>

        </tr>

        <tr>

          <td align="center" >&nbsp;</td>

          <td align="center" >&nbsp;</td>

          <td align="center" >&nbsp;</td>

          <td align="center" >&nbsp;</td>

        </tr>

      </form>

    </table>

	</td>

  </tr>

  

  {{pass}}

  

  

  <tr>

    <td height="24" align="center" valign="middle">&nbsp;</td>

    <td align="center" valign="middle">&nbsp;</td>

  </tr>

  

  {{smsResubmitRows=db((db.sm_settings.cid==session.cid) & (db.sm_settings.s_key=='SMS_RESUBMIT')& (db.sm_settings.s_value=='YES')).select(db.sm_settings.s_value,limitby=(0,1))}}

  {{if smsResubmitRows:}}

  <tr>

    <td height="70" align="center" valign="middle">&nbsp;</td>

    <td align="left" valign="top">

    	<table width="600px" align="left" cellpadding="2"  style="background-color:#EEEEEE">      

            <form action="{{#=URL(c='utility_mrep',f='sms_resubmit')}}" method="post"  name="form1" id="form1"  >

            <tr style="background-color:#DBDBDB" >

              <td width="25" align="left" >&nbsp;</td>

              <td align="left" >SMS Re-Submit</td>

              <td width="180" align="left" >

               

              

              </td>

              <td width="90" align="right" ><input type="submit" name="Input" id="Input" value=" &gt;&gt; " /></td>

              <td width="11" align="left" >&nbsp;</td>

            </tr>

            </form>

        </table>

    </td>

  </tr>

  {{pass}}

  
 
  <tr>
    <td align="center" valign="middle">&nbsp;</td>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  
  <!--<tr>
    <td align="center" valign="middle">&nbsp;</td>
    <td height="77" align="left" valign="top">
        <table width="600px" align="left" cellpadding="2"  style="background-color:#EEEEEE">

          <form action="{{#=URL(c='utility_mrep',f='utility_settings')}}" method="post"  name="form1" id="form1"  >

            <tr style="background-color:#DBDBDB" >

              <td align="left" >&nbsp;</td>

              <td colspan="2" align="left" >Show Last ID</td>

              <td width="11" align="left" >&nbsp;</td>

            </tr>

            <tr >

              <td align="left" >&nbsp;</td>

              <td width="50" align="left" >&nbsp;</td>

              <td width="320" align="left" >&nbsp;</td>

              <td align="left" >&nbsp;</td>

            </tr>

            <tr >

              <td width="13" align="left" >&nbsp;</td>

              <td width="50" align="left" >Type</td>

              <td align="left" >

                <select name="showLastIDType" id="showLastIDType" style="width:150px" >			  	

                    <option value="">Select</option>

                    {{if showLastIDType=='REP':}}<option value="REP" selected="selected">REP</option>{{else:}}<option value="REP">REP</option>{{pass}}

                    {{if showLastIDType=='SUPERVISOR':}}<option value="SUPERVISOR" selected="selected">Supervisor</option>{{else:}}<option value="SUPERVISOR">Supervisor</option>{{pass}}

                    {{if showLastIDType=='RETAILER':}}<option value="RETAILER" selected="selected">Client/Retailer</option>{{else:}}<option value="RETAILER">Client/Retailer</option>{{pass}}

                    {{if showLastIDType=='DOCTOR':}}<option value="DOCTOR" selected="selected">Doctor</option>{{else:}}<option value="DOCTOR">Doctor</option>{{pass}}

                    

                </select>

                &nbsp;

    <input type="submit" name="btn_show_lastID" id="btn_show_lastID" value=" Show " />

              </td>

              <td align="left" >&nbsp;</td>

            </tr>

            <tr>

              <td align="center" >&nbsp;</td>

              <td width="50" align="left" >Last ID</td>

              <td align="left" >: {{=showLastID}}</td>

              <td align="center" >&nbsp;</td>

            </tr>

            <tr>

              <td align="center" >&nbsp;</td>

              <td width="50" align="center" >&nbsp;</td>

              <td align="left" >&nbsp;</td>

              <td align="center" >&nbsp;</td>

            </tr>

          </form>

        </table>

    

    </td>

  </tr>-->

   





</table>

<br />

<br />

<br />

<br />







