{{extend 'layout_report.html'}}
<html>
<head>

<link rel="stylesheet" href="{{=URL('static', 'jchart/styles/jchartfx.css')}}" type="text/css" />
<script src="{{=URL('static','jchart/js/jchartfx.system.js')}}"></script>
<script src="{{=URL('static','jchart/js/jchartfx.coreVector.js')}}"></script>
<script src="{{=URL('static','jchart/js/jchartfx.advanced.js')}}"></script>

<style type="text/css">
.jchartfx .Title {
     font-size:12pt;
     font-weight: bold;
	 color:#000000;
}

input[type=submit] {
    margin: 2px 0px 2px 0px;
	padding: 0px 0px 2px 0px;
	width:250px;
}
input[type=text] {
	width:120px;
}

.checkbox{
padding-left:0px;
}
.multiselect{ 
		text-align:left;
		height:28px;
}

</style>


<script type="text/javascript" language="javascript">   
	var chart2;
    function loadChart()
      {
		//------------------------
		chart2 = new cfx.Chart();
		chart2.getData().setSeries(1);
		
		chart2.setGallery(cfx.Gallery.Pie);
		
		var dataPtype= new Array();
		dataPtype=eval($('#chartDataSummary').val());
		
		chart2.setDataSource(dataPtype);
		chart2.getAllSeries().getPointLabels().setVisible(true);
		chart2.getLegendBox().setVisible(true);
		
		var divHolder2 = document.getElementById('ChartDivSummary');
		chart2.create(divHolder2); 
		//---------------------------------------------------------
		
	}
</script>

<script>
 $(function() {
	$("#ChartDivSummary").empty();		
	 loadChart();
  });
  </script>

</head>

<body id="htmlbody">
<input type="hidden" value="{{=recordList}}" id="chartDataSummary"/>

<div class="blackCatTitle">&nbsp;Monthly Visit Count</div>
<br/>
<table width="700px" cellspacing="1" cellpadding="1">
	<tr>
		<td>
			<table width="900" class="sample_border" >
                <tr style="background-color:#E6E6E6;">
                  <td width="100" >Year-Month</td>
                  <td >Zone</td>
                  <td width="150" >&nbsp;</td>
                </tr>
                <tr style="background-color:#F0FAFF">
                    <td width="100" valign="top" >{{=str(year)}}-{{=str(monthName)}}</td>
                    <td>{{if regionValueShow=='':}}
                        All
                    {{else:}}
                        {{if str(regionValueShow)[:3]=='all':}}
                            {{=str(regionValueShow)[4:]}} 
                        {{else:}} 
                            {{=str(regionValueShow)}} 
                        {{pass}}
                    {{pass}} </td>
                    <td width="150">&nbsp;</td>
                </tr>
		  </table>
	  </td>
	</tr>
	<tr height="10px"></tr>
	<tr>
		<td>
			<table width="900" border="1" cellpadding="1" cellspacing="1" class="sample_border" >                
                <tr align="left" class="blackCatHead" height="20px" ;  style="font-size:12px">
                  <td width="280"  >Type</td>
                  <td width="100"  >Count</td>
                  </tr>
                  
                 <tr  align="left" class="blackCat"  style="vertical-align:middle; font-size:11px;">
                    <td width="280" >Unscheduled Visit</td>
                    <td width="100" >{{=unscheduleCount}}</td>
                 </tr>
                 
              </table>
		  
		</td>
			
	</tr>
</table>
<br/>

<br/>
<div id="ChartDivSummary" style="width:900px;height:450px;"></div>
<br>

</body>
</html>
