{{extend 'layout_report.html'}}
<html>
<head>
<script type="text/javascript">
function print_page()
  {
    window.print()
  }
</script>


<link rel="stylesheet" href="{{=URL('static', 'jchart/styles/jchartfx.css')}}" type="text/css" />
<script src="{{=URL('static','jchart/js/jchartfx.system.js')}}"></script>
<script src="{{=URL('static','jchart/js/jchartfx.coreVector.js')}}"></script>
<script src="{{=URL('static','jchart/js/jchartfx.advanced.js')}}"></script>

<style type="text/css">
.jchartfx .Title {
     font-size:12pt;
     font-weight: bold;
	 color:#000000;
}

input[type=submit] {
    margin: 2px 0px 2px 0px;
	padding: 0px 0px 2px 0px;
	width:250px;
}
input[type=text] {
	width:120px;
}

.checkbox{
padding-left:0px;
}
.multiselect{ 
		text-align:left;
		height:28px;
}


</style>


</head>

<body id="htmlbody">



<div class="blackCatTitle">&nbsp;Prescription Survey Summary</div>
<br/>


<table width="900px;"> <tr><td style="text-align:right"><a href="{{=URL(c='analysis',f='prescription_survey_summary_download',vars=dict(fromDate=fromDate,toDate=toDate,regionValue=regionValueShow,tlValue=tlValue))}}" >Downlaod</a></td></tr></table>

<table width="700px" cellspacing="1" cellpadding="1">
	<tr>
		<td>
			<table width="900" class="sample_border" >
                <tr style="background-color:#E6E6E6;">
                  <td width="200" >Date Range</td>
                  <td >Region</td>
                  <td >TL</td>
                </tr>
                <tr style="background-color:#F0FAFF">
                  <td width="200" align="left" valign="top">{{=datetime.datetime.strptime(fromDate,'%Y-%m-%d').strftime('%d-%m-%Y ')}} <b> To</b> {{=datetime.datetime.strptime(toDate,'%Y-%m-%d').strftime('%d-%m-%Y ')}}</td>
                    <td align="left" valign="top">{{if regionValueShow=='':}}
                        All
                    {{else:}}
                    {{=regionValueShow}}{{pass}}</td>
                    <td align="left" valign="top">{{if tlValue=='':}}
                        All
                    {{else:}}
                    {{=tlValue}}{{pass}}</td>
                </tr>
		  </table>
	  </td>
	</tr>
	<tr height="10px"></tr>
	<tr>
		<td>
			<table width="900" border="1" cellpadding="1" cellspacing="1" class="sample_border" >                
                <tr align="left" class="blackCatHead" height="20px" ;  style="font-size:12px">
                  <td width="120"  style="border-right-width:3px;">Region</td>
                  <td width="120"  style="border-right-width:3px;">Tl</td>
                  <td width="120"  style="border-right-width:3px;">Territory</td>
                  <td width="120"  style="border-right-width:3px;">SubmittedbyID</td>
                  <td  style="border-right-width:3px;">Name</td>
                  <td width="100" align="right"  >Prescription</td>
                  </tr>
                
                {{total=0}}
                {{for i in range(len(presRecordShowList)):}}
                	{{recDate=presRecordShowList[i]}}
                
                  <tr  align="left" class="blackCat"  style="vertical-align:middle; font-size:11px;">
                    <td width="100" style="border-right-width:3px;">{{=recDate['reg_id']}}-{{=recDate['reg_name']}}</td>
                    <td width="100" style="border-right-width:3px;">{{=recDate['tl_id']}}-{{=recDate['tl_name']}}</td>
                    <td width="100" style="border-right-width:3px;">{{=recDate['area_id']}}-{{=recDate['area_name']}}</td>
                    <td width="100" style="border-right-width:3px;">{{=recDate['SubmitedByID']}}</td>
                    <td style="border-right-width:3px;">{{=recDate['SubmitedByName']}}</td>
                    <td width="100" align="right" ><span style="border-right-width:3px;">{{=recDate['Prescription']}}</span>{{total+=recDate['Prescription']}}</td>
                  </tr>
                {{pass}}
               
               <tr  align="left" class="blackCat"  style="vertical-align:middle; font-size:11px;">
                 <td width="100" style="border-right-width:3px;">&nbsp;</td>
                 <td width="100" style="border-right-width:3px;">&nbsp;</td>
                 <td width="100" style="border-right-width:3px;">&nbsp;</td>
                <td width="100" style="border-right-width:3px;"><strong>Total</strong></td>
                <td style="border-right-width:3px;">&nbsp;</td>
                <td width="100" align="right" ><strong><span style="border-right-width:3px;">{{=total}}</span></strong></td>
              </tr>
                
              </table>
		  
		</td>
			
	</tr>
</table>
<br/>
<!--<div id="ChartDivRegionSummary" style="width:900px;height:450px;"></div>-->
{{#=len(presRecordShowList)}}</br>
{{#=items_per_page}}
{{#=URL(args=[page-page],vars=dict(fromDate=fromDate,toDate=toDate,regionValue=regionValueShow,tlValue=tlValue))}}
<!--{{ if page: }}
<a href="{{=URL(args=[page-page],vars=dict(fromDate=fromDate,toDate=toDate,regionValue=regionValueShow,tlValue=tlValue))}}">first</a> | 
<a href="{{=URL(args=[page-1],vars=dict(fromDate=fromDate,toDate=toDate,regionValue=regionValueShow,tlValue=tlValue))}}">previous</a> |
{{pass}}

{{if len(presRecordShowList)>items_per_page:}}
<a href="{{=URL(args=[page+1],vars=dict(fromDate=fromDate,toDate=toDate,regionValue=regionValueShow,tlValue=tlValue))}}">next</a>
{{pass}}-->
<br/>
</body>
</html>
