{{extend 'layout_report.html'}}
<html>
    <head>
    </head>
    <body>    
    <div class="blackCatTitle">&nbsp;Productivity</div>       
    <!--<table width="900px;"> <tr><td style="text-align:right"><a href="{{=URL(c='',f='',vars=dict())}}" >Downlaod</a></td></tr></table>
    -->
    <table width="900" class="sample_border" >
        <tr style="background-color:#E6E6E6;">
            <td width="150" >Date Range</td>
            <td width="100" >{{=session.level0Name}}</td>
            <td width="100" >{{=session.level1Name}}</td>
            <td width="150" >Visit By</td>
        </tr>
        <tr style="background-color:#F0FAFF">
            <td width="150" >							
            {{=datetime.datetime.strptime(fromDate,'%Y-%m-%d').strftime('%d-%m-%Y ')}} <b> To</b> {{=datetime.datetime.strptime(toDate,'%Y-%m-%d').strftime('%d-%m-%Y ')}}</td>
            <td width="100" align="left" valign="top">{{if regionValue=='':}}
            All
            {{else:}}
            {{=regionValueShow}}{{pass}}</td>
            <td width="100" align="left" valign="top">{{if areaValue=='':}}
            All
            {{else:}}
            {{=areaValueShow}}{{pass}}</td>
            <td width="150" align="left" valign="top">{{if repCM=='':}}
            All
            {{else:}}
            {{=repCM}}{{pass}}
            </td>
        </tr>
    </table>		
    <br/>
    {{if len(records)==0:}}
    	Data not available
    {{else:}}    
        <table width="900" style="margin-bottom:10px;" >            
            <tr>
                <td width="450" >  
                  <table style="background-color:#603CBA; color:#FFF; width:100%; border-radius:5px;">
                    	<tr style="border-bottom:1px solid #FFF;">
                        	<td colspan="2"><h3>Actual Calls <span style=" float:right;">{{=total_scheduled_client}}</span></h3></td>     
                    </tr>
                        <tr >
                        	<td style="text-align:center;border-right:1px solid #FFF; width:50%;">
                            	Planned<br/><h3>{{=actual_client_call_scheduled}}</h3>
                          </td>
                            <td style="text-align:center;border-left:1px solid #FFF; width:50%;">
                            	Unplanned<br/><h3>{{=actual_client_call_unscheduled}}</h3>
                          </td>                            
                        </tr>
                    </table>                    
              </td>
                <td width="450" >
                	<table style="background-color:#00A300; color:#FFF; width:100%; border-radius:5px;">
                    	<tr style="border-bottom:1px solid #FFF;">
                        	<td colspan="2"><h3>Productive Actual Calls <span style=" float:right;">0</span></h3></td>     
                        </tr>
                        <tr >
                        	<td style="text-align:center;border-right:1px solid #FFF; width:50%;">
                            	Planned<br/><h3>0</h3>
                            </td>
                            <td style="text-align:center;border-left:1px solid #FFF; width:50%;">
                            	Unplanned<br/><h3>0</h3>
                            </td>                            
                        </tr>
                    </table>                    
              </td>                                              
            </tr>             
        </table>			
        
        <table width="900" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
            <tr align="left" class="blackCatHead" height="20px" ;  style="font-size:12px; background-color:#E9E9E9;">
                <td width="100" rowspan="2" align="left"  >Zone</td>
                <td width="100" rowspan="2" align="left"  >Region</td>
                <td width="100" rowspan="2" align="left"  >Area</td>
                <td width="100" rowspan="2" align="left"  >Rep</td>
                <td colspan="2" align="center" >Actual Calls </td>
                <td colspan="2" align="center" >Productive Actual Calls</td>
            </tr>
            <tr align="left" class="blackCatHead" height="20px" ;  style="font-size:12px; background-color:#E9E9E9;">
              <td align="center" >Planned</td>
              <td align="center" >Unplanned</td>
              <td align="center" >Planned</td>
              <td align="center" >Unplanned</td>
            </tr>        
            {{for i in range(len(records)):}}
            {{recStr=records[i]}}
            <tr  align="left" class="blackCat"  style="vertical-align:middle; font-size:11px;">
                <td align="left" >{{=recStr['level0']}}|{{=recStr['level0_name']}}</td>
                <td align="left" >{{=recStr['level1']}}|{{=recStr['level1_name']}}</td>
                <td align="left" >{{=recStr['level2']}}|{{=recStr['level2_name']}}</td>
                <td align="left" >{{=recStr['rep_id']}}|{{=recStr['rep_name']}}</td>
                <td align="right" style="text-align:center;">{{=recStr['actual_client_call_scheduled']}}</td>
                <td align="right" style="text-align:center;">{{=recStr['actual_client_call_unscheduled']}}</td> 
                <td align="right" style="text-align:center;">&nbsp;</td>
                <td align="right" style="text-align:center;">&nbsp;</td>
            </tr>
            {{pass}}       
        </table>
     {{pass}}
    <!--<br/>    
    {{ if page: }}    
        <a href="{{=URL(args=[page-page],vars=dict())}}">first</a> |     
        <a href="{{=URL(args=[page-1],vars=dict())}}">previous</a> |    
    {{pass}}
    {{if len(records)>items_per_page:}}    
    	<a href="{{=URL(args=[page+1],vars=dict())}}">next</a>    
    {{pass}}    
    <br/>-->
    </body>
</html>

