{{extend 'layout_report.html'}}
<html>
    <head>
    </head>
    <body>    
    <div class="blackCatTitle">&nbsp;Attendance Summary SR Wise</div>       
    <!--<table width="900px;"> <tr><td style="text-align:right"><a href="{{=URL(c='',f='',vars=dict())}}" >Downlaod</a></td></tr></table>
    -->
    <table width="900" class="sample_border" >
        <tr style="background-color:#E6E6E6;">
            <td width="150" >Date Range</td>
            <td width="100" >{{=session.level0Name}}</td>
            <td width="100" >{{=session.level1Name}}</td>
            <td width="150" >Visit By</td>
        </tr>
        <tr style="background-color:#F0FAFF">
            <td width="150" >							
            {{=datetime.datetime.strptime(fromDate,'%Y-%m-%d').strftime('%d-%m-%Y ')}} <b> To</b> {{=datetime.datetime.strptime(toDate,'%Y-%m-%d').strftime('%d-%m-%Y ')}}</td>
            <td width="100" align="left" valign="top">{{if regionValue=='':}}
            All
            {{else:}}
            {{=regionValueShow}}{{pass}}</td>
            <td width="100" align="left" valign="top">{{if areaValue=='':}}
            All
            {{else:}}
            {{=areaValueShow}}{{pass}}</td>
            <td width="150" align="left" valign="top">{{if repCM=='':}}
            All
            {{else:}}
            {{=repCM}}{{pass}}
            </td>
        </tr>
    </table>
    <br/>			
    {{if len(records)==0:}}
    	Data not available
    {{else:}}
        <table width="900" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
            <tr align="left" class="blackCatHead" height="20px" ;  style="font-size:12px; background-color:#E9E9E9;">
                <td width="100" align="left"  >Zone </td>
                <td width="100" align="left"  >Region </td>
                <td width="100" align="left"  >Area </td>
                <td align="left"  >Rep </td>
                <td width="100" align="right" >Day Count</td>
            </tr>        
            {{for i in range(len(records)):}}
            {{recStr=records[i]}}
            {{if i%2==0:}}
                <tr  align="left" class="blackCat"  style="font-size:11px;">
            {{else:}}
                <tr  align="left" class="blackCat"  style="font-size:11px; background-color:#F5F5F5;">
            {{pass}}
            	<td  align="left" style=" text-align:left;">{{=recStr['level0']}}|{{=recStr['level0_name']}}</td>
                <td  align="left" style=" text-align:left;">{{=recStr['level1']}}|{{=recStr['level1_name']}}</td>
                <td  align="left" style=" text-align:left;">{{=recStr['level2']}}|{{=recStr['level2_name']}}</td>
                <td  align="left" style=" text-align:left;">{{=recStr['rep_id']}}|{{=recStr['rep_name']}}</td>
                <td  align="right" style=" text-align:center;">{{=recStr['no_of_visit_day']}}</td>             
            </tr>
            {{pass}}
            
        </table>
      {{pass}}
   
    </body>
</html>

