<div style="width:180px; " >                    
					<div id="accordion" style="width:180px;" >
						  
                          <div style=" background-color:#F2F2F2; border-radius:0px; margin:0px; padding:0px 0px 0px 0px; margin:0px; font-size:16px; height:25px; vertical-align:middle; background-image: linear-gradient( #F5F5F5 , #CACACA 50px);"><div id="AM">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AM</div></div>
						  <div style="margin:0px; padding:0px; border:0px;">
							<ul >
                            	
                                <li ><a href="{{=URL(c='channel',f='town')}}"><div>Town</div></a></li>
							 	<li ><a href="{{=URL(c='channel',f='channel')}}"><div>Channel</div></a></li> 
                                 
							</ul> 
						  </div>
                        
                          <div style=" background-color:#F2F2F2; border-radius:0px; margin:0px; padding:0px 0px 0px 0px; margin:0px; font-size:16px; height:25px; vertical-align:middle; background-image: linear-gradient( #F5F5F5 , #CACACA 50px);"><div id="AM">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AM</div></div>
						  <div style="margin:0px; padding:0px; border:0px;">
							<ul>
                            	
                            	<li ><a href="{{=URL(c='representative',f='rep')}}"><div>Rep/CM</div></a></li>								
								<li ><a href="{{=URL(c='visit',f='visitSchedule')}}"><div>Rep/CM Visit Schedule</div></a></li>		
                              
                                
							</ul> 
						  </div>

  </div><!-- page --> 

  </div>
  