{{extend 'layout.html'}}

 

  <style type="text/css">

 input[type=text], input[type=password],  select {

    margin: 2px 0px 2px 0px;

}

div.error {

    width: 170px;

}

 </style>
<script>

	$(function() {
		$("#sm_depot_market_depot_id").attr("readonly",true);
		$("#sm_depot_market_market_id").attr("readonly",true);
	});

</script>
 

  <table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;" >

  <tr height="30px" >

    <td width="300"><span class="blackCatTitle">Branch Market-Edit</span></td>

	<form action="{{=URL(c='depot_market',f='depot_market_add',args=[page])}}" method="post">

	<td width="215" align="right">	

	<input name="" type="submit"  value="Back"/>	</td>

	<td align="left">&nbsp;</td>

	</form>

  </tr>

  <tr  height="1px" style="background-color:#CCCCCC;">	

	<td width="300" align="left">	</td>

	<td colspan="2" align="right">	</td>

  </tr>

  </table>

  <table width="100%" height="500px"  border="0" cellspacing="0" cellpadding="0" class="page_color"  >

  <tr height="100%"  style="vertical-align:top;">

    <td>

	<table width="100%"  border="0" cellpadding="0" cellspacing="0"  >

      <tr>

        <td width="10px">&nbsp;</td>

        <td>&nbsp;</td>

      </tr>

      <tr>

        <td>&nbsp;</td>

        <td align="left">

          <table width="500">

            <tr>

              <td width="485" valign="top">
              
              <table width="400" class="blackCat">
                
                {{=form.custom.begin}}
                
                <tr>
                  
                  <td width="100">Branch ID</td>
                  
                  <td>{{=form.custom.widget.depot_id}}</td>
                  
                  </tr>
                
                <tr>
                  <td width="100">Market ID</td>
                  <td>{{=form.custom.widget.market_id}}</td>
                </tr>
                <tr>
                  <td>Market Name</td>
                  <td>{{=form.custom.widget.market_name}}</td>
                </tr>
                <tr>
                  
                  <td width="100">Delete</td>
                  
                  <td>{{=form.custom.deletable}}</td>
                  
                </tr>
                
                <tr>
                  
                  <td width="100">&nbsp;</td>
                  
                  <td>{{=form.custom.submit}}</td>
                  
                </tr>
                {{=form.custom.end}}
                </table>
                
                </td>

              </tr>

          </table>

		  </td>

      </tr>

		  </table>

	</td>

  </tr>

</table>