	div.selectBox
	{
		position:relative;
		display:inline-block;
		cursor:default;
		text-align:left;
		line-height:20px;
		clear:both;
		color:#888;
	}
	span.selected
	{
		width:30px;
		text-indent:5px;
		border:1px solid #ccc;
		border-right:none;
		/*border-top-left-radius:5px;
		border-bottom-left-radius:5px;*/
		background:#f6f6f6;
		overflow:hidden;
		text-align:left;
		height:20px;
	}
	span.selectArrow
	{
		width:15px;
		border:1px solid #ccc;
		/*border-top-right-radius:5px;
		border-bottom-right-radius:5px;*/
		text-align:center;
		font-size:14px;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
		background:#F8F8F8;
	}
	
	span.selectArrow,span.selected
	{
		position:relative;
		float:left;
		height:20px;
		z-index:1;
	}
	
	div.selectOptions
	{
		position:absolute;
		top:20px;
		left:0;
		width:46px;
		border:1px solid #ccc;
		/*border-bottom-right-radius:5px;
		border-bottom-left-radius:5px;*/
		overflow:hidden;
		background:#f6f6f6;
		padding-top:2px;
		text-align:left;
		display:none;
		font-size:14px;
		
	}
		
	span.selectOption
	{
		display:block;
		width:80%;
		line-height:20px;
		padding:5px 10%;
	}
	span.selectOption:hover
	{
		color:#f6f6f6;
		background:#4096ee;	
	}