{{extend 'layout.html'}}

  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/ui.theme.css')}}" type="text/css" />
  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/jquery-ui.css')}}" type="text/css" />
  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/style.css')}}" type="text/css" />
   <script src="{{=URL('static','js_and_css/jquery-1.8.2.js')}}"></script>
    <script src="{{=URL('static','js_and_css/jquery-ui.js')}}"></script>
  
  
  <style type="text/css">
	 input[type=text], input[type=password],  select {
    margin: 2px 0px 2px 0px;
	}
	
	#sm_client_status,#sm_client_category_id{
	width:auto;
	}
	#sm_client_client_id,#sm_client_area_id{
	width:70px;
	}
	
	#sm_client_op_balance,#sm_client_balance,#sm_client_credit_limit{
	width:60px;
	text-align:right;
	}
	
	div.error {
		color: white;
		padding: 0px;
		width: auto; 
		margin-left:0px;
	}
	.page_color,body{
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;	
		}
 </style>
 
<script>
var base_url=location.protocol + "//" + location.hostname + (location.port && ":" + location.port) + "/{{=request.application}}/";

$(function() {	 	
		//--------------------
		var approveSpoListStr=''
		
		$('#spo_idname').keyup(function(){
			//---------------------------;
			$.ajax({
				  url: base_url+'default/get_rep_list',
				  success: function(resStr) {
					  approveSpoListStr=resStr
				  }
				});
			
			//-------------------------
			var approveSpoList = approveSpoListStr.split(',');				
			var searchValue1=$("#spo_idname").val();
			
			//---------------- auto complete combo list
			var approveSpoList_new=new Array();
			lc=0;
			i =0;
			var valueStr1="";				
			while (i < approveSpoList.length)
			{
				valueStr1=approveSpoList[i];
				i=i+1;					
				var res1=valueStr1.toUpperCase().match(searchValue1.toUpperCase());
				if (res1!=null){
					approveSpoList_new[lc]=valueStr1;
					lc=lc+1;
					if (lc==30){
						break;
					};
				}else{
					continue;
				}					
			};
			
			//-------------- auto complete source
			$( "input#spo_idname" ).autocomplete({
				source: approveSpoList_new
			});
	  }); 
	  
		
		
		
		
		
		//---------------------
		var valueListStr="";
		
		$('#search_type').blur(function(){
			if ($('#search_type').val()=='ClientID'){
				//alert(base_url+'default/get_route_list');
				$.ajax({
					  url: base_url+'default/get_client_list',
					  success: function(resStr) {
						  valueListStr=resStr
					  }
					});
			}else if ($('#search_type').val()=='RepID'){
				//alert(base_url+'default/get_route_list');
				$.ajax({
					  url: base_url+'default/get_rep_list',
					  success: function(resStr) {
						  valueListStr=resStr
					  }
					});
			}else if ($('#search_type').val()=='AreaID'){
				$.ajax({
					  url: base_url+'default/get_area_list',
					  success: function(resStr) {
						  valueListStr=resStr
					  }
					});				
			}else if ($('#search_type').val()=='Status'){
				valueListStr='Submitted,Visited,Approved,Cancelled'
				
			}else if ($('#search_type').val()=='DepotID'){
				$.ajax({
					  url: base_url+'default/get_depot_list',
					  success: function(resStr) {
						  valueListStr=resStr
					  }
					});
			
			};
			
	 	});
	 
	 
		$('#search_value').keyup(function(){
			//-------------------------
			var valueList = valueListStr.split(',');				
			var searchValue=$("#search_value").val();
			
			//---------------- auto complete combo list
			var valueList_new=new Array();
			lc=0;
			i =0;
			var valueStr="";				
			while (i < valueList.length)
			{
				valueStr=valueList[i];
				i=i+1;					
				var res=valueStr.toUpperCase().match(searchValue.toUpperCase());
				if (res!=null){
					valueList_new[lc]=valueStr;
					lc=lc+1;
					if (lc==30){
						break;
					};
				}else{
					continue;
				}					
			};
			//alert (ref_list_new);
			
			//-------------- auto complete source
			$( "input#search_value" ).autocomplete({
				source: valueList_new
			});
		
	  }); 
	    
}); 

</script>

{{currYear=str(date_fixed)[0:4]}}
{{currMonth=str(date_fixed)[5:7]}}

<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;" >
  <tr height="30px" >
    <td><span class="blackCatTitle">Visit Plan</span></td>
  </tr>
  <tr  height="1px" style="background-color:#CCCCCC;">
	    <td ></td>
  </tr>
  </table>
  
  
  <table width="100%" height="500px"  border="0" cellspacing="0" cellpadding="0" class="page_color"  >
  <tr height="100%"  style="vertical-align:top;">
    <td>
	<table width="100%"  border="0" cellpadding="0" cellspacing="0"  >
      <tr>
        <td width="5">&nbsp;</td>
        <td>
		
        {{if access_permission==True:}}
		<table width="1000" border="0" cellpadding="0" cellspacing="0" >
			<form id="form1" name="form1" method="post" action="{{=URL(c='client_visit',f='visit_plan')}}">
            <tr>
				<td width="100">&nbsp;</td>
				<td width="900" align="right">
                <select id="yearValue" name="yearValue" style="width:80px;" >
                    <option value="">Year</option>
                    {{if session.yearValue=='2014':}}<option value="2014" selected>2014</option>{{else:}}<option value="2014">2014</option>{{pass}}
                    {{if session.yearValue=='2015':}}<option value="2015" selected>2015</option>{{else:}}<option value="2015">2015</option>{{pass}}
                    {{if session.yearValue=='2016':}}<option value="2016" selected>2016</option>{{else:}}<option value="2016">2016</option>{{pass}}
                    {{if session.yearValue=='2017':}}<option value="2017" selected>2017</option>{{else:}}<option value="2017">2017</option>{{pass}}
                    {{if session.yearValue=='2018':}}<option value="2018" selected>2018</option>{{else:}}<option value="2016">2018</option>{{pass}}
                    				
                  </select>
                    -
                    <select id="monthValue" name="monthValue" style="width:80px;" >
                      	<option value="">Month</option>
                        {{if session.monthValue=='01':}}<option value="01" selected>Jan</option>{{else:}}<option value="01">Jan</option>{{pass}}
                        {{if session.monthValue=='02':}}<option value="02" selected>Feb</option>{{else:}}<option value="02b">Feb</option>{{pass}}
                        {{if session.monthValue=='03':}}<option value="03" selected>Mar</option>{{else:}}<option value="03">Mar</option>{{pass}}
                        {{if session.monthValue=='04':}}<option value="04" selected>Apr</option>{{else:}}<option value="04">Apr</option>{{pass}}
                        {{if session.monthValue=='05':}}<option value="05" selected>May</option>{{else:}}<option value="05">May</option>{{pass}}
                        {{if session.monthValue=='06':}}<option value="06" selected>Jun</option>{{else:}}<option value="06">Jun</option>{{pass}}
                        {{if session.monthValue=='07':}}<option value="07" selected>Jul</option>{{else:}}<option value="07">Jul</option>{{pass}}
                        {{if session.monthValue=='08':}}<option value="08" selected>Aug</option>{{else:}}<option value="08">Aug</option>{{pass}}
                        {{if session.monthValue=='09':}}<option value="09" selected>Sep</option>{{else:}}<option value="09">Sep</option>{{pass}}
                        {{if session.monthValue=='10':}}<option value="10" selected>Oct</option>{{else:}}<option value="10">Oct</option>{{pass}}
                        {{if session.monthValue=='11':}}<option value="11" selected>Nov</option>{{else:}}<option value="11">Nov</option>{{pass}}
                        {{if session.monthValue=='12':}}<option value="12" selected>Dec</option>{{else:}}<option value="12">Dec</option>{{pass}}
                    </select>
                    
                	{{if session.spo_id=='' or session.spo_id==None:}}
                    	<input  name="spo_idname" type="text" id="spo_idname" size="25" value="" placeholder="Select SPO" autocomplete="off" style="width:300px"/>
                    {{else:}}
                    	<input  name="spo_idname" type="text" id="spo_idname" size="25" value="{{=session.spo_idname}}" placeholder="Select SPO" autocomplete="off" style="width:300px"/>
                    {{pass}}
                  	
                    <input type="submit" name="btn_approved_filter" id="btn_approved_filter" value="Filter"   class="button_update"/>
                    <input type="submit" name="btn_approved" id="btn_approved" value="Approved"   class="button_update"/>
                        
                </td>
				<td align="right">&nbsp;</td>
			</tr>
            </form>
		</table>
		{{pass}}
        
        
		</td>
      </tr>
      <tr>
        <td width="5">&nbsp;</td>
        <td>			
            <br />
               <table width="1000" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
               
			   <form id="form1" name="form1" method="post" action="{{=URL(c='client_visit',f='visit_plan')}}">
                 <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">
                   <td width="180" >
                   <select name="search_type" id="search_type" style="width:180px" >
                       <option selected="selected">Select a Type</option>
                        {{if session.search_type_vp=='RepID':}}<option value="RepID" selected="selected">REP ID/Name/Mobile</option>{{else:}}<option value="RepID" >REP ID/Name/Mobile</option>{{pass}}
                        {{if session.search_type_vp=='ClientID':}}<option value="ClientID" selected="selected">Client ID/Name</option>{{else:}}<option value="ClientID" >Client ID/Name</option>{{pass}}
                        {{if session.search_type_vp=='AreaID':}}<option value="AreaID" selected="selected">Market ID/Name</option>{{else:}}<option value="AreaID" >Market ID/Name</option>{{pass}}
                        {{if session.search_type_vp=='VisitedFlag':}}<option value="VisitedFlag" selected="selected">Visited (0/1)</option>{{else:}}<option value="VisitedFlag" >Visited (0/1)</option>{{pass}}
                        {{if session.search_type_vp=='Status':}}<option value="Status" selected="selected">Status</option>{{else:}}<option value="Status" >Status</option>{{pass}}
                        
                        {{if session.user_vp!='Depot':}}
                            {{if session.search_type_vp=='DepotID':}}<option value="DepotID" selected="selected">Distributor</option>{{else:}}<option value="DepotID" >Distributor</option>{{pass}}
                        {{pass}}              
                   </select>
				   </td>
                   <td >
                   {{if session.search_value_vp=='' or session.search_value_vp==None:}}
                    <input  name="search_value" type="text" id="search_value" size="25" value="" placeholder="Select a value" autocomplete="off" style="width:300px"/>
                  {{else:}}
                    <input  name="search_value" type="text" id="search_value" size="25" value="{{=session.search_value_vp}}" placeholder="Select a value" autocomplete="off" style="width:300px"/>
                  {{pass}}
                   
                   </td>
                   <td width="100" align="right"  ><input type="submit" name="btn_filter" id="btn_filter" value="Filter"   class="button_update"/>
                   <input type="submit" name="btn_all" id="btn_all" value="All"   class="button_update"/></td>
                   <td width="200" align="right"  >&nbsp;</td>
                   <td width="80" align="right"  ><a href="{{=URL(c='client_visit',f='download_visit_plan')}}">
                   <input type="button" name="" id="" value="Download"   class="button_update" title="Need Filter"/></a></td>
                   
                   {{if access_permission==True:}}
                   <td width="80" align="right"  >
                   <a href="{{=URL(c='client_visit',f='visit_plan_batch_upload')}}">
                     <input type="button" name="input" id="input" value="Batch Upload"   class="button_update" title=""/></a>
                   </td>
                   {{pass}}
                   
                  </tr>
			     </form>
            </table>
				<br />
			 <table width="1000" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
               <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">
                 <td width="80" >Date</td>
                 <td width="150" >SPO</td>
                 <td width="180" >Retailer</td>
                 <td >Market</td>
                 <td width="100" >Depot</td>
                 <td width="50" align="center" >V.SL</td>
                 <td width="80" align="center" >V.Date</td>
                 <td width="50" align="center" >Status </td>
                 {{if access_permission==True:}}
                 <td width="20" align="right" >&nbsp;</td>
                 <td width="40" align="center" >&nbsp;</td>
                 {{pass}}
               </tr>
			   			   
			   	  
			   {{for i,record in enumerate(records):}}
			   		{{ if i==items_per_page: break}}
  
                      <tr  align="left" class="blackCat"  style="font-size:12px"> 
                      <td width="80" >{{=record.schedule_date}}</td>
                      <td width="150" >{{=record.rep_id}} -{{=record.rep_name}}</td>
                      <td width="180" >{{=record.client_id}} -{{=record.client_name}}</td>
                      <td >{{=record.route_id}} -{{=record.route_name}}</td>
                      <td width="100" >                        {{=record.depot_id}} -{{=record.depot_name}}</td>
                      <td width="50" align="center"  >{{if record.visit_sl!=0:}}<a href="{{=URL(c='client_visit',f='visit_details',args=[page],vars=dict(vsl=record.visit_sl))}}" target="_blank">{{=record.visit_sl}}</a>{{pass}}</td>
                      <td width="80" align="center"  >{{if record.visit_date!=None:}}{{=record.visit_date}}{{pass}}</td>
                      <td width="50" align="center"  >{{=record.status}}</td>
                      
                      {{if access_permission==True:}}
                      <form id="form1" name="form1" method="post" action="{{=URL(c='client_visit',f='visit_plan',args=[page,record.id])}}">
                      <td width="20" align="right"  >
                      {{if record.status=='Submitted':}}
                      <input type="checkbox" name="check_cancel" id="check_cancel" value="YES" title="Confirmation to cancel" style="width:18px; height:18px;"/>
                      {{pass}}
                      </td>
                      <td width="40" align="center"  >
                      {{if record.status=='Submitted':}}
                      <input type="submit" name="btn_delete" id="btn_delete" value=" X "/>
                      {{pass}}</td>
                      </form>
                      {{pass}}
                      
                    </tr>
  
			   {{pass}}
	
    </table>
    
	      </td>
         </tr>
    </table>

{{if page:}}
&nbsp;&nbsp;<a href="{{=URL(args=[page-page])}}">first</a> |  
&nbsp;&nbsp;<a href="{{=URL(args=[page-1])}}">previous</a> |
{{pass}}

{{if len(records)>items_per_page:}}
&nbsp;&nbsp;<a href="{{=URL(args=[page+1])}}">next</a>
{{pass}}</td>
  </tr>
</table>

