
    
{{extend 'layout_wap.html'}}
    

<table width="100%"  border="0" cellpadding="0" cellspacing="0">



    
    
    <tr style="background-color:#DDDDDD">
      <td colspan="2" align="left" >Route: Bashundhara </td>
      </tr>
    <tr style="background-color:#DDDDDD">
      <td colspan="2"  align="left" >{{=session.wap_client_name}}[{{=session.wap_client_id}}]:</td>
      </tr>
	  
    
	{{
	x=0
	for record in records_item:}}
	
	
	<form  name="form1" action="{{=URL(c='wap',f='show_cart')}}" method="post"  >
	<tr >
      <td width="20" align="left" >
	  <input  type="text" name="item_qty" id="item_qty" size="2"   />
	  <input  type="hidden" name="item_id" id="item_id" size="2" value="{{=record.item_id}}"   />
	  <input  type="hidden" name="category_id" id="category_id" size="2" value="{{=record.category_id}}"   />
	  <input  type="hidden" name="price" id="price" size="2" value="{{=record.price}}"   />
	  <input  type="hidden" name="item_name" id="item_name" size="2" value="{{=record.name}}"   />
	  
	  </td>
      <td  align="left" >{{=record.name}}[{{=record.item_id}}]</td>
      </tr>
    <tr >
      {{ 
	  x=x+1
	  
	  pass}}
	  
	  {{#=x}}
    <tr>
      <td align="left" >&nbsp;</td>
      <td align="left" ><input type="submit" name="login" id="login" value="Next" /></td>
    </tr>
    <tr>
      <td align="left" >&nbsp;</td>
      <td align="left" ><a href="{{=URL(c='wap',f='menu')}}">Menu</a></td>
    </tr>
	</form>
</table>   
</div> 
  























