{{extend 'layout_wap.html'}}
    


    <table align="left" cellpadding="2"  cellspacing="0"width="100%" border="0" >
	  <tr style="background-color:#DDDDDD" >
		<td  align="left" valign="top">Menu
	   
	  </td>
	  </tr>
  <form  name="form1" action="{{=URL(c='default',f='check_user')}}" method="post"  >
    
    <tr >
      <td  align="left" ><a href="{{=URL(c='wap',f='order')}}">Order</a></td>
      </tr>
    <tr >
      <td  height="27" align="left" ><a href="{{=URL(c='wap',f='delivery')}}">Delivery</a></td>
      </tr>
    <tr >
      <td align="left" ><a href="{{=URL(c='wap',f='route')}}">Select Route</a></td>
      </tr>
    <tr>
      <td align="left" ><a href="{{=URL(c='wap',f='settings')}}">Settings</a></td>
      </tr>
    <tr>
      <td align="left" ><a href="{{=URL(c='depot',f='primary_sales_home')}}"></a></td>
    </tr>
    <tr>
      <td align="left" ><a href="{{=URL(c='wap',f='logout')}}">logout</a></td>
    </tr>
	</form>
</table>   

