{{extend 'layout.html'}}
 
<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;" >
  <tr height="30px" >
    <td><span class="blackCatTitle">Notice</span></td>
  </tr>
  <tr  height="1px" style="background-color:#CCCCCC;">
	    <td ></td>
  </tr>
</table>
  
  
  <table width="100%" height="500px"  border="0" cellspacing="0" cellpadding="0" class="page_color"  >
  <tr height="100%"  style="vertical-align:top;">
    <td width="10px">&nbsp;</td>
    <td>
	<table width="100%"  border="0" cellpadding="0" cellspacing="0"  >
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
		
		{{if access_permission==True:}} 
		
          <table class="blackCat">
		  
		  {{=form.custom.begin}}
            <tr>
              <td> Date </td>
              <td>{{=form.custom.widget.notice_date}}</td>
              <td>&nbsp;</td>
              </tr>
            <tr>
              <td>notice</td>
              <td>&nbsp;<textarea name="notice"></textarea>
                
                </td>
              <td>&nbsp;</td>
              </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;&nbsp;{{=form.custom.submit}}</td>
              <td>&nbsp;</td>
              </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              </tr>
			{{=form.custom.end}}
          </table>
          {{pass}}

  
    
          <br />
          <table width="700" border="1"  class="sample_border" >
		  <form id="form1" name="form1" method="post" action="{{=URL(c='',f='')}}">
            <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">
              <td width="100" >Search Type:</td>
              <td width="100" >
                <select name="search_type" id="search_type" style="width:100px" >
				<option selected="selected"></option>
				  <option value="Mobile No" >Mobile No</option>
				  <option value="Status" >Status</option>
				  <option value="Depot" >Depot</option>
                </select>              </td>
              <td width="196" ><input  name="search_value" type="text" id="search_value" size="25" value="" title="" /></td>
              <td height="28" align="right"  ><input type="submit" name="btn_filter_doctor" id="btn_filter_doctor" value="Filter"   class="button_update"/>
                &nbsp;
                <input type="submit" name="btn_rep_all" id="btn_rep_all" value="All"   class="button_update"/>
                &nbsp;&nbsp;<a href="{{=URL(c='doctor',f='download_doctor')}}">
			    <input type="button" name="" id="" value="Download"   class="button_update"/>
                </a></td>
			  </tr></form>
          </table>
  
			 <br />
			 <table width="700" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
               <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">
                 <td width="212" >Date</td>
                 <td width="212" >Notice</td>
                 <td width="52" ></td>
               </tr>
			   {{ p=0}} 		  
			   {{for i,record in enumerate(records):}}
			   {{# if i==items_per_page: break}}
  <form id="form1" name="form1" method="post" action="{{=URL(c='office',f='notice_edit',args=[page,record.id])}}">
    {{ p=p%2 }}
    
    <tr  align="left" class="blackCat"  style="vertical-align:middle"> 
      <td width="212" ><input  name="record_id" type="hidden" id="record_id" size="25" value="{{=record.id}}" title="" />
        {{=record.notice_date}}</td>
      <td width="212" >{{=record.notice}}</td>
      <td width="52"  >
	  	  <input type="submit" name="btn_go" id="btn_go" value="&gt;&gt;"   class="button_update"/>	    </td>
    </tr>
  </form>
			   {{ p=p+1 }} 
			   {{pass}}
		    </table>
		  </td></tr>
    </table>
	
	
     
{{if page:}}
<a href="{{=URL(args=[page-page])}}">first</a> | 
<a href="{{=URL(args=[page-1])}}">previous</a> |
{{pass}}

{{if len(records)>items_per_page:}}
<a href="{{=URL(args=[page+1])}}">next</a>
{{pass}}	</td>
  </tr>
</table>

