{{extend 'layout.html'}}
  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/ui.theme.css')}}" type="text/css" />
  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/jquery-ui.css')}}" type="text/css" />
  <link rel="stylesheet" href="{{=URL('static', 'js_and_css/style.css')}}" type="text/css" />
   <script src="{{=URL('static','js_and_css/jquery-1.8.2.js')}}"></script>
    <script src="{{=URL('static','js_and_css/jquery-ui.js')}}"></script>
    
 <style type="text/css">
	input[type=text], input[type=password],  select {
		margin: 2px 0px 2px 0px;
		width:150px;
	}
	div.error {
		margin-left:0px;
		width:auto;
	}
	#sm_doctor_area_field2{
	width:50px;
	text-align:right;
	}
	.page_color,body{
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;	
		}
 </style>
<script>
var base_url=location.protocol + "//" + location.hostname + (location.port && ":" + location.port) + "/{{=request.application}}/";

$(function() {
	 	var valueListStr="";
		
		$('#search_type').blur(function(){
			if ($('#search_type').val()=='DocID'){
				
				$.ajax({
					  url: base_url+'default/get_doctor_list',
					  success: function(resStr) {
						  valueListStr=resStr
					  }
					});
			}else if ($('#search_type').val()=='Status'){
				valueListStr='ACTIVE,INACTIVE'
				
			}else if ($('#search_type').val()=='RouteID'){
				$.ajax({
					  url: base_url+'default/get_area_list',
					  success: function(resStr) {
						  valueListStr=resStr
					  }
					});
			
			}else if ($('#search_type').val()=='DepotID'){
				$.ajax({
					  url: base_url+'default/get_depot_list',
					  success: function(resStr) {
						  valueListStr=resStr
					  }
					});
			
			}else if ($('#search_type').val()=='Region'){
				$.ajax({
					  url: base_url+'default/get_region_list',
					  success: function(resStr) {
						  valueListStr=resStr
					  }
					});
			
			}else if ($('#search_type').val()=='RepID'){
				$.ajax({
					  url: base_url+'default/get_all_ff_list',
					  success: function(resStr) {
						  valueListStr=resStr
					  }
					});
			};		
			
	 	});
	 
		$('#search_value').keyup(function(){
			//-------------------------
			var valueList = valueListStr.split(',');				
			var searchValue=$("#search_value").val();
			
			//---------------- auto complete combo list
			var valueList_new=new Array();
			lc=0;
			i =0;
			var valueStr="";				
			while (i < valueList.length)
			{
				valueStr=valueList[i];
				i=i+1;					
				var res=valueStr.toUpperCase().match(searchValue.toUpperCase());
				if (res!=null){
					valueList_new[lc]=valueStr;
					lc=lc+1;
					if (lc==30){
						break;
					};
				}else{
					continue;
				}					
			};
			//alert (ref_list_new);
			
			//-------------- auto complete source
			$( "input#search_value" ).autocomplete({
				source: valueList_new
			});
		
	  }); 
	  
}); 

</script>
 
<body class="claro">   
<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;" >
  <tr height="30px" >
    <td width="800"><span class="blackCatTitle">Prescription</span></td>
	<td width="210" align="right">&nbsp;</td>	
    <td>&nbsp;</td>
  </tr>
  <tr  height="1px" style="background-color:#CCCCCC;">
	    <td colspan="3" ></td>
  </tr>
</table>
  
  <table width="100%" height="500px"  border="0" cellspacing="0" cellpadding="0" class="page_color" id="table_big"  >
  <tr height="100%"  style="vertical-align:top;">
    <td width="10px">&nbsp;</td>
    <td>
	<table width="100%"  border="0" cellpadding="0" cellspacing="0"  >
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
		
		<table width="900" border="1"  class="sample_border" >
          <form id="form1" name="form1" method="post" action="{{=URL(c='doctor_visit',f='prescription_list')}}">
            <tr align="left" class="blackCatHead"  height="20px">
              <td width="100" height="28" >
                <select name="search_type" id="search_type" style="width:250px" >
                  <option selected="selected" value="">Select a Type</option>
                  {{if session.searchType_prescription=='DocID':}}<option value="DocID" selected="selected">Doctor ID/Name/Mobile</option>{{else:}}<option value="DocID" >Doctor ID/Name/Mobile</option>{{pass}}
                  {{if session.searchType_prescription=='RepID':}}<option value="RepID" selected="selected">Field-Force ID/Name/Mobile</option>{{else:}}<option value="RepID" >Field-Force ID/Name/Mobile</option>{{pass}}
                  {{if session.searchType_prescription=='Date':}}<option value="Date" selected="selected">Date(YYYY-MM-DD)</option>{{else:}}<option value="Date" >Date(YYYY-MM-DD)</option>{{pass}}
                                    
                </select>
              </td>
              
              <td width="120" >
              {{if session.searchValue_prescription=='' or session.searchValue_prescription==None:}}
                    <input name="search_value" type="text" id="search_value" size="25" value="" placeholder="Select value" autocomplete="off" style="width:150px"/>
                {{else:}}
                    <input name="search_value" type="text" id="search_value" size="25" value="{{=session.searchValue_prescription}}" placeholder="Select value" autocomplete="off" style="width:150px"/>
                {{pass}}                
              </td>
              <td align="left"><input type="submit" name="btn_filter" id="btn_filter" value="Filter"   class="button_update"/>
              <input type="submit" name="btn_filter_all" id="btn_filter_all" value="All"   class="button_update"/>
              </td>

              <td width="100" align="right"  ><select name="search_month" id="search_month"  >
                <option selected="selected" value="">Select Month</option>
                <option value="JAN" >JAN</option>
                <option value="FEB" >FEB</option>
                <option value="MAR" >MAR</option>
                <option value="APR" >APR</option>
                <option value="MAY" >MAY</option>
                <option value="JUN" >JUN</option>
                <option value="JUL" >JUL</option>
                <option value="AUG" >AUG</option>
                <option value="SEP" >SEP</option>
                <option value="OCT" >OCT</option>
                <option value="NOV" >NOV</option>
                <option value="DEC" >DEC</option>

                                    
                
              </select></td>
              <td width="100" align="right"  ><input type="submit" name="btn_download" id="btn_download" value="Download"   class="btn_download"/></td>
          </tr>
		  </form>
        </table>
		Total: {{=totalCount}}<br />
         <table width="900" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
           <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">
             <td width="100" >Date</td>
             <td width="250" >Doctor</td>
             <td align="left" >Submit By</td>
             <td width="50" align="left" >GeoInfo</td>
             <td width="50" align="right" ></td>
           </tr>
           
			   
	   {{ p=0}} 		  
	   {{for i,record in enumerate(records):}}
	   {{ if i==items_per_page: break}}
  
		  <tr  align="left" class="blackCat"  style="vertical-align:middle; font-size:11px;"> 
		  <td width="100" >{{=record.submit_date}}</td>
		  <td width="250" >{{=record.doctor_name}}</td>
		  <td align="left" >{{=record.submit_by_id}} | {{=record.submit_by_name}}</td>
          {{lat_long=str(record.lat_long)}}
		  <td width="50" align="left" >
		    {{if (str(lat_long)!='0,0'): }}
		    <a href="{{='https://maps.google.com/?q='+str(lat_long)}}" target="_blank">Location</a>
		    {{pass}}
		    </td>
		  <form id="form1" name="form1" method="post" action="{{=URL(c='doctor_visit',f='prescription_details',args=[page,record.id])}}">
		    <td width="50" align="right"><input type="submit" name="btn_go2" id="btn_go2" value="Details"   class="button_update"/></td>
		    </form>
		</tr>
			   {{pass}}
		    </table>
		  <p>&nbsp;</p>
        </td></tr>
    </table>
   
{{if page:}}
<a href="{{=URL(args=[page-page])}}">first</a> |   
<a href="{{=URL(args=[page-1])}}">previous</a> |
{{pass}}

{{if len(records)>items_per_page:}}
<a href="{{=URL(args=[page+1])}}">next</a>
{{pass}}	</td>
  </tr>
</table>

</body>
